<%- include('dashboard_header_professional')-%>
  <%- include('edit-profile-professional-model')-%>

    <div class="dashboard-wpr">
      <div class="container-fluid">
        <div class="row content">
          <div class="col-sm-2 sidenav hidden-xs-down">
            <div class="user-login text-center">
              <div class="user-profile">
                <img src="../images/user-3.png" alt="" title="">
              </div>
              <div class="user-name">
                <h6>
                  <%= session.name%>,<span><i>
                        <%= session.role %>
                      </i>
                    </span>
                </h6>

                <a href="#"><i>
                    <%= session.email%>
                      <%- include('edit-profile-professional-icon')-%>
                  </i></a>
              </div>
            </div>
            <%-include('sidebar-professional')-%>
          </div>
          <div class="col-sm-12 col-lg-10">

            <div class="complaints-sec">
              <div class="complaints">
                <h2>Complaints</h2>
              </div>

            </div>

            <div class="dashboard-inner">
              <div class="col-sm-12 col-lg-12">
                <div class="complaints-section">
                  <div class="row">
                    <table class="table table-responsive table-phase-fix">
                      <thead>
                        <tr>
                          <th>Complaint ID</th>
                          <th>Client Name</th>
                          <th class="message-th">Message</th>
                          <th>Property Name</th>
                          <th>Date</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <p>C1234</p>
                          </td>
                          <td>Andrew Wills </td>
                          <td>Lorem ipsum dolor sit amet,</td>
                          <td>Nacary Apartment </td>
                          <td>16 Nov, 2020</td>
                          <td><a href="/service-provider/complaints-professional-detail"
                              class="btn btn-pending">PENDING</a></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-lg-12">
                <div class="professional-files-section msg-sec">
                  <div class="row">
                    <div class="col-sm-12 col-lg-12">
                      <div class="messages-section">
                        <div class="messages-box clearfix">
                          <div class="message-user-img">
                            <img src="../images/recent-user-1.png" alt="" title="">
                          </div>
                          <div class="message-content">
                            <h3>You</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                              Ipsum
                              has been the industry's standard dummy text ever since the 1500s,</p>
                            <p class="hours-ago text-right">13 hours ago</p>
                          </div>
                        </div>
                        <div class="messages-box clearfix">
                          <div class="message-user-img">
                            <img src="../images/recent-user-1.png" alt="" title="">
                          </div>
                          <div class="message-content">
                            <h3>Alex Jackson</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                              Ipsum
                              has been the industry's standard dummy text ever since the 1500s,</p>
                            <p class="hours-ago text-right">13 hours ago</p>
                          </div>
                        </div>
                        <div class="messages-box clearfix">
                          <div class="message-user-img">
                            <img src="../images/recent-user-1.png" alt="" title="">
                          </div>
                          <div class="message-content">
                            <h3>you</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                              Ipsum
                              has been the industry's standard dummy text ever since the 1500s,</p>
                            <p class="hours-ago text-right">13 hours ago</p>
                          </div>
                        </div>
                        <div class="messages-box clearfix">
                          <div class="message-user-img">
                            <img src="../images/recent-user-1.png" alt="" title="">
                          </div>
                          <div class="message-content">
                            <h3>Alex Jackson</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                              Ipsum
                              has been the industry's standard dummy text ever since the 1500s,</p>
                            <p class="hours-ago text-right">13 hours ago</p>
                          </div>
                        </div>
                        <div class="text-message-box clearfix">
                          <div class="text-box">
                            <textarea class="form-control" style="min-width: 80%; margin-bottom: 10px; " rows="3"
                              id="comment">Write your reply here</textarea>

                            <button type="submit" class="btn btn-next"
                              style="width: 164px; float:right; border-radius: 5px;">
                              Send</button>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>






            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <%-include('professional-footer')-%>
      </body>

      </html>