<%- include('dashboard_header_professional')-%>
  <%- include('edit-profile-professional-model')-%>

    <!-- The Modal -->
    <div class="modal permission-modal fade " id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header text-center">
            <h2 class="modal-title w-100">Raise a Complaint</h2>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <select class="form-control " id="selectBox">
              <option value="0">Select professional</option>
              <option value="">2</option>
            </select>

            <input type="text" class="form-control  form-control-fix2" id="subject" placeholder="Subject"
              name="subject">
            <textarea class="form-control  form-control-fix2" rows="3" id="comment">Add Notes</textarea>

            <div class="model-btn-fix">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-cancel" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-cancel" data-dismiss="modal">Save</button>
          </div>
        </div>
      </div>
    </div>
    <div class="dashboard-wpr">
      <div class="container-fluid">
        <div class="row content">
          <div class="col-sm-2 sidenav hidden-xs-down">
            <div class="user-login text-center">
              <%- include('sp-profile-image')-%>
                <div class="user-name">
                  <h6>
                    <%= session.name%>,<span><i>
                          <%= session.role %>
                        </i>
                      </span>
                  </h6>

                  <a href="#"><i>
                      <%= session.email%>
                        <%- include('edit-profile-professional-icon')-%>
                    </i></a>
                </div>
            </div>
            <%-include('sidebar-professional')-%>
          </div>
          <div class="col-sm-12 col-lg-10">

            <div class="row complaints-sec">
              <div class="col-sm-6 col-lg-6">
                <div class="complaints">
                  <h2>Complaints</h2>
                </div>
              </div>
              <div class="col-sm-6 col-lg-6">
                <div class="complaints float-right">
                  <a href="#" data-toggle="modal" data-target="#MyComplaintModal" class="btn btn-complaint">
                    Raise a New Complaint</a>
                </div>
              </div>

            </div>

            <div class=" dashboard-inner">
              <% if(complaintData.length > 0){ %>
              <table class="table table-responsive table-phase-fix">
                <thead>
                  <tr>
                    <th>Complaint ID</th>
                    <th>Complaint Type</th>
                    <th class="message-th">Complaint Subject</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% var i=0; complaintData.forEach(function(row){ %>
                    <tr>
                      <td>
                        <p>
                          <%= row.coms_complaint_code%>
                        </p>
                      </td>
                      <td>
                        <%= row.coms_complaint_help%>
                      </td>
                      <td>
                        <%= row.coms_complaint_subject%>
                      </td>
                      <td>
                        <%= new Intl.DateTimeFormat('en-GB', { year: 'numeric' , month: 'long' , day: '2-digit'
                          }).format(new Date(row.coms_created_at)) %>
                      </td>
                      <td><a href="javascript:void(0)" class="btn btn-pending">
                          <%= row.coms_complaint_status%>
                        </a></td>
                      <td> <a href="/service-provider/complaints-professional-detail?complaintID=<%= row.coms_complaint_code%>" data-toggle="tooltip"
                          data-placement="top" title="Complaint-detail"><img src="../images/eye.png"></a> </td>
                    </tr>
                    <% i++;});%>
                </tbody>
              </table>
              <% }else{ %> 
                <p style="text-align:center">Complaint Not found !!</p>  
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <%-include('professional-footer')-%>
      </body>

      </html>