<%- include('dashboard_header_professional')-%>
  <%- include('edit-profile-professional-model')-%>

    <!-- The Modal -->
    <div class="modal permission-modal fade " id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header text-center">
            <h2 class="modal-title w-100">Raise a Complaint</h2>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <select class="form-control " id="selectBox">
              <option value="0">Select professional</option>
              <option value="">2</option>
            </select>

            <input type="text" class="form-control  form-control-fix2" id="subject" placeholder="Subject"
              name="subject">
            <textarea class="form-control  form-control-fix2" rows="3" id="comment">Add Notes</textarea>

            <div class="model-btn-fix">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-cancel" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-cancel" data-dismiss="modal">Submit</button>
          </div>
        </div>
      </div>
    </div>
    <div class="dashboard-wpr">
      <div class="container-fluid">
        <div class="row content">
          <div class="col-sm-2 sidenav hidden-xs-down">
            <div class="user-login text-center">
              <%- include('sp-profile-image')-%>
                <div class="user-name">
                  <h6>
                    <%= session.name%>,<span><i>
                          <%= session.role %>
                        </i>
                      </span>
                  </h6>

                  <a href="#"><i>
                      <%= session.email%>
                        <%- include('edit-profile-professional-icon')-%>
                    </i></a>
                </div>
            </div>
            <%- include('sidebar-professional')-%>
          </div>
          <div class="col-sm-12 col-lg-10">
            <div class="dashboard-inner">
              <div class="row back-to-home">
                <div class="breadcumb">
                  <ul>
                    <li><a href="/service-provider/myproperties-detail?id=<%=propertyData._id%>"><i
                          class="fa fa-long-arrow-left" aria-hidden="true"></i> Back
                        to <%=propertyData.ps_property_name%></a></li>
                  </ul>
                </div>
              </div>
              <div class="todo-list-table">
                <div class="clearfix">
                  <div class="heading-top float-left">
                    <h2>
                      <%=propertyData.ps_property_name%> <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Phase
                        <%=step%> :<%=phase%>
                    </h2>
                  </div>
                  <div class="total-time-cost float-right">
                    <div class="total-time"><a href="#">TOTAL TIME<br><span>525 days</span></a></div>
                    <div class="total-time"><a href="#">TOTAL COST<br><span>100,000 ￡</span></a></div>
                  </div>
                </div>
                <div class="phase-progress">
                  <div data-toggle="tooltip" data-placement="top" title="<%=progressResult%>%" data-original-title=""
                    class="progress" style="height:2.5rem; border-radius: 1.25rem;">

                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100"
                      aria-valuemin="0" aria-valuemax="100"
                      style='width:<%=progressResult%>%; background-color:#005377;overflow:hidden; display:inline-block;'>
                    </div>
                  </div>
                </div>
                <div class="action-owner">
                  <div class="clearfix">
                    <div class="float-left">
                      <p>Action</p>
                    </div>
                    <!-- <div class="float-right">

                      <a href="javascript:void(0)" class="add-professionals existingTaskListModal" data-toggle="modal"
                        data-target="#professionalPhaseA">Add

                        Existing Task</a>
                    </div> -->

                    <!-- <div class="float-right">

                      <a href="javascript:void(0)" class="add-professionals existingTaskListModal" data-toggle="modal"
                        data-target="#addTask">Add
                        Task</a>
                    </div> -->
                  </div>
                </div>
                <table class="table table-responsive table-phase-fix1">
                  <thead>
                    <tr>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>

                    </tr>
                  </thead>
                  <tbody>
                    <%if(taskObject.length==0){%>
                      <tr>
                        <td style='text-align: right;'>Task Not Found</td>
                      </tr>
                      <%}else{%>
                        <%taskObject.forEach(function(row,i){%>
                          <tr>
                            <td> <label class="check-todos">
                                <p>
                                  <%=row.ppts_task_name%>
                                </p>
                                <%if(row.ppts_task_status[row.index]=='completed_by_service_provider'){%>
                                  <input type="checkbox" checked disabled>

                                  <%}else{%>
                                    <input type="checkbox">
                                    <%}%>
                                      <span class="checkmark"></span>
                              </label></td>
                            <!-- <td><a href="#" class="upload-any"><img src="../images/upload.png"><span>
                                  <div class="custom-file-input">
                                    <input type="file">
                                    <input type="button">
                                  </div>
                                </span></a></td>
                            <td><a href="/service-provider/professionals-detail-message"><img
                                  src="../images/chat.png"></a>
                            </td> -->
                            <td><a href="#" class="upload-any"><img src="../images/upload.png"><span>
                              <div class="custom-file-input">
                                <input type="file" name="task-document"
                                  onchange="previewFile_upload_task_document(this,'<%=row._id%>','<%=row.ppts_property_id%>','<%=row.ppts_phase_name%>','<%=row.ppts_task_name%>','<%=row.ppts_property_id%>','<%=row.ppts_phase_flag%>')">
                                <input type="button">
                              </div>
                            </span></a></td>
                        <td><a
                            href="/service-provider/professionals-detail-message?id=<%=row.ppts_property_id%>&pid=<%=propertyData.ps_user_id%>"><img
                              src="../images/chat.png"></a>
                        </td>
                            <td><a class="btn help-btn" href="#" data-toggle="modal" data-target="#myModal">Help</a>
                            </td>
                            <td>
                              <% if(row.ppts_assign_to.includes(row.user_id)){%>

                                <div class="profile-dropdown">
                                  <%if(row.ppts_task_status[row.index]=='completed_by_service_provider'){%>
                                    <a class="btn btn-complete">Complete</a>
                                    <%}else if(row.ppts_task_status[row.index]=='in_progress' ){%>
                                      <a class="btn btn-progress">In Progress</a>
                                      <%}else{%>
                                        <a class="btn btn-pending">Pending</a>
                                        <%}%>
                                          <div class="status-dropdown" aria-labelledby="dropdownMenuButton">
                                            <a class="btn btn-pending "
                                              onclick="sp_task_statusUpdate('<%=row._id%>','pending')">Pending</a>
                                            <a class="btn btn-progress "
                                              onclick="sp_task_statusUpdate('<%=row._id%>','in_progress')">In
                                              Progress</a>
                                            <a class="btn btn-complete "
                                              onclick="sp_task_statusUpdate('<%=row._id%>','completed_by_service_provider')">Complete</a>
                                          </div>
                                </div>
                                <%}%>
                            </td>
                            <td class="edit-task<%=row._id%>">

                              <span>
                                <div class="profile-dropdown">
                                  <i class="fa fa-pencil editbtn"></i>
                                  <div class="dropdown-content">
                                    <a href="#" data-toggle="modal" data-target="#todoNotesModal<%=row._id%>">View
                                      Notes</a>
                                  </div>
                                </div>
                              </span>


                            </td>

                            <td>

                              <div id="todoNotesModal<%=row._id%>" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal">&times;</button>

                                    </div>
                                    <div class="modal-body">
                                      <p>
                                        <%=row.ppts_note%>

                                      </p>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                  </div>

                                </div>
                              </div>
                            </td>

                          </tr>
                          <%})%>
                            <%}%>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
    <%-include('professional-footer')-%>
      </body>

      </html>