<%- include('dashboard_header_professional')-%>
  <%- include('edit-profile-professional-model')-%>

    <!-- The Modal -->
    <div class="modal permission-modal fade " id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header text-center">
            <h2 class="modal-title w-100">Raise a Complaint</h2>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <select class="form-control " id="selectBox">
              <option value="0">Select professional</option>
              <option value="">2</option>
            </select>

            <input type="text" class="form-control  form-control-fix2" id="subject" placeholder="Subject"
              name="subject">
            <textarea class="form-control  form-control-fix2" rows="3" id="comment">Add Notes</textarea>

            <div class="model-btn-fix">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-cancel" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-cancel" data-dismiss="modal">Submit</button>
          </div>
        </div>
      </div>
    </div>
    <div class="dashboard-wpr">
      <div class="container-fluid">
        <div class="row content">
          <div class="col-sm-2 sidenav hidden-xs-down">
            <div class="user-login text-center">
              <div class="user-profile">
                <img src="../images/user-3.png" alt="" title="">
              </div>
              <div class="user-name">
                <h6>
                  <%= session.name%>,<span><i>
                        <%= session.role %>
                      </i>
                    </span>
                </h6>

                <a href="#"><i>
                    <%= session.email%>
                      <%- include('edit-profile-professional-icon')-%>
                  </i></a>
              </div>
            </div>
            <%- include('sidebar-professional')-%>
          </div>
          <div class="col-sm-12 col-lg-10">
            <div class="dashboard-inner">
              <div class="row back-to-home">
                <div class="breadcumb">
                  <ul>
                    <li><a href="/service-provider/myproperties-detail"><i class="fa fa-long-arrow-left"
                          aria-hidden="true"></i> Back
                        to Nacary Apartment</a></li>
                  </ul>
                </div>
              </div>
              <div class="todo-list-table">
                <div class="clearfix">
                  <div class="heading-top float-left">
                    <h2>Nacary Apartment <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Phase A : Instruction
                    </h2>
                  </div>
                  <div class="total-time-cost float-right">
                    <div class="total-time"><a href="#">TOTAL TIME<br><span>525 days</span></a></div>
                    <div class="total-time"><a href="#">TOTAL COST<br><span>100,000 ￡</span></a></div>
                  </div>
                </div>
                <div class="phase-progress">
                  <ul>
                    <li><a href="#">25%</a></li>
                    <li><a href="#">25%</a></li>
                    <li><a href="#">25%</a></li>
                    <li><a href="#">25%</a></li>
                  </ul>
                </div>
                <div class="action-owner">
                  <div class="clearfix">
                    <div class="float-left">
                      <p>Action</p>
                    </div>

                  </div>
                </div>
                <table class="table table-responsive table-phase-fix1">
                  <thead>
                    <tr>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td> <label class="check-todos">
                          <p>Instruct solicitor</p>
                          <input type="checkbox">
                          <span class="checkmark"></span>
                        </label></td>
                      <td><a href="#" class="upload-any"><img src="../images/upload.png"><span>
                            <div class="custom-file-input">
                              <input type="file">
                              <input type="button">
                            </div>
                          </span></a></td>
                      <td><a href="/service-provider/professionals-detail-message"><img src="../images/chat.png"></a>
                      </td>
                      <td><a class="btn help-btn" href="#" data-toggle="modal" data-target="#myModal">Help</a></td>

                    </tr>
                    <tr>
                      <td><label class="check-todos">
                          <p>Instruct other professionals</p>
                          <input type="checkbox">
                          <span class="checkmark"></span>
                        </label></td>
                      <td><a href="#" class="upload-any"><img src="../images/upload.png"><span>
                            <div class="custom-file-input">
                              <input type="file">
                              <input type="button">
                            </div>
                          </span></a></td>
                      <td><a href="service-provider/professionals-detail-message"><img src="../images/chat.png"></a>
                      </td>
                      <td><a class="btn help-btn" href="#" data-toggle="modal" data-target="#myModal">Help</a></td>
                    </tr>
                    <tr>
                      <td><label class="check-todos">
                          <p>ID/Passport</p>
                          <input type="checkbox">
                          <span class="checkmark"></span>
                        </label></td>
                      <td><a href="#" class="upload-any"><img src="../images/upload.png"><span>
                            <div class="custom-file-input">
                              <input type="file">
                              <input type="button">
                            </div>
                          </span></a></td>
                      <td><a href="/service-provider/professionals-detail-message"><img src="../images/chat.png"></a>
                      </td>
                      <td><a class="btn help-btn" href="#" data-toggle="modal" data-target="#myModal">Help</a></td>

                    </tr>
                    <tr>
                      <td><label class="check-todos">
                          <p>Proof of address</p>
                          <input type="checkbox">
                          <span class="checkmark"></span>
                        </label></td>
                      <td><a href="#" class="upload-any"><img src="../images/upload.png"><span>
                            <div class="custom-file-input">
                              <input type="file">
                              <input type="button">
                            </div>
                          </span></a></td>
                      <td><a href="/service-provider/professionals-detail-message"><img src="../images/chat.png"></a>
                      </td>
                      <td><a class="btn help-btn" href="#" data-toggle="modal" data-target="#myModal">Help</a></td>

                    </tr>
                    <tr>
                      <td><label class="check-todos">
                          <p>Proof of fund (cash buyers)/agreement in principle (mortgage)</p>
                          <input type="checkbox">
                          <span class="checkmark"></span>
                        </label></td>
                      <td><a href="#" class="upload-any"><img src="../images/upload.png"><span>
                            <div class="custom-file-input">
                              <input type="file">
                              <input type="button">
                            </div>
                          </span></a></td>
                      <td><a href="/service-provider/professionals-detail-message"><img src="../images/chat.png"></a>
                      </td>
                      <td><a class="btn help-btn" href="#" data-toggle="modal" data-target="#myModal">Help</a></td>

                    </tr>
                  </tbody>
                </table>
              </div>










            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
    <%-include('professional-footer')-%>
      </body>

      </html>