<%- include('dashboard_header_professional')-%>
  <%- include('edit-profile-professional-model')-%>

    <div class="dashboard-wpr">
      <div class="container-fluid">
        <div class="row content">
          <div class="col-sm-2 sidenav hidden-xs-down">
            <div class="user-login text-center">
              <div class="user-profile">
                <img src="../images/user-3.png" alt="" title="">
              </div>
              <div class="user-name">
                <h6>
                  <%= session.name%>,<span><i>
                        <%= session.role %>
                      </i>
                    </span>
                </h6>

                <a href="#"><i>
                    <%= session.email%>
                      <%- include('edit-profile-professional-icon')-%>
                  </i></a>
              </div>
            </div>
            <%- include('sidebar-professional')-%>
          </div>

          <div class="col">
            <div class="row">
              <div class="breadcumb left-arrow">
                <ul>
                  <li><a href="/service-provider/property-detail"><i class="fa fa-long-arrow-left"
                        aria-hidden="true"></i>
                      Back to all professionals</a></li>
                </ul>
              </div>
            </div>
            <div class=" user-fix">
              <div class="row">
                <div class="col-sm-12 col-lg-6">
                  <div class="user-profile-fix2 float-left">
                    <img src="../images/user-4.png" alt="" title="">
                  </div>
                  <div class="user-name-fix float-left">
                    <h2>Alex Jackson</h2>
                    <p>Architect</p>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <div class="float-left icon-fix">
                    <img class=" card-image-fix" src="../images/experience.png" alt="Card image cap">&nbsp;<span>5
                      years</span>
                  </div>
                  <div class="float-left icon-fix2">
                    <img class=" card-image-fix" src="../images/rating.png" alt="Card image cap">&nbsp;<span>4.0
                      Rating</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-lg-12">
              <div class="professional-inner">
                <div class="professional-files-section2">
                  <div class="row">
                    <div class="float-left image-fix">
                      <img class="" src="../images/phone.png" alt="Card image cap">&nbsp;<span>+56295856321
                      </span>
                    </div>
                    <div class="float-left image-fix">
                      <img class="" src="../images/mail.png"
                        alt="Card image cap">&nbsp;<span>alexjackson@gmail.com</span>
                    </div>
                  </div>

                </div>
              </div>
            </div>


            <div class="col-sm-12 col-lg-12">
              <div class="professional-inner">
                <div class="professional-files-section msg-sec">

                  <div class="row">
                    <div class="col-sm-12 col-lg-12">
                      <div class="messages-section">
                        <div class="messages-box clearfix">
                          <div class="message-user-img">
                            <img src="../images/recent-user-1.png" alt="" title="">
                          </div>
                          <div class="message-content">
                            <h3>You</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                              has been the industry's standard dummy text ever since the 1500s,</p>
                            <p class="hours-ago text-right">13 hours ago</p>
                          </div>
                        </div>
                        <div class="messages-box clearfix">
                          <div class="message-user-img">
                            <img src="../images/recent-user-1.png" alt="" title="">
                          </div>
                          <div class="message-content">
                            <h3>Alex Jackson</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                              has been the industry's standard dummy text ever since the 1500s,</p>
                            <p class="hours-ago text-right">13 hours ago</p>
                          </div>
                        </div>
                        <div class="messages-box clearfix">
                          <div class="message-user-img">
                            <img src="../images/recent-user-1.png" alt="" title="">
                          </div>
                          <div class="message-content">
                            <h3>you</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                              has been the industry's standard dummy text ever since the 1500s,</p>
                            <p class="hours-ago text-right">13 hours ago</p>
                          </div>
                        </div>
                        <div class="messages-box clearfix">
                          <div class="message-user-img">
                            <img src="../images/recent-user-1.png" alt="" title="">
                          </div>
                          <div class="message-content">
                            <h3>Alex Jackson</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                              has been the industry's standard dummy text ever since the 1500s,</p>
                            <p class="hours-ago text-right">13 hours ago</p>
                          </div>
                        </div>
                        <div class="text-message-box clearfix">
                          <div class="text-box">
                            <textarea class="form-control" style="min-width: 80%; margin-bottom: 10px; " rows="3"
                              id="comment">Write your reply here</textarea>

                            <button type="submit" class="btn btn-next"
                              style="width: 164px; float:right; border-radius: 5px;">
                              Send</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
    </div>

    <%- include('professional-footer')%>
      </body>

      </html>