<%- include('dashboard_header_professional')-%>
  <%- include('edit-profile-professional-model')-%>

    <div class="dashboard-wpr">
      <div class="container-fluid">
        <div class="row content">
          <div class="col-sm-2 sidenav hidden-xs-down">
            <div class="user-login text-center">
              <div class="user-profile">
                <img src="../images/user-3.png" alt="" title="">
              </div>
              <div class="user-name">
                <h6>
                  <%= session.name%>,<span><i>
                        <%= session.role %>
                      </i>
                    </span>
                </h6>

                <a href="#"><i>
                    <%= session.email%>
                      <%- include('edit-profile-professional-icon')-%>
                  </i></a>
              </div>
            </div>
            <%- include('sidebar-professional')-%>
          </div>
          <div class="col-sm-12 col-lg-10">
            <div class="dashboard-inner">
              <div class="row">
                <div class="breadcumb">
                  <ul>
                    <li><a href="/service-provider/myproperties?id=<%=session.property_id%>"><i
                          class="fa fa-long-arrow-left" aria-hidden="true"></i> Back
                        to <%=property.ps_property_name%></a></li>
                  </ul>
                </div>
              </div>
              <div class="docs-files-section">
                <div class="row">
                  <div class="col-sm-12 col-lg-12">
                    <div class="docs-files">
                      <div class="clearfix">
                        <div class="float-left">
                          <h2>Docs & Files</h2>
                        </div>
                        <form action="/upload-new-document" method="post" id="newDocumentform"
                          enctype="multipart/form-data">
                          <div class="float-right">
                            <a href="#" class="upload-any"><img src="../images/upload.png">
                              <span>
                                <div class="custom-file-input">
                                  <input type="hidden" name="property_id" value='<%=property._id%>'
                                    id="hiddenPropertyId">
                                  <input onchange="previewFile(this);" type="file" id="image" name="task-document"
                                    value="" required>
                                  <input type="button">
                                </div>
                              </span>
                            </a>

                            <button class="btn btn-add-property">Add New Document</button>
                          </div>
                        </form>

                      </div>
                      <ul class="docs-list">
                        <span id="upload-doc-view"></span>
                        <% allDocument.forEach(function(row){%>
                          <%if(row.cuds_document_type=='image'){%>
                            <li><a href="#"><img src="/taskdocument/<%= row.cuds_document_name%>" alt=""
                                  title=""><br><span
                                  style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                  <%= row.cuds_document_name%>
                                </span></a>
                            </li>
                            <%}else if(row.cuds_document_type=='pdf' ){%>
                              <li><a download href="/taskdocument/<%= row.cuds_document_name%>"><img
                                    src="../images/pdficon.png" alt="" title=""><br><span
                                    style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                    <%= row.cuds_document_name%>
                                  </span></a>
                              </li>
                              <%}else if(row.cuds_document_type=='doc' ){%>
                                <li><a download href="/taskdocument/<%= row.cuds_document_name%>"><img
                                      src="../images/docicon.png" alt="" title=""><br><span
                                      style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                      <%= row.cuds_document_name%>
                                    </span></a>
                                </li>
                                <%}else if(row.cuds_document_type=='txt' ){%>
                                  <li><a download href="/taskdocument/<%= row.cuds_document_name%>"><img
                                        src="../images/txticon.png" alt="" title=""><br><span
                                        style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                        <%= row.cuds_document_name%>
                                      </span></a>
                                  </li>
                                  <%}else if(row.cuds_document_type=='video' ){%>
                                    <li><a download href="/taskdocument/<%= row.cuds_document_name%>"><img
                                          src="../images/videoicon.png" alt="" title=""><br><span
                                          style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                          <%= row.cuds_document_name%>
                                        </span></a>
                                    </li>
                                    <%}%>
                                      <%});%>

                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="doc-table">
                <table class="table table-responsive">
                  <thead>
                    <tr>
                      <th>Document Name</th>
                      <th>Date</th>
                      <th>Permissions</th>
                    </tr>
                  </thead>
                  <tbody>



                    <%if(allDocument.length==0){%>
                      <tr>
                        <td>
                          <h5>Docs & Files Not Uploaded</h5>
                        </td>
                      </tr>
                      <%}else{%>
                        <% allDocument.forEach(function(row){ %>
                          <%if(row.cuds_document_type=='image'){%>
                            <tr>
                              <td>
                                <img class="pdf-file" src="/taskdocument/<%= row.cuds_document_name%>">
                                <p><span class='doc_name'>
                                    <%= row.cuds_document_name%>
                                  </span>
                                  <%= row.cuds_document_size%>
                                </p>
                              </td>
                              <td><span class="professionals-view">
                                  <%=moment(row.cuds_created_at).format('D MMM YY'); %>| Downloaded by<ul>
                                      <li class="dropdown"><a href="#" class="dropdown-toggle" type="button"
                                          id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                          aria-expanded="false">2 professionals</a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                          <a class="dropdown-item" href="#"><img src="../images/recent-user-3.png"> Alex
                                            Jackson</a>
                                          <a class="dropdown-item" href="#"><img src="../images/recent-user-3.png"> Alex
                                            Jackson</a>
                                        </div>
                                      </li>
                                    </ul>
                                </span></td>
                              <td>
                                <div class="recent-img">
                                  <img src="../images/recent-user-1.png"><img class="mr-10"
                                    src="../images/recent-user-2.png"><img class="mr-10"
                                    src="../images/recent-user-3.png">
                                  <!--data-toggle="modal" data-target="#changePermisionModal" -->
                                  <a href="javascript:void(0)" value="<%=row._id%>"
                                    class="getDocId changePermissionModal">Change permission</a>
                                </div>
                              </td>
                              <td>
                                <a href="javascript:void(0)" class="remove_doc"
                                  onclick="remove_document('<%=row._id%>');" id="<%=row._id%>"><img
                                    src="../images/delete-icon.png"></a>
                              </td>
                            </tr>
                            <%}else if(row.cuds_document_type=='pdf' ){ %>
                              <!-- <li><a download href="/upload/<%= row.cuds_document_name%>"><img src="images/pdficon.png" alt="" title=""><br><span
                            style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                            <%= row.cuds_document_name%>
                          </span></a>
                          </li> -->

                              <tr>
                                <td>
                                  <img class="pdf-file" src="../images/pdficon.png">
                                  <p><span>
                                      <li class='doc_name'>
                                        <%= row.cuds_document_name%>
                                      </li>
                                    </span>
                                    <%= row.cuds_document_size%>
                                  </p>
                                </td>
                                <td><span class="professionals-view">
                                    <%=moment(row.cuds_created_at).format('D MMM YY'); %>| Downloaded by<ul>
                                        <li class="dropdown"><a href="#" class="dropdown-toggle" type="button"
                                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">2 professionals</a>
                                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#"><img src="../images/recent-user-3.png">
                                              Alex
                                              Jackson</a>
                                            <a class="dropdown-item" href="#"><img src="../images/recent-user-3.png">
                                              Alex
                                              Jackson</a>
                                          </div>
                                        </li>
                                      </ul>
                                  </span></td>
                                <td>
                                  <div class="recent-img">
                                    <img src="../images/recent-user-1.png"><img class="mr-10"
                                      src="../images/recent-user-2.png"><img class="mr-10"
                                      src="../images/recent-user-3.png">
                                    <!--data-toggle="modal" data-target="#changePermisionModal" -->
                                    <a href="javascript:void(0)" value="<%=row._id%>"
                                      class="getDocId changePermissionModal">Change permission</a>
                                  </div>
                                </td>
                                <td>
                                  <a href="javascript:void(0)" class="remove_doc"
                                    onclick="remove_document('<%=row._id%>');" id="<%=row._id%>"><img
                                      src="../images/delete-icon.png"></a>
                                </td>
                              </tr>

                              <%}else if(row.cuds_document_type=='doc' ){ %>
                                <!-- <li><a download href="/upload/<%= row.cuds_document_name%>"><img src="images/docicon.png" alt="" title=""><br><span
                            style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                            <%= row.cuds_document_name%>
                          </span></a>
                          </li> -->
                                <tr>
                                  <td>
                                    <img class="pdf-file" src="../images/docicon.png">
                                    <p><span class='doc_name'>
                                        <%= row.cuds_document_name%>
                                      </span>
                                      <%= row.cuds_document_size%>
                                    </p>
                                  </td>
                                  <td><span class="professionals-view">
                                      <%=moment(row.cuds_created_at).format('D MMM YY');%>| Downloaded by
                                        <ul>
                                          <li class="dropdown"><a href="#" class="dropdown-toggle" type="button"
                                              id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                              aria-expanded="false">2 professionals</a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                              <a class="dropdown-item" href="#"><img src="../images/recent-user-3.png">
                                                Alex
                                                Jackson</a>
                                              <a class="dropdown-item" href="#"><img src="../images/recent-user-3.png">
                                                Alex
                                                Jackson</a>
                                            </div>
                                          </li>
                                        </ul>
                                    </span></td>
                                  <td>
                                    <div class="recent-img">
                                      <img src="../images/recent-user-1.png"><img class="mr-10"
                                        src="../images/recent-user-2.png"><img class="mr-10"
                                        src="../images/recent-user-3.png">
                                      <!--data-toggle="modal" data-target="#changePermisionModal" -->
                                      <a href="javascript:void(0)" value="<%=row._id%>"
                                        class="getDocId changePermissionModal">Change permission</a>
                                    </div>
                                  </td>
                                  <td>
                                    <a href="javascript:void(0)" class="remove_doc"
                                      onclick="remove_document('<%=row._id%>');" id="<%=row._id%>"><img
                                        src="../images/delete-icon.png"></a>
                                  </td>
                                </tr>
                                <%}else if(row.cuds_document_type=='txt' ){ %>
                                  <!-- <li><a download href="/upload/<%= row.cuds_document_name%>"><img src="images/txticon.png" alt="" title=""><br><span
                            style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                            <%= row.cuds_document_name%>
                          </span></a>
                          </li> -->
                                  <tr>
                                    <td>
                                      <img class="pdf-file" src="../images/txticon.png">
                                      <p><span class='doc_name'>
                                          <%= row.cuds_document_name%>
                                        </span>
                                        <%= row.cuds_document_size%>
                                      </p>
                                    </td>
                                    <td><span class="professionals-view">
                                        <%=moment(row.cuds_created_at).format('D MMM YY');%>| Downloaded by
                                          <ul>
                                            <li class="dropdown"><a href="#" class="dropdown-toggle" type="button"
                                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">2 professionals</a>
                                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#"><img
                                                    src="../images/recent-user-3.png">
                                                  Alex
                                                  Jackson</a>
                                                <a class="dropdown-item" href="#"><img
                                                    src="../images/recent-user-3.png">
                                                  Alex
                                                  Jackson</a>
                                              </div>
                                            </li>
                                          </ul>
                                      </span></td>
                                    <td>
                                      <div class="recent-img">
                                        <img src="../images/recent-user-1.png"><img class="mr-10"
                                          src="../images/recent-user-2.png"><img class="mr-10"
                                          src="../images/recent-user-3.png">
                                        <!--data-toggle="modal" data-target="#changePermisionModal" -->
                                        <a href="javascript:void(0)" value="<%=row._id%>"
                                          class="getDocId changePermissionModal">Change permission</a>
                                      </div>
                                    </td>
                                    <td>
                                      <a href="javascript:void(0)" class="remove_doc"
                                        onclick="remove_document('<%=row._id%>');" id="<%=row._id%>"><img
                                          src="../images/delete-icon.png"></a>
                                    </td>
                                  </tr>

                                  <%}else{%>

                                    <!-- <li><a download href="/upload/<%= row.cuds_document_name%>"><img src="images/videoicon.png" alt="" title=""><br><span
                            style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                            <%= row.cuds_document_name%>
                          </span></a>
                          </li> -->

                                    <tr>
                                      <td>
                                        <!-- <video width="200" height="100" controls>
                                <source src="/upload/<%= row.cuds_document_name%>" type="video/mp4">

                              </video> -->
                                        <img class="pdf-file" src="../images/videoicon.png">
                                        <p><span class='doc_name'>
                                            <%= row.cuds_document_name%>
                                          </span>
                                          <%= row.cuds_document_size%>
                                        </p>
                                      </td>
                                      <td><span class="professionals-view">
                                          <%=moment(row.cuds_created_at).format('D MMM YY'); %>| Downloaded
                                            by<ul>
                                              <li class="dropdown"><a href="#" class="dropdown-toggle" type="button"
                                                  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                                  aria-expanded="false">2 professionals</a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                  <a class="dropdown-item" href="#"><img
                                                      src="../images/recent-user-3.png">
                                                    Alex
                                                    Jackson</a>
                                                  <a class="dropdown-item" href="#"><img
                                                      src="../images/recent-user-3.png">
                                                    Alex
                                                    Jackson</a>
                                                </div>
                                              </li>
                                            </ul>
                                        </span></td>
                                      <td>
                                        <div class="recent-img">
                                          <img src="../images/recent-user-1.png"><img class="mr-10"
                                            src="../images/recent-user-2.png"><img class="mr-10"
                                            src="../images/recent-user-3.png">
                                          <!--data-toggle="modal" data-target="#changePermisionModal" -->
                                          <a href="javascript:void(0)" value="<%=row._id%>"
                                            class="getDocId changePermissionModal">Change permission</a>
                                        </div>
                                      </td>
                                      <td>
                                        <a href="javascript:void(0)" class="remove_doc"
                                          onclick="remove_document('<%=row._id%>');" id="<%=row._id%>"><img
                                            src="../images/delete-icon.png"></a>
                                      </td>
                                    </tr>

                                    <%}%>
                                      <% });%>
                                        <%}%>


                  </tbody>
                </table>
              </div>
              <div class="doc-table">
                <h3>Customer Docs & files</h3>
                <table class="table table-responsive">
                  <thead>
                    <tr>
                      <th>Document Name</th>
                      <th>Date</th>
                      <th>Permissions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><img class="pdf-file" src="../images/pdf.png">
                        <p><span>Contract.pdf</span> 256.0 KB</p>
                      </td>
                      <td><span class="professionals-view">17 Nov, 2020 </span></td>
                      <td>
                        <ul style="display: flex;">
                          <li>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="View Document"><img
                                src="../images/eye.png"></a>
                          </li> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                          <li>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Download Document"><img
                                src="../images/drop-down.png"></a>
                          </li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <td><img class="pdf-file" src="../images/doc.png">
                        <p><span>Contract.pdf</span> 256.0 KB</p>
                      </td>
                      <td><span class="professionals-view">17 Nov, 2020
                        </span></td>
                      <td>
                        <ul style="display: flex;">
                          <li>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="View Document"><img
                                src="../images/eye.png"></a>
                          </li> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                          <li>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Download Document">
                              <img src="../images/drop-down.png"></a>
                          </li>
                        </ul>


                      </td>
                    </tr>


                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <%- include('professional-footer')-%>
      </body>

      </html>