<%- include('dashboard_header_professional')-%>
  <%- include('edit-profile-professional-model')-%>

    <div class="dashboard-wpr">
      <div class="container-fluid">
        <div class="row content">
          <div class="col-sm-2 sidenav hidden-xs-down">
            <div class="user-login text-center">
              <%- include('sp-profile-image')-%>
                <div class="user-name">
                  <h6>
                    <%= session.name%>,<span><i>
                          <%= session.role %>
                        </i>
                      </span>
                  </h6>

                  <a href="#"><i>
                      <%= session.email%>
                        <%- include('edit-profile-professional-icon')-%>
                    </i></a>
                </div>
            </div>
            <%- include('sidebar-professional')-%>
          </div>
          <div class="col-sm-12 col-lg-10">
            <div class=" property-detail-inner">
              <div class="row back-to-home">
                <div class="breadcumb">
                  <ul>
                    <li><a href="/service-provider/property-detail?id=<%=propertyDetailData[0]._id%>"><i
                          class="fa fa-long-arrow-left" aria-hidden="true"></i> Back to
                        <%=propertyDetailData[0].ps_property_name%>
                      </a></li>
                  </ul>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-lg-6">
                  <div class="submit-proposal-header">
                    <h3>Submit a proposal for <%=propertyDetailData[0].ps_property_name%>
                    </h3>
                    <p><img src="../images/location.png">
                      <%=propertyDetailData[0].ps_property_address%>,
                        <%=propertyDetailData[0].ps_property_country_id%>
                    </p>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <% if(customer==undefined || customer==undefined ){%>
                    <img src="../images/user-1.png">
                    <span style="font-size: 13px;">by
                      N/A</span>
                    <%} else {%>
                      <img src="../upload/<%=customer.cus_profile_image_name%>"
                        style="border-radius: 50%; height: 16px;margin-right: 1px;"><span>
                        by <%=customer.cus_fullname%>
                      </span>
                      <%}%>
                </div>
              </div>
              <div class="proposal-about-section">
                <h6>About the property</h6>
                <p>
                  <%=propertyDetailData[0].ps_additional_note%>
                </p>
              </div>
              <form class="form" id="submit_proposal_form" action="" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="sps_service_provider_id" id="" value="<%=session.user_id%>">
                <input type="hidden" name="sps_property_id" id="" value="<%=propertyDetailData[0]._id%>">
                <input type="hidden" name="sps_customer_id" id="" value="<%=customer._id%>">

                <div class="step-1">
                  <p>STEP 1</p>
                  <h4>Tell us the estimated time required</h4>
                  <div class="row">


                    <div class="input-box-size-fix2">
                      <input type="text" onfocus="(this.type='date')" class="form-control property-input-size-fix "
                        id="sps_start_date" placeholder="Start date" name="sps_start_date" required>
                    </div>

                    <div class="input-box-size-fix2">
                      <input type="text" onfocus="(this.type='date')" class="form-control property-input-size-fix "
                        id="sps_end_date" placeholder="End date" name="sps_end_date" required>
                    </div>

                  </div>


                </div>
                <div class="row">
                  <div class="col-sm-12 col-lg-8">
                    <div class="step-1">
                      <p>STEP 2
                      </p>
                      <div class="row">
                        <div class="col-sm-12 col-lg-4">
                          <h4>Tell us how you want to be paid?</h4>
                        </div>
                        <div class="col-sm-12 col-lg-4">
                          <div class="property-tickmark">
                            <label class="check-todos">
                              <p>Payment in milestones</p>
                              <input type="checkbox" checked="checked">
                              <span class="checkmark">
                              </span>
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-12 col-lg-4">
                          <div class="property-tickmark">
                            <label class="check-todos">
                              <p>Payment in lumpsum</p>
                              <input type="checkbox">
                              <span class="checkmark"></span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <!-- <div class="input-box-size-fix2">
                        <input type="text" class="form-control property-input-size-fix " id="address"
                          placeholder="MileStone 1" name="milestone">
                      </div>
                      <div class="input-box-size-fix2">
                        <input type="text" onfocus="(this.type='date')" class="form-control property-input-size-fix "
                          id="milestoneDate" placeholder="Date" name="milestonedate">
                      </div> -->
                    </div>
                    <div class="row">
                      <div class="row">
                        <!-- <div class="input-box-size-fix2">
                          <input type="text" class="form-control property-input-size-fix " id="address"
                            placeholder="MileStone 2" name="milestone">
                        </div>
                        <div class="input-box-size-fix2">
                          <input type="text" onfocus="(this.type='date')" class="form-control property-input-size-fix "
                            id="Date" placeholder="Date" name="milestonedate">
                        </div> -->
                        <div class="input-box-size-fix2">
                          <input type="text" class="form-control property-input-size-fix " id="address"
                            placeholder="MileStone 1" name="milestone" required>
                        </div>
                        <div class="input-box-size-fix2">
                          <input type="text" onfocus="(this.type='date')" class="form-control property-input-size-fix "
                            id="milestoneDate" placeholder="Date" name="milestonedate" required>
                        </div>
                      </div>
                      <div class="">
                        <!-- <a href="#" class="btn property-add-btn" id="addPlusbtn"><i class="fa fa-plus"></i></a> -->
                        <a class="btn  property-add-btn" name="addPlusbtn"><i class="fa fa-plus"></i></a>
                      </div>
                      <div class="divv"></div>
                    </div>
                  </div>

                  <div class="col-sm-12 col-lg-4">
                    <div class="step-1">
                      <p>STEP 3</p>
                      <h4>Add extra notes/attachments if any</h4>

                      <div class="input-box-size-fix2">
                        <input type="text" class="form-control property-input-size-fix" id="sps_extra_notes"
                          placeholder="Notes(if any)" name="sps_extra_notes">
                      </div>


                      <div class="input-box-size-fix2">
                        <div class=" property-attchment-box-fix">
                          <p>Add attachments  (example draft contract) if any </p><span class=""> <a id="button"></a>
                            <input id="file-input" type="file" id="proposal-docs" name="proposal-docs"
                               /></span>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="submit-sec">
                  <button type="submit" class="btn btn-next" style="width: 164px; border-radius: 10px;">
                    Submit a Proposal</button>
                </div>


              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <%-include('professional-footer')-%>
      </body>

      </html>