<%- include('dashboard_header_professional')-%>
  <%- include('edit-profile-professional-model')-%>

    <div class="dashboard-wpr">
      <div class="container-fluid">
        <div class="row content">
          <div class="col-sm-2 sidenav hidden-xs-down">
            <div class="user-login text-center">
              <div class="user-profile">
                <img src="../images/user-3.png" alt="" title="">
              </div>
              <div class="user-name">
                <h6>
                  <%= session.name%>,<span><i>
                        <%= session.role %>
                      </i>
                    </span>
                </h6>

                <a href="#"><i>
                    <%= session.email%>
                      <%- include('edit-profile-professional-icon')-%>
                  </i></a>
              </div>
            </div>
            <%- include('sidebar-professional')-%>
          </div>
          <div class="col-sm-12 col-lg-10">


            <div class="professional-header">
              <div class="row">
                <div class="col-sm-12 col-lg-12">
                  <div class="docs-files">
                    <div class="clearfix">
                      <div class="float-left">
                        <div class="dropdown">
                          <button type="button" class="btn btn-professional dropdown-toggle" data-toggle="dropdown">
                            All Properties
                            <span><img src="../images/drop-down2.png" alt=""></span> </button>
                          <div class="dropdown-menu ">
                            <a class="dropdown-item item1" href="/service-provider/property"><span><img
                                  src="../images/tick.png" alt=""></span>&nbsp;All Properties</a>
                            <hr class="divider" />
                            <a class="dropdown-item item2" href="/service-provider/myproperties"><span><img
                                  src="../images/tick.png" alt=""></span> My Properties</a>
                          </div>
                        </div>
                      </div>

                      <div class="float-right f-none">
                        <div class="professional-right-sec">
                          <div id="custom-search-input-fix" style="background-color: #f0f0f0 ;">
                            <div class="input-group professional-search-input col-lg-12">
                              <span class="input-group-btn">
                                <button class="btn btn-info" type="button">
                                  <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                              </span>
                              <input type="text" class="form-control professional-search"
                                style="background-color: #f0f0f0;" placeholder="Search properties by location, size " />

                            </div>
                          </div>
                          <a href="#" class="btn professional-search-btn">Search</a>
                          <div class="dropdown">
                            <button type="button" class="btn professional-search-btn dropdown-toggle"
                              data-toggle="dropdown">
                              Show Filters
                            </button>
                            <div class="dropdown-menu ">
                              <div class="dropdown dropright">
                                <button class="dropdown-item item1  dropdown-toggle"
                                  data-toggle="dropdown">Qualification
                                </button>
                                <div class="dropdown-menu subItem1">
                                </div>
                              </div>
                              <hr class="divider" />
                              <div class="dropdown dropright">
                                <button class="dropdown-item item2 dropdown-toggle" data-toggle="dropdown">
                                  Experience</button>
                                <div class="dropdown-menu subItem2"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 col-lg-12">
                <div class="dashboard-inner">

                  <div class="row">


                    <%if(propertyData.length>0){%>
                      <%propertyData.forEach(function(row,i){%>
                        <div class=" col-sm-12 col-md-4">
                          <div class="home-section">
                            <div class="my-dream-home-box">
                              <div class="dream-home-img">
                                <%if(propertyImage.length>0){%>
                                  <%if(propertyImage[i].length>0){%>
                                    <img src="../propimg/<%=propertyImage[i][0].pps_property_image_name%>">
                                    <a href="/service-provider/property-detail?id=<%=row._id%>" class="btn btn-new">
                                      <%=row.ps_property_type%>
                                    </a>
                                    <%}else{%>
                                      <img src="../images/nacary.png">

                                      <%}%>
                                        <%}%>
                              </div>
                              <div class="dream-home-description">
                                <h3><a href="/service-provider/property-detail?id=<%=row._id%>">
                                    <%=row.ps_property_name%>
                                  </a></h3>
                                <div class="location-part"><a
                                    href="/service-provider/property-detail?id=<%=row._id%>"><img
                                      src="../images/location.png">
                                    <%=row.ps_property_address%>, <%=row.ps_property_country_id%>
                                  </a></div>
                                <div class="location-sec"><a href="/service-provider/property-detail"
                                    style="font-size:14px"><img style="width: 22px; height:22px"
                                      src="../images/sq.ft.png">
                                    <%=row.ps_property_area%> sq.
                                      ft.
                                  </a>&nbsp;<span>
                                    <%if(propertyImage.length>0){%>
                                      <%if(propertyImage[i].length>0){%>
                                        <%if(propertyImage[i].customer_profile==undefined){%>
                                          <img src="../images/user-1.png">
                                          <span style="font-size: 13px;">by
                                            N/A</span>
                                  </span>
                                  <%}else{%>
                                    <img src="../upload/<%=propertyImage[i].customer_profile%>"
                                      style="border-radius: 50%; height: 16px;margin-right: 1px;">
                                    <span style="font-size: 13px; margin-left: 0px">by
                                      <%=propertyImage[i].customer_name%>
                                    </span></span>
                                    <%}%>
                                      <%}%>
                                        <%}%>

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <%})%>
                          <%}else{%>
                            <p style="font-size: 20px; text-align: center;">Property Not Found !!</p>
                            <%}%>

                  </div>


                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>

    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <%-include('professional-footer')-%>
      </body>

      </html>