<%- include('dashboard_header_professional')-%>
  <%- include('edit-profile-professional-model')-%>

    <div class="dashboard-wpr">
      <div class="container-fluid">
        <div class="row content">
          <div class="col-sm-2 sidenav hidden-xs-down">
            <div class="user-login text-center">

              <%- include('sp-profile-image')-%>

                <div class="user-name">
                  <h6>
                    <%= session.name%>,<span><i>
                          <%= session.role %>
                        </i>
                      </span>
                  </h6>

                  <a href="#"><i>
                      <%= session.email%>
                        <%- include('edit-profile-professional-icon')-%>
                    </i></a>
                </div>
            </div>
            <%- include('sidebar-professional')-%>
          </div>
          <div class="col-sm-12 col-lg-10">
            <div class="row back-to-home">

            </div>
            <div class="row complaints-sec">
              <div class="col-sm-12 col-lg-6">

                <div class="row back-to-home">
                  <div class="breadcumb" style="margin-left: 30px;">
                    <ul>
                      <li><a href="/service-provider/proposal"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                          Back to My
                          Proposal</a></li>

                    </ul>
                  </div>

                  <!-- <div class="complaints">
                    <h2>Proposal Details</h2>
                  </div> -->
                </div>
              </div>
            </div>
            <div class="dashboard-inner">
              <%if(proposalDetails.length>0){%>
                <%proposalDetails.forEach(function(row,i){%>
                  <div class="col">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="user-name-fix">
                          <!-- <h2 class="pl-0 for-main-page-heading"></h2>  -->
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-9">
                        <div class="interview-details-inner">
                          <div class="upper-div">
                            <h2>
                              <%=row.ps_property_name%> proposal-details
                            </h2>
                          </div>
                          <hr />
                          <div class="row">
                            <div class="col-md-8">
                              <div class="about-section left-section-inter border-right">
                                <h6> <b>
                                    <%=row.sps_extra_notes%>
                                  </b>
                                </h6>
                                <div class="position-date">
                                  <span class="position">Task Details</span>
                                  <span class="date">Posted <%= row.sps_start_date%></span>
                                </div>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum
                                  is
                                  simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy
                                  text of
                                </p>
                                <span class="dash-line"></span>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum
                                  is
                                  simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy
                                  text of...
                                  <span><a href="">More</a></span>
                                </p>
                                <% if(row.proposal_filename) {%>
                                  <p><span><a href="../upload/<%=row.proposal_filename%>">View Docs </a></span></p>
                                  <%}%>
                              </div>
                            </div>

                            <div class="col-md-4">
                              <div class="for-icon-padding">
                                <div class="d-flex flex-right-box-inner">
                                  <img class="" src="../images/phone.png" alt="Card image cap">&nbsp;<span>
                                    <div>
                                      <span>Proposal Schedule</span>

                                      <span class="small-text">
                                        <%=row.sps_start_date%> - <%=row.sps_end_date%>
                                      </span>
                                    </div>
                                  </span>
                                </div>
                                <div class="mt-3 d-flex flex-right-box-inner">
                                  <img class="" src="../images/mail.png" alt="Card image cap">&nbsp;<span>Payment Mode
                                  </span>
                                  <span class="small-text">
                                    <%=row.sps_payment_mode%>
                                  </span>
                                </div>
                                <!-- <div class="mt-3 d-flex flex-right-box-inner">
                                  <img class="" src="images/mail.png" alt="Card image cap">&nbsp;<span>Featured
                                    Job</span>
                                </div> -->
                              </div>
                            </div>




                            <div class="col-md-12">
                              <hr>
                              <div class="about-section left-section-inter for-15-padding">

                                <h6> <b>Skills and expertise</b></h6>

                                <div class="position-date forskil-box">
                                  <span class="position">Jave</span>
                                  <span class="position">Javescript</span>
                                  <span class="position">PHP</span>
                                  <span class="position">NGINX</span>
                                  <span class="position">Apache HTTP Server</span>
                                  <span class="position">API</span>
                                  <span class="position">Web Design</span>
                                  <span class="position">Jave</span>
                                  <span class="position">Javescript</span>
                                  <span class="position">PHP</span>
                                  <span class="position">NGINX</span>
                                  <span class="position">Apache HTTP Server</span>
                                  <span class="position">API</span>
                                  <span class="position">Web Design</span>
                                  <span class="position">Jave</span>
                                  <span class="position">Javescript</span>
                                  <span class="position">PHP</span>
                                  <span class="position">NGINX</span>
                                  <span class="position">Apache HTTP Server</span>
                                  <span class="position">API</span>
                                  <span class="position">Web Design</span>
                                  <span class="position">Jave</span>
                                  <span class="position">Javescript</span>
                                  <span class="position">PHP</span>
                                  <span class="position">NGINX</span>
                                  <span class="position">Apache HTTP Server</span>
                                  <span class="position">API</span>
                                  <span class="position">Web Design</span>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>

                      </div>
                      <div class="col-lg-3">
                        <div class="right-box-freelancer">
                          <h2>Client:</h2>

                          <p><b><span>
                                <%=row.cs_name%>
                              </span>
                              <%= row.ps_is_active_user_flag%>
                                <!-- row.sp_profession -->
                            </b></p>

                          <p>Interested in discussing this job?</p>
                          <%if(row.sps_status=='pending'){%>
                            <a class="btn-interview" href="" id="acceptProposal"
                              onclick="proposal_status_Update('<%=row.proposalId%>','accept')">Accept </a>
                            <a class="btn-interview opposit-btn" href="" id="rejectProposal"
                              onclick="proposal_status_Update('<%=row.proposalId%>','reject')">Reject</a>
                            <%} else if(row.sps_status=='accept' ) {%>
                              <!-- <a class="btn-interview" href="" id="accept-btn">Accept </a> -->
                              <a class="btn-interview opposit-btn" href="" id="rejectProposal"
                                onclick="proposal_status_Update('<%=row.proposalId%>','reject')">Reject</a>
                              <%} else {%>
                                <a class="btn-interview" href="" id="pendingProposal"
                                  onclick="proposal_status_Update('<%=row.proposalId%>','pending')">ReOpen </a>
                                <a class="btn-interview opposit-btn" href="" id="removeProposal"
                                  onclick="proposal_remove('<%=row.proposalId%>','reject')">Remove</a>
                                <%}%>
                                  <h2>About the Client</h2>

                                  <div class="position-date">
                                    <span class="position">Plus</span>
                                    <span class="date">Relai Plus Client</span>
                                  </div>

                                  <p class="last-question-mark">Payment Method Verified <i class="fa fa-check"></i></p>

                                  <p class="Rating Line">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half"></i>
                                    <span><b>(4.59) 23 reviews</b></span>
                                  </p>

                                  <h2>Location</h2>
                                  <p>
                                    <%=row.cs_country%> <br>
                                      <%=row.cs_city%>,<%= row.cs_state%>
                                  </p>

                                  <h2>History</h2>

                                  <p class="last-question-mark mb-0">More Than 10 proposals <i class="fa fa-question"
                                      aria-hidden="true"></i></p>

                                  <p class="mb-0">1,136 Interview</p>

                                  <p class="mb-0">40 Jobs posted</p>
                                  <p class="mb-0">40 Jobs posted</p>
                                  <p class="mb-0">40 Jobs posted</p>
                                  <p class="mb-0">40 Jobs posted</p>
                                  <p class="mb-0 gray-text">Member since: jul 12, 2020 </p>



                        </div>
                      </div>
                    </div>
                  </div>
                  <%})%>
                    <%}%>

            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>


    <%-include('professional-footer')-%>
      <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
              panel.style.maxHeight = null;
            } else {
              panel.style.maxHeight = panel.scrollHeight + "px";
            }
          });
        }
      </script>
      <script>
        function proposal_status_Update(proposalId, status) {

          $.ajax({
            type: "POST",
            data: {
              'proposalId': proposalId,
              'proposalStatus': status,
              'action': 'proposal_status_update'
            },
            url: '/sp-change-proposal-status',
            cache: false,
            success: function (data) {
              if (data.status == true) {
                Swal.fire({
                  // position: 'top-end',
                  icon: 'success',
                  title: data.message,
                  showConfirmButton: false,
                  confirmButtonColor: '#005377',
                  timer: 3000
                })
                location.reload(true)
              } else {
                Swal.fire({
                  // position: 'top-end',
                  icon: 'error',
                  title: data.message,
                  showConfirmButton: true,
                  confirmButtonColor: '#005377'
                  //timer: 1500
                })
              }
            }
          })

        }
      </script>