<%- include('dashboard_header')-%>
<%- include('edit-profile-model')-%>
    <div class="dashboard-wpr">
      <div class="container-fluid">
        <div class="row content">
          <div class="col-sm-2 sidenav hidden-xs-down">
            <div class="user-login text-center">
              <%- include('profile-image')-%>
                <div class="user-name">
                  <h2>
                    <%= session.name %>
                  </h2>
                  <a href="#">
                    <%= session.email %>
                      <%- include('edit-profile-icon')-%>
                  </a>
                </div>
            </div>
            <%- include('sidebar')-%>
          </div>
          <div class="col-sm-12 col-lg-10">

            <div class="row complaints-sec">
              <div class="col-sm-6 col-lg-6">
                <div class="complaints">
                  <h2>Complaints</h2>
                </div>
              </div>
              <div class="col-sm-6 col-lg-6">
                <div class="complaints float-right">
                  <a href="#" data-toggle="modal" data-target="#MyComplaintModal" class="btn btn-complaint">
                    Raise a New Complaint</a>
                </div>
              </div>

            </div>

            <div class=" dashboard-inner">
              <table class="table table-responsive table-phase-fix">
                <thead>
                  <tr>
                    <th>Complaint ID</th>
                    <th>Client Name</th>
                    <th class="message-th">Message</th>
                    <th>Property Name</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <p>C1234</p>
                    </td>
                    <td>Andrew Wills </td>
                    <td>Lorem ipsum dolor sit amet,</td>
                    <td>Nacary Apartment </td>
                    <td>16 Nov, 2020</td>
                    <td><a href="complaints-detail.html" class="btn btn-pending">PENDING</a></td>
                    <td> <a href="/complaints-detail"><img src="images/eye.png"></a> </td>
                  </tr>
                  <tr>
                    <td>
                      <p>C1234 </p>

                    </td>
                    <td>Rachel Green </td>
                    <td>Lorem ipsum dolor sit amet,</td>
                    <td>Hilton Avenue </td>
                    <td>16 Nov, 2020</td>
                    <td><a href="complaints-detail.html" class="btn btn-complete">COMPLETED</a></td>
                    <td> <a href="complaints-detail.html"><img src="images/eye.png"></a> </td>
                  </tr>
                  <tr>
                    <td>
                      <p>C1234 </p>

                    </td>
                    <td>Jack Lee </td>
                    <td>Lorem ipsum dolor sit amet,</td>
                    <td>Princess Skyline</td>
                    <td>16 Nov, 2020 </td>
                    <td><a href="complaints-detail.html" class="btn btn-pending">PENDING</a></td>
                    <td> <a href="complaints-detail.html"><img src="images/eye.png"></a> </td>
                  </tr>
                  <tr>
                    <td>
                      <p>C1234 </p>

                    </td>
                    <td>Celia Ahern </td>
                    <td>Lorem ipsum dolor sit amet,</td>
                    <td>Princess Skyline </td>
                    <td>16 Nov, 2020 </td>
                    <td><a href="complaints-detail.html" class="btn btn-complete">COMPLETED</a>
                    </td>
                    <td> <a href="complaints-detail.html"><img src="images/eye.png"></a> </td>
                  </tr>

                  <tr>
                    <td>
                      <p>C1234 </p>

                    </td>
                    <td>Monica Geller</td>
                    <td>Lorem ipsum dolor sit amet,</td>
                    <td>Hilton Avenue</td>
                    <td>16 Nov, 2020 </td>
                    <td><a href="complaints-detail.html" class="btn btn-pending">PENDING</a></td>
                    <td> <a href="complaints-detail.html"><img src="images/eye.png"></a> </td>
                  </tr>
                  <tr>
                    <td>
                      <p>C1234 </p>

                    </td>
                    <td>Monica Geller</td>
                    <td>Lorem ipsum dolor sit amet,</td>
                    <td>Hilton Avenue</td>
                    <td>16 Nov, 2020 </td>
                    <td><a href="complaints-detail.html" class="btn btn-pending">PENDING</a></td>
                    <td> <a href="complaints-detail.html"><img src="images/eye.png"></a> </td>
                  </tr>
                </tbody>
              </table>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <script>
    $(document).ready(function () {
      $(".sidenav ul li").click(function () {
        $(".sidenav ul li").removeClass("active");
        $(this).addClass("active");
      });
    });
    $(document).ready(function () {
      $(".right-navbar li").click(function () {
        $("right-navbar li").removeClass("active");
        $(this).addClass("active");
      });
    });

    $("#coms_complaint_help").change(function () {
        // var propertyId = $('option:selected', this).attr('property-id');
        var coms_complaint_help = this.value;
        if(coms_complaint_help == 'Property Related Enquiry'){
            $.ajax({
              type: "GET",
              url: "/property-related-enquiry-proprty-list",
              cache: false,
              success: function (html) {
                $('#property_id').show();
                console.log('result:', html)
                var htmlData = '';
                htmlData += '<option value="">Select Property</option>';
                if (html.propertyData.length > 0) {
                  $.each(html.propertyData, function (i, data) {
                    console.log('val:', data)
                     htmlData += '<option value="' + data._id + '">' + data.ps_property_name + '</option>';
                  });
                }
                $('#property_id').html(htmlData);
              }
            });
        }else{
          $('#property_id,#coms_complaint_for').hide();
          $('#property_id,#coms_complaint_for').html('');

        }
      })


      $("#property_id").change(function () {
        // var propertyId = $('option:selected', this).attr('property-id');
        var property_id = this.value;
            $.ajax({
              type: "GET",
              url: "/service-provider-by-property",
              data:{
                property_id:property_id
              },
              cache: false,
              success: function (html) {
                $('#coms_complaint_for').show();
                console.log('result:', html)
                var htmlData = '';
                htmlData += '<option value="">Select Professional</option>';
                if (html.hireServiceData.length > 0) {
                  $.each(html.hireServiceData, function (i, data) {
                    console.log('val:', data[0])
                     htmlData += '<option value="' + data[0]._id + '">' + data[0].sps_fullname + '</option>';
                  });
                }
                $('#coms_complaint_for').html(htmlData);
              }
            });
      })

      
      $('#mycomplent_form').submit(function (e) {
          e.preventDefault();
          //var formData = new FormData($('#mycomplent_form')[0]);
         // var formData = new FormData(this);
          var formData = $(this).serialize();
          console.log('formData:',formData)
          $.ajax({
            type: "POST",
            data: formData,
            url: "/api/new-raise-a-complaint", 
            cache: false,            
            success: function (data) {
              console.log(data);
              if(data.status == true){
                  $('.complaint_msg').html('<div class="isa_success"><i class="fa fa-check"></i> '+data.message+'</div>')
                  setTimeout(function(){ 
                    $('#MyComplaintModal').modal('hide');
                    location.reload(true);
                  }, 6000);
              }else{
                $('.complaint_msg').html('<div class="isa_error"><i class="fa fa-check"></i> '+data.message+'</div>')
              }
            }
          });
          //location.reload(true);
        })


  </script>
</body>

</html>