<%- include('dashboard_header')-%>
  <%- include('edit-profile-model')-%>
    <div class="dashboard-wpr">
      <div class="container-fluid">
        <div class="row content">
          <div class="col-sm-2 sidenav hidden-xs-down">
            <div class="user-login text-center">
              <%- include('profile-image')-%>
                <div class="user-name">
                  <h2>
                    <%= session.name %>
                  </h2>
                  <a href="#">
                    <%= session.email %>
                      <%- include('edit-profile-icon')-%>
                  </a>
                </div>
            </div>
            <%- include('sidebar')-%>
          </div>
          <div class="col-sm-12 col-lg-10">

            <div class="row complaints-sec">
              <div class="col-sm-6 col-lg-6">
                <div class="complaints">
                  <h2>Complaints</h2>
                </div>
              </div>
              <div class="col-sm-6 col-lg-6">
                <div class="complaints float-right">
                  <a href="#" data-toggle="modal" data-target="#MyComplaintModal" class="btn btn-complaint">
                    Raise a New Complaint</a>
                </div>
              </div>

            </div>

            <div class=" dashboard-inner">
              <% if(complaintData.length > 0){ %>
              <table class="table table-responsive table-phase-fix">
                <thead>
                  <tr>
                    <th>Complaint ID</th>
                    <th>Complaint Type</th>
                    <th class="message-th">Complaint Subject</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% var i=0; complaintData.forEach(function(row){ %>
                    <tr>
                      <td>
                        <p>
                          <%= row.coms_complaint_code%>
                        </p>
                      </td>
                      <td>
                        <%= row.coms_complaint_help%>
                      </td>
                      <td>
                        <%= row.coms_complaint_subject%>
                      </td>
                      <td>
                        <%= new Intl.DateTimeFormat('en-GB', { year: 'numeric' , month: 'long' , day: '2-digit'
                          }).format(new Date(row.coms_created_at)) %>
                      </td>
                      <td><a href="javascript:void(0)" class="btn btn-pending">
                          <%= row.coms_complaint_status%>
                        </a></td>
                      <td> <a href="/complaints-detail?complaintID=<%= row.coms_complaint_code%>" data-toggle="tooltip"
                          data-placement="top" title="Complaint-detail"><img src=" images/eye.png"></a> </td>
                    </tr>
                    <% i++;});%>
                </tbody>
              </table>
              <% }else{ %> 
                <p style="text-align:center">Complaint Not found !!</p>  
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
    <%- include('dashboard_footer')-%>

