<%- include('dashboard_header')-%>

    <div class="dashboard-wpr">
      <div class="container-fluid">
        <div class="row content">
          <div class="col-sm-2 sidenav hidden-xs-down">
            <div class="user-login text-center">
              <%- include('profile-image')-%>
                <div class="user-name">
                  <h2>
                    <%= session.name %>
                  </h2>
                  <a href="#">
                    <%= session.email %>
                      <%- include('edit-profile-icon')-%>
                  </a>
                </div>
            </div>
            <%- include('sidebar')-%>
          </div>
          <div class="col-sm-12 col-lg-10">

            <div class="complaints-sec">
              <div class="complaints">
                <h2>Complaints</h2>
                <div class="row">
                  <div class="breadcumb">
                    <ul>
                      <li><a href="/complaints"><i class="fa fa-long-arrow-left"
                            aria-hidden="true"></i> Back to complaint lists</a></li>
                    </ul>
                  </div>
                </div>
              </div>

          

            </div>

            <div class="dashboard-inner">
              <div class="col-sm-12 col-lg-12">
              <div class="complaints-section">
                <div class="row">
                  <table class="table table-responsive table-phase-fix">
                <thead>
                  <tr>
                    <th>Complaint ID</th>
                    <th>Client Name</th>
                    <th>Complaint Type</th>
                    <th class="message-th">Complaint Subject</th>
                    <th>Date</th>
                    <th>Status</th>
                     <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% var i=0; var complaintStatus=''; complaintData.forEach(function(row){  %>
                    <% complaintStatus = row.coms_complaint_status %>
                  <tr>
                    <td>
                      <p><%= row.coms_complaint_code%></p>
                    </td>
                    <td><%= row.coms_user_name%></td>
                    <td><%= row.coms_complaint_help%></td>
                    <td><%= row.coms_complaint_subject%></td>
                    <td><%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'long', day: '2-digit'}).format(new Date(row.coms_created_at)) %> </td>
                    <td><a href="javascript:void(0)" class="btn btn-pending"><%= row.coms_complaint_status%></a></td>
                    <td><%if (complaintStatus!='completed') { %> <button conplaint-code="<%= row.coms_complaint_code%>" href="javascript:void(0)" class="btn btn-sm btn-close btn-danger">Close</button> <% }else{%> <button  href="javascript:void(0)" class="btn btn-sm btn-success">Success</button><%}%></td>
                  </tr>
                  <% i++;});%> 
                </tbody>
              </table>  
                </div>
              </div>
            </div>
              <div class="col-sm-12 col-lg-12">
                <div class="professional-files-section msg-sec">
                  <div class="row">
                    <div class="col-sm-12 col-lg-12">
                      <div class="messages-section">

                        <% var i=1; complaintDetailsData.forEach(function(row){ %>

                        <div class="messages-box clearfix">
                          <div class="message-user-img">
                            <img src="upload/<%= row.comsd_user_profile_img%>" alt="" title="">
                          </div>
                          <div class="message-content">
                            <h3><%= row.comsd_user_name%></h3>
                            <p><%= row.comsd_complaint_note%></p>
                            <p class="hours-ago text-right"><%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'long', day: '2-digit'}).format(new Date(row.comsd_created_at)) %></p>
                            <%if (row.comsd_complaint_filename) { %>
                               <div class="rt-container"> 
                              <%if (row.comsd_complaint_filetype == 'application/pdf') { %> 
                                  <a download href="complaintFile/<%= row.comsd_complaint_filename%>"><img style="width: 30px !important;" class="complaint_image" src="images/pdficon.png"/> </a> 
                                <% }else{ %> 
                                    <img data-action="zoom" id="<%= i %>" class="complaint_image" src="complaintFile/<%= row.comsd_complaint_filename%>"/> 
                                  <% } %>
                                  <!-- <span><%= row.comsd_complaint_filename%></span> -->
                            </div>
                             <% } %>
                          </div>
                        </div>

                        <% i++;});%> 
                        <span class="complaint_msg"></span>
                        <%if (complaintStatus!='completed') { %>
                        <div class="text-message-box clearfix">
                          <form name="complaintform" id="mycomplent_details_form" method="POST" action="" enctype="multipart/form-data">
                            <div class="text-box">
                              <textarea data-rule-required="true" data-msg-required="Comment is required!" name="coms_complaint_note" class="form-control" placeholder="Write your reply here" style="min-width: 80%; margin-bottom: 10px; " rows="3"
                                id="comment"></textarea>
                              <a href="#" class="upload-any float-left">
                                
                                  <i class="fa fa-paperclip float-right" style="color:black">
                                    <span class="clip-icon">Attach files</span></i>
                                    <div class="custom-file-input">
                                      <input onchange="previewFile_complainsDetails(this);" accept="application/pdf,image/gif, image/jpeg, image/png"  type="file" id="image" name="complaint_file" value="">
                                      <input type="button">
                                      
                                    </div>
                                    <span style="margin-left:5px;">(Upload Image and pdf file type *)</span>
                                    <div class="uploaded_img"><img id="uploaded_img" /><span class="complaint_imgname"></span></div>
                              </a>
                              <input type="hidden" value="<%= session.complaintID %>" name="complaintID"/>
                              <button type="submit" class="btn btn-next"
                                style="width: 164px; float:right; border-radius: 5px;">
                                Send
                              </button>
                            </div>
                          </form> 
                        </div>

                        <%}%>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  
  <%- include('dashboard_footer')-%>
