<%- include('dashboard_header')-%>
  <%- include('edit-profile-model')-%>
    <div class="dashboard-wpr">
      <div class="container-fluid">
        <div class="row content">

            <!--Sidebar-->
            <div class="col-sm-2 sidenav hidden-xs-down">
              <div class="user-login text-center">
                <%- include('profile-image')-%>
                  <div class="user-name">
                    <h2>
                      <%= session.name %>
                    </h2>
                    <a href="#">
                      <%= session.email %>
                        <%- include('edit-profile-icon')-%>
                    </a>
                  </div>
              </div>
            <%- include('sidebar')-%>
            </div>

          <!-- Body Start -->
          <div class="col-sm-12 col-lg-10">
            <div class="dashboard-inner">
              <div class="row">
                <div class="col-sm-12 col-lg-5">
                  <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <div class="well">
                        <div class="well-inner">
                          <img src="images/property.png" alt="" title="">
                          <h2>1,500+</h2>
                          <p>Active property</p>

                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <div class="well">
                        <div class="well-inner">
                          <img src="images/property.png" alt="" title="">
                          <h2>3,000+</h2>
                          <p>Completed property</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-7">
                  <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <div class="recent-box">

                        <p>Recent</p>
                        <a href="/mydreamhome-details" alt="">
                          <h2>Nacary Apartment,<span>Sudirman, Central Jakarta</span></h2>
                        </a>
                        <div class="clearfix">
                          <div class="float-left">
                            <div class="recent-img">
                              <img src="images/recent-user-1.png"><img class="mr-10" src="images/recent-user-2.png"><img
                                class="mr-10" src="images/recent-user-3.png">
                            </div>
                          </div>
                          <div class="float-right">
                            <div class="progress-box">
                              <p><span>55%</span> completed</p>
                              <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <div class="recent-box">
                        <p>Recent</p>
                        <a href="/mydreamhome-details" alt="">
                          <h2>Nacary Apartment,<span>Sudirman, Central Jakarta</span></h2>
                        </a>
                        <div class="clearfix">
                          <div class="float-left">
                            <div class="recent-img">
                              <img src="images/recent-user-1.png"><img class="mr-10" src="images/recent-user-2.png"><img
                                class="mr-10" src="images/recent-user-3.png">
                            </div>
                          </div>
                          <div class="float-right">
                            <div class="progress-box">
                              <p><span>55%</span> completed</p>
                              <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <div class="recent-box">
                        <p>Recent</p>
                        <a href="/mydreamhome-details" alt="">
                          <h2>Nacary Apartment,<span>Sudirman, Central Jakarta</span></h2>
                        </a>
                        <div class="clearfix">
                          <div class="float-left">
                            <div class="recent-img">
                              <img src="images/recent-user-1.png"><img class="mr-10" src="images/recent-user-2.png"><img
                                class="mr-10" src="images/recent-user-3.png">
                            </div>
                          </div>
                          <div class="float-right">
                            <div class="progress-box">
                              <p><span>55%</span> completed</p>
                              <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <div class="recent-box">
                        <p>Recent</p>
                        <a href="/mydreamhome-details" alt="">
                          <h2>Nacary Apartment,<span>Sudirman, Central Jakarta</span></h2>
                        </a>
                        <div class="clearfix">
                          <div class="float-left">
                            <div class="recent-img">
                              <img src="images/recent-user-1.png"><img class="mr-10" src="images/recent-user-2.png"><img
                                class="mr-10" src="images/recent-user-3.png">
                            </div>
                          </div>
                          <div class="float-right">
                            <div class="progress-box">
                              <p><span>55%</span> completed</p>
                              <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="property-map-section">
                <div class="row">
                  <div class="col-sm-12 col-lg-8">
                    <div class="map-location">
                      <div class="clearfix">
                        <div class="float-left">
                          <h2>Property Map</h2>
                        </div>
                        <div class="float-right">
                          <a href="/add-property" class="btn btn-add-property">Add Property</a>
                        </div>
                      </div>
                      <div id="map" style="width: 100%; height: 340px;"></div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-lg-4">
                    <div class="my-professionals">
                      <h2>My Professionals</h2>
                      <ul class="professionals-list">
                        <li><a href="#"><img src="images/prof-img.png" alt="" title="">
                            <p>Soniya patidar</p>
                          </a></li>
                        <li><a href="#"><img src="images/prof-img.png" alt="" title="">
                            <p>Krishna Bihari Rajput</p>
                          </a></li>
                        <li><a href="#"><img src="images/prof-img.png" alt="" title=""></a></li>
                        <li><a href="#"><img src="images/prof-img.png" alt="" title=""></a></li>
                        <li><a href="#"><img src="images/prof-img.png" alt="" title=""></a></li>
                        <li><a href="#"><img src="images/prof-img.png" alt="" title=""></a></li>
                        <li><a href="#"><img src="images/prof-img.png" alt="" title=""></a></li>
                        <li><a href="#"><img src="images/prof-img.png" alt="" title=""></a></li>
                        <li><a href="/professionals" class="btn btn-add-professional">+</a></li>
                      </ul>
                      <div class="clearfix">
                        <div class="need-help float-left">
                          <h2>Need Help?</h2>
                          <p>24/7 support centre</p>
                        </div>
                        <div class="float-right">
                          <a href="#" class="btn btn-get-help">Get Help</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Body End -->



        </div>
      </div>
    </div>
    <%- include('dashboard_footer')-%>