<%- include('dashboard_header')-%>
  <%- include('edit-profile-model')-%>
    <div class="dashboard-wpr">
      <div class="container-fluid">
        <div class="row content">
          <div class="col-sm-2 sidenav hidden-xs-down">
            <div class="user-login text-center">

              <%- include('profile-image')-%>

                <div class="user-name">
                  <h2>
                    <%= session.name %>
                  </h2>
                  <a href="#">
                    <%= session.email %>
                      <%- include('edit-profile-icon')-%>
                  </a>
                </div>
            </div>
            <%- include('sidebar')-%>
          </div>
          <div class="col-sm-12 col-lg-10">
            <div class="row complaints-sec">
              <div class="col-sm-12 col-lg-6">
                <div class="complaints">
                  <h2>To do list</h2>
                </div>
              </div>


            </div>
            <div class="todos-inner">

              <div class="todo-list-table">


                <table class="table table-responsive">
                  <thead>
                    <tr>
                      <th>To-dos</th>
                      <th>Status</th>
                      <th>Date</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <%if(TaskDetailObj.length==0){%>
                      <tr>
                        <td>Result Not Found </td>
                      </tr>
                      <%}else{%>
                        <% if(session.active_user_login=='renovator' ) {%>
                          <tr>
                            <td> <label class="check-todos">
                                <p><%=TaskDetailObj.ps_phase_array[0].phase_name%></p>
                                <input type="checkbox">
                                <span class="checkmark"></span>
                              </label></td>
                            <td>
                              <%if(TaskDetailObj.ps_phase_array[0].phase_status=='pending'){%>
                              <a class="btn btn-pending">Pending</a>
                              <%}else{%>
                                <a class="btn btn-complete">Complete</a>
                                <%}%>
                            </td>
                            <td><span><%=TaskDetailObj.ps_phase_array[0].end_date%></span></td>
                            <td><a class="take-action" href="/mydreamhome-details-phase-a?id=<%=TaskDetailObj._id%>&phase=Strategic definition&step=A" id="">Take Action</a></td>
                          </tr>
                          <tr>
                            <td> <label class="check-todos">
                                <p><%=TaskDetailObj.ps_phase_array[1].phase_name%></p>
                                <input type="checkbox">
                                <span class="checkmark"></span>
                              </label></td>
                            <td>
                              <%if(TaskDetailObj.ps_phase_array[1].phase_status=='pending'){%>
                              <a class="btn btn-pending">Pending</a>
                              <%}else{%>
                                <a class="btn btn-complete">Complete</a>
                                <%}%>
                            </td>
                            <td><span><%=TaskDetailObj.ps_phase_array[1].end_date%></span></td>
                            <td><a class="take-action" href="/mydreamhome-details-phase-b?id=<%=TaskDetailObj._id%>&phase=Preparation and Briefing&step=B" id="">Take Action</a></td>
                          </tr>
                          <tr>
                            <td> <label class="check-todos">
                                <p><%=TaskDetailObj.ps_phase_array[2].phase_name%></p>
                                <input type="checkbox">
                                <span class="checkmark"></span>
                              </label></td>
                            <td>
                              <%if(TaskDetailObj.ps_phase_array[2].phase_status=='pending'){%>
                              <a class="btn btn-pending">Pending</a>
                              <%}else{%>
                                <a class="btn btn-complete">Complete</a>
                                <%}%>
                            </td>
                            <td><span><%=TaskDetailObj.ps_phase_array[2].end_date%></span></td>
                            <td><a class="take-action" href="/mydreamhome-details-phase-c?id=<%=TaskDetailObj._id%>&phase=Spatial coordination&step=C" id="">Take Action</a></td>
                          </tr>
                          <tr>
                            <td> <label class="check-todos">
                                <p><%=TaskDetailObj.ps_phase_array[3].phase_name%></p>
                                <input type="checkbox">
                                <span class="checkmark"></span>
                              </label></td>
                            <td>
                              <%if(TaskDetailObj.ps_phase_array[3].phase_status=='pending'){%>
                              <a class="btn btn-pending">Pending</a>
                              <%}else{%>
                                <a class="btn btn-complete">Complete</a>
                                <%}%>
                            </td>
                            <td><span><%=TaskDetailObj.ps_phase_array[3].end_date%></span></td>
                            <td><a class="take-action" href="/mydreamhome-details-phase-d?id=<%=TaskDetailObj._id%>&phase=Technical Design&step=D" id="">Take Action</a></td>
                          </tr>
                          <tr>
                            <td> <label class="check-todos">
                                <p><%=TaskDetailObj.ps_phase_array[4].phase_name%></p>
                                <input type="checkbox">
                                <span class="checkmark"></span>
                              </label></td>
                            <td>
                              <%if(TaskDetailObj.ps_phase_array[4].phase_status=='pending'){%>
                              <a class="btn btn-pending">Pending</a>
                              <%}else{%>
                                <a class="btn btn-complete">Complete</a>
                                <%}%>
                            </td>
                            <td><span><%=TaskDetailObj.ps_phase_array[4].end_date%></span></td>
                            <td><a class="take-action" href="/mydreamhome-details-phase-e?id=<%=TaskDetailObj._id%>&phase=Manifacturing and Construction&step=E" id="">Take Action</a></td>
                          </tr>
                          <tr>
                            <td> <label class="check-todos">
                                <p><%=TaskDetailObj.ps_phase_array[5].phase_name%></p>
                                <input type="checkbox">
                                <span class="checkmark"></span>
                              </label></td>
                            <td>
                              <%if(TaskDetailObj.ps_phase_array[5].phase_status=='pending'){%>
                              <a class="btn btn-pending">Pending</a>
                              <%}else{%>
                                <a class="btn btn-complete">Complete</a>
                                <%}%>
                            </td>
                            <td><span><%=TaskDetailObj.ps_phase_array[5].end_date%></span></td>
                            <td><a class="take-action" href="/mydreamhome-details-phase-f?id=<%=TaskDetailObj._id%>&phase=Concept Design&step=F" id="">Take Action</a></td>
                          </tr>
                          <tr>
                            <td> <label class="check-todos">
                                <p><%=TaskDetailObj.ps_phase_array[6].phase_name%></p>
                                <input type="checkbox">
                                <span class="checkmark"></span>
                              </label></td>
                            <td>
                              <%if(TaskDetailObj.ps_phase_array[6].phase_status=='pending'){%>
                              <a class="btn btn-pending">Pending</a>
                              <%}else{%>
                                <a class="btn btn-complete">Complete</a>
                                <%}%>
                            </td>
                            <td><span><%=TaskDetailObj.ps_phase_array[6].end_date%></span></td>
                            <td><a class="take-action" href="/mydreamhome-details-phase-g?id=<%=TaskDetailObj._id%>&phase=Handover&step=G" id="">Take Action</a></td>
                          </tr>
                          <tr>
                            <td> <label class="check-todos">
                                <p><%=TaskDetailObj.ps_phase_array[7].phase_name%></p>
                                <input type="checkbox">
                                <span class="checkmark"></span>
                              </label></td>
                            <td>
                              <%if(TaskDetailObj.ps_phase_array[7].phase_status=='pending'){%>
                              <a class="btn btn-pending">Pending</a>
                              <%}else{%>
                                <a class="btn btn-complete">Complete</a>
                                <%}%>
                            </td>
                            <td><span><%=TaskDetailObj.ps_phase_array[7].end_date%></span></td>
                            <td><a class="take-action" href="/mydreamhome-details-phase-h?id=<%=TaskDetailObj._id%>&phase=Use&step=H" id="">Take Action</a></td>
                          </tr>
                          <tr>
                            <td> <label class="check-todos">
                                <p><%=TaskDetailObj.ps_phase_array[8].phase_name%></p>
                                <input type="checkbox">
                                <span class="checkmark"></span>
                              </label></td>
                            <td>
                              <%if(TaskDetailObj.ps_phase_array[8].phase_status=='pending'){%>
                              <a class="btn btn-pending">Pending</a>
                              <%}else{%>
                                <a class="btn btn-complete">Complete</a>
                                <%}%>
                            </td>
                            <td><span><%=TaskDetailObj.ps_phase_array[8].end_date%></span></td>
                            <td><a class="take-action" href="/mydreamhome-details-phase-o?id=<%=TaskDetailObj._id%>&phase=other&step=O" id="">Take Action</a></td>
                          </tr>
                          <%}else{%>
                        <tr>
                          <td> <label class="check-todos">
                              <p><%=TaskDetailObj.ps_phase_array[0].phase_name%></p>
                              <input type="checkbox">
                              <span class="checkmark"></span>
                            </label></td>
                          <td>
                            <%if(TaskDetailObj.ps_phase_array[0].phase_status=='pending'){%>
                            <a class="btn btn-pending">Pending</a>
                            <%}else{%>
                              <a class="btn btn-complete">Complete</a>
                              <%}%>
                          </td>
                          <td><span><%=TaskDetailObj.ps_phase_array[0].end_date%></span></td>
                          <td><a class="take-action" href="/mydreamhome-details-phase-a?id=<%=TaskDetailObj._id%>&phase=Instruction&step=A" id="">Take Action</a></td>
                        </tr>
                        <tr>
                          <td> <label class="check-todos">
                              <p><%=TaskDetailObj.ps_phase_array[1].phase_name%></p>
                              <input type="checkbox">
                              <span class="checkmark"></span>
                            </label></td>
                          <td>
                            <%if(TaskDetailObj.ps_phase_array[1].phase_status=='pending'){%>
                            <a class="btn btn-pending">Pending</a>
                            <%}else{%>
                              <a class="btn btn-complete">Complete</a>
                              <%}%>
                          </td>
                          <td><span><%=TaskDetailObj.ps_phase_array[1].end_date%></span></td>
                          <td><a class="take-action" href="/mydreamhome-details-phase-b?id=<%=TaskDetailObj._id%>&phase=Pre-exchange Submitting the contract&step=B" id="">Take Action</a></td>
                        </tr>
                        <tr>
                          <td> <label class="check-todos">
                              <p><%=TaskDetailObj.ps_phase_array[2].phase_name%></p>
                              <input type="checkbox">
                              <span class="checkmark"></span>
                            </label></td>
                          <td>
                            <%if(TaskDetailObj.ps_phase_array[2].phase_status=='pending'){%>
                            <a class="btn btn-pending">Pending</a>
                            <%}else{%>
                              <a class="btn btn-complete">Complete</a>
                              <%}%>
                          </td>
                          <td><span><%=TaskDetailObj.ps_phase_array[2].end_date%></span></td>
                          <td><a class="take-action" href="/mydreamhome-details-phase-c?id=<%=TaskDetailObj._id%>&phase=Prior to exchange of contracts&step=C" id="">Take Action</a></td>
                        </tr>
                        <tr>
                          <td> <label class="check-todos">
                              <p><%=TaskDetailObj.ps_phase_array[3].phase_name%></p>
                              <input type="checkbox">
                              <span class="checkmark"></span>
                            </label></td>
                          <td>
                            <%if(TaskDetailObj.ps_phase_array[3].phase_status=='pending'){%>
                            <a class="btn btn-pending">Pending</a>
                            <%}else{%>
                              <a class="btn btn-complete">Complete</a>
                              <%}%>
                          </td>
                          <td><span><%=TaskDetailObj.ps_phase_array[3].end_date%></span></td>
                          <td><a class="take-action" href="/mydreamhome-details-phase-d?id=<%=TaskDetailObj._id%>&phase=Exchange of contracts&step=D" id="">Take Action</a></td>
                        </tr>
                        <tr>
                          <td> <label class="check-todos">
                              <p><%=TaskDetailObj.ps_phase_array[4].phase_name%></p>
                              <input type="checkbox">
                              <span class="checkmark"></span>
                            </label></td>
                          <td>
                            <%if(TaskDetailObj.ps_phase_array[4].phase_status=='pending'){%>
                            <a class="btn btn-pending">Pending</a>
                            <%}else{%>
                              <a class="btn btn-complete">Complete</a>
                              <%}%>
                          </td>
                          <td><span><%=TaskDetailObj.ps_phase_array[4].end_date%></span></td>
                          <td><a class="take-action" href="/mydreamhome-details-phase-e?id=<%=TaskDetailObj._id%>&phase=Completion&step=E" id="">Take Action</a></td>
                        </tr>
                        <tr>
                          <td> <label class="check-todos">
                              <p><%=TaskDetailObj.ps_phase_array[5].phase_name%></p>
                              <input type="checkbox">
                              <span class="checkmark"></span>
                            </label></td>
                          <td>
                            <%if(TaskDetailObj.ps_phase_array[5].phase_status=='pending'){%>
                            <a class="btn btn-pending">Pending</a>
                            <%}else{%>
                              <a class="btn btn-complete">Complete</a>
                              <%}%>
                          </td>
                          <td><span><%=TaskDetailObj.ps_phase_array[5].end_date%></span></td>
                          <td><a class="take-action" href="/mydreamhome-details-phase-f?id=<%=TaskDetailObj._id%>&phase=Post-Completion&step=F" id="">Take Action</a></td>
                        </tr>
                        <tr>
                          <td> <label class="check-todos">
                              <p><%=TaskDetailObj.ps_phase_array[6].phase_name%></p>
                              <input type="checkbox">
                              <span class="checkmark"></span>
                            </label></td>
                          <td>
                            <%if(TaskDetailObj.ps_phase_array[6].phase_status=='pending'){%>
                            <a class="btn btn-pending">Pending</a>
                            <%}else{%>
                              <a class="btn btn-complete">Complete</a>
                              <%}%>
                          </td>
                          <td><span><%=TaskDetailObj.ps_phase_array[6].end_date%></span></td>
                          <td><a class="take-action" href="/mydreamhome-details-phase-o?id=<%=TaskDetailObj._id%>&phase=other&step=o" id="">Take Action</a></td>
                        </tr>
                        <%}%>
                        <%}%>
                
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <%- include('dashboard_footer')-%>
