<%- include('dashboard_header')-%>
  <%- include('edit-profile-model')-%>
    <div class="dashboard-wpr">
      <div class="container-fluid">
        <div class="row content">
          <div class="col-sm-2 sidenav hidden-xs-down">
            <div class="user-login text-center">

              <%- include('profile-image')-%>

                <div class="user-name">
                  <h2>
                    <%= session.name %>
                  </h2>
                  <a href="#">
                    <%= session.email %>
                      <%- include('edit-profile-icon')-%>
                  </a>
                </div>
            </div>
            <%- include('sidebar')-%>
          </div>
          <div class="col-sm-12 col-lg-10">
            <div class="dashboard-inner">
              <div class="docs-files-section">
                <div class="row">
                  <div class="col-sm-12 col-lg-12">
                    <div class="docs-files">
                      <div class="clearfix">
                        <div class="heading-top float-left">
                          <h2 class="">My Property</h2>
                        </div>
                        <div class="float-right f-none">
                          <!-- <a href="javascript:void(0)" id="refresh">ref</a> -->
                          
                         
                            <div class="professional-right-sec">
                              <a href="/add-property" class="btn btn-add-property">Add Property</a>

                              <div class="dropdown">
                              <button class="btn professional-search-btn dropdown-toggle" type="button"
                                onclick="openNav()">
                                Show Filters
                              </button>
                             
                              </div>
                            </div>
                      
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">

                  <div class="col-sm-12 col-lg-12">
                    <div class="row">
                      <% var i=0; propertyData.forEach(function(row){ %>
                        <div class=" col-sm-12 col-md-4">
                          <div class="home-section">
                            <div class="my-dream-home-box">
                              <div class="dream-home-img">
                                <%if(propertyImage.length>0){%>
                                  <%if(propertyImage[i].length>0){%>
                                    <img src="propimg/<%=propertyImage[i][0].pps_property_image_name%>">
                                    <%if(row.ps_user_id== session.user_id){%>
                                      <a href="/add-property?property_id=<%=row._id%>" class="editProperty"
                                        id="<%=row._id%>"><i class="fa fa-edit dream-home-edit-icon "></i></a>
                                      <%}%>
                                        <%}else{%>
                                          <img src="images/property_dummy.jpg">
                                          <a href="/add-property?property_id=<%=row._id%>" class="editProperty"
                                            id="<%=row._id%>"><i class="fa fa-edit dream-home-edit-icon "></i></a>
                                          <%}%>
                                            <%}else{%>
                                              <img src="images/property_dummy.jpg">
                                              <a href="javascript:void(0)" class=""> <i
                                                  class="fa fa-edit dream-home-edit-icon "></i></a>
                                              <%}%>
                                                <% if(row.ps_property_type=='New' ){ %>
                                                  <a href="/mydreamhome-details?id=<%=row._id%>"
                                                    class="btn btn-new mydreamHomeDetail" value="<%=row._id%>">
                                                    <%=row.ps_property_type%>
                                                  </a>
                                                  <%} else {%>
                                                    <a href="/mydreamhome-details-chainproperty?id=<%=row._id%>"
                                                      class="btn btn-new mydreamHomeDetail" value="<%=row._id%>">
                                                      <%=row.ps_property_type%>
                                                    </a>
                                                    <%}%>
                              </div>
                              <div class="dream-home-description">
                                <h3><a href="/mydreamhome-details?id=<%=row._id%>">
                                    <%= row.ps_property_name%>
                                  </a></h3>
                                <div class="location-part"><a href="#"><img src="images/location.png">
                                    <%=row.ps_property_address%>,<%=row.ps_property_country_id%>
                                  </a></div>
                                <div class="location-part"><a href="/mydreamhome-details?id=<%=row._id%>"><img
                                      src="images/sq.ft.png">
                                    <%=row.ps_property_area%> sq.ft.
                                  </a></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <% i++;});%>
                    </div>

                    <div class="pagination-section">
                      <nav aria-label="Page navigation example">
                        <ul class="pagination">
                          <% if(totalPages> 1){ %>
                            <li class="page-item">
                              <% if(currentPage> 1){ var currentPage1 = currentPage-1; %>
                                <a class="page-link" href="/professionals?page=<%=currentPage1%>" aria-label="Previous">
                                  <span aria-hidden="true">&laquo;</span>
                                  <span class="sr-only">Previous</span>
                                </a>
                                <% } %>
                            </li>
                            <% for(var i=1; i<=totalPages; i++) { var tClass='' ; if(i==currentPage){ tClass='active' ;
                              } %>
                              <li class="page-item <%=tClass%>"><a class="page-link" href="/professionals?page=<%=i%>">
                                  <%=i%>
                                </a></li>
                              <% } %>
                                <% if(currentPage < totalPages){ var currentPage1=currentPage+1; %>
                                  <li class="page-item">
                                    <a class="page-link" href="/professionals?page=<%=currentPage1%>" aria-label="Next">
                                      <span aria-hidden="true">&raquo;</span>
                                      <span class="sr-only">Next</span>
                                    </a>
                                  </li>
                                  <% } %>
                                    <% } %>
                        </ul>
                      </nav>
                    </div>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div id="mySidenav" class="sidenav show-filter-nav propertylist_filter">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <form id="multifilterForm" action="#" method="POST">
      <div class="filter-sec">

        <h3>Property</h3>
        <div class="inner-box-qualification">
          <div class="input-group search-input-new">
            <i class="fa fa-search"></i>
            <input id="myInput1" onkeyup="myFunction1()" type="search"
              class="form-control" placeholder="Name,address,post code,property code"/>
          </div>

          <div class="form-group for-select-existing-doc">
            <div class="input-group">
              <div style="width:100%;">
                <ul id="myUL1" style="padding-left: 0;">
                  <% var i=0; propertyData.forEach(function(row){ %>
                    <li style="list-style: none;">
                      <div class="for-doc-select">
                        <div class="col-sm-12">
                          <div class="row">
                          <div style="padding: 0;" class="col-sm-2">
                          <%if(propertyImage[i].length>0){%>
                            <img src="propimg/<%=propertyImage[i][0].pps_property_image_name%>" class="img-circle" width="60px">
                          <% }else{ %> 
                            <img src="images/property_dummy.jpg" class="img-circle" width="60px">
                          <%} %>
                          </div>

                          <% if(row.ps_property_type=='New' ){ %>

                            <div class="col-sm-8">
                              <h4 class="pname"><a href="/mydreamhome-details?id=<%=row._id%>"><%= row.ps_property_name%> (<%=row.ps_unique_code%>)</a></h4>
                              <p class="paddress"><a href="/mydreamhome-details?id=<%=row._id%>"> <%=row.ps_property_address%>,<%=row.ps_property_country_id%>,<%=row.ps_property_zipcode%></a></p>
                            </div>

                          <%} else {%>

                              <div class="col-sm-8">
                                <h4 class="pname"><a href="/mydreamhome-details-chainproperty?id=<%=row._id%>"><%= row.ps_property_name%> (<%=row.ps_unique_code%>)</a></h4>
                                <p class="paddress"><a href="/mydreamhome-details-chainproperty?id=<%=row._id%>"> <%=row.ps_property_address%>,<%=row.ps_property_country_id%>,<%=row.ps_property_zipcode%></a></p>
                              </div>

                          <%}%>
                        </div>
                      </div>
                      </div>
                    </li>
                    <% i++; });%>
                </ul>
              </div>
    
            </div>
          </div>
        </div>
    
      </div>
    </form>
    </div>
    


    <%- include('dashboard_footer')-%>

    <script>
      function openNav() {
        document.getElementById("mySidenav").style.width = "400px";
      }
      
      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
      }

      function myFunction1() {
          var input, filter, ul, li, a, i, txtValue;
          input = document.getElementById("myInput1");
          filter = input.value.toUpperCase();
          ul = document.getElementById("myUL1");
          li = ul.getElementsByTagName("li");
          for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("div")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              li[i].style.display = "";
            } else {
              li[i].style.display = "none";
            }
          }
        }

      </script>