<%- include('dashboard_header')-%>
  <%- include('edit-profile-model')-%>
    <!-- The Modal -->
    <div class="modal permission-modal fade " id="ComplaintModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <form name="complaintform" id="complent_form" method="post" action="" enctype="multipart/form-data">
            <!-- Modal Header -->
            <div class="modal-header text-center">
              <h2 class="modal-title w-100">Raise a Complaint</h2>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
              <select class="form-control selectBox " style="height:55px" id="coms_complaint_for"
                name="coms_complaint_for" data-rule-required="true" data-msg-required="professional is required!">
                <option value="">Select professional</option>
                <%hiredProfeshnoalList.forEach(function(row){%>
                  <option value="<%=row._id%>">
                    <%=row.sps_fullname%>
                  </option>
                  <%});%>
              </select>
              <input type="hidden" name="cust_user_id" id="cust_user_id" value="<%= session.user_id %>">
              <input type="hidden" name="property_id" id="property_id" value="<%=propertyDetailData[0]._id%>">
              <input type="text" class="form-control  form-control-fix2" id="coms_complaint_subject"
                placeholder="Subject" name="coms_complaint_subject" data-rule-required="true"
                data-msg-required="Subject is required!">
              <textarea class="form-control  form-control-fix2" rows="3" name="coms_complaint_note"
                id="coms_complaint_note" placeholder="Add Notes"></textarea>
              <a href="#" class="upload-any float-right"><i class="fa fa-paperclip float-right"
                  style="color:black"><span class="clip-icon">Attach
                    files</span></i>
                <div class="custom-file-input">
                  <input type="file" id="image" name="complaint_file" value="" required>
                  <input type="button">
                </div>
                </span>
              </a>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-cancel" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-cancel complain_submit_btn" name="submit"
                data-dismiss="">Submit</button>
            </div>

          </form>
        </div>
      </div>

    </div>
    </div>

    <div class="dashboard-wpr">
      <div class="container-fluid">
        <div class="row content">
          <div class="col-sm-2 sidenav hidden-xs-down">
            <div class="user-login text-center">

              <%- include('profile-image')-%>

                <div class="user-name">
                  <h2>
                    <%= session.name %>
                  </h2>
                  <a href="#">
                    <%= session.email %>
                      <%- include('edit-profile-icon')-%>
                  </a>
                </div>
            </div>
            <%- include('sidebar')-%>
          </div>
          <div class="col-sm-12 col-lg-10">
            <div class="dashboard-inner">
              <div class="row back-to-home">
                <div class="breadcumb">
                  <ul>
                    <li><a href="/mydreamhome"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back to My
                        Dream Home </a></li>
                  </ul>
                </div>
              </div>
              <div class="docs-files-section">
                <div class="row">
                  <div class="col-sm-12 col-lg-12">
                    <div class="apartment-slider">
                      <div class="row">
                        <div class="col-sm-12 col-lg-5">
                          <div id="demo" class="carousel slide" data-ride="carousel">
                            <!-- The slideshow -->
                            <div class="carousel-inner">
                              <% var c=0; propertyImage.forEach(function(rows){%>
                                <%if(c==0){%>
                                  <div class="carousel-item active">
                                    <img src="propimg/<%=rows.pps_property_image_name%>" alt="">
                                  </div>
                                  <%}else{%>
                                    <div class="carousel-item ">
                                      <img src="propimg/<%=rows.pps_property_image_name%>" alt="">
                                    </div>
                                    <%}%>
                                      <% c++;});%>
                            </div>
                            <!-- Left and right controls -->
                            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                              <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </a>
                            <a class="carousel-control-next" href="#demo" data-slide="next">
                              <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </a>
                          </div>
                        </div>
                        <div class="col-sm-12 col-lg-7">
                          <div class="apartment-details">
                            <div class="clearfix">
                              <div class="float-left">
                                <h3 class="apartment-name"><a href="#">
                                    <%=propertyDetailData[0].ps_property_name%><span>(
                                        <%=propertyDetailData[0].ps_unique_code%> )</span>
                                  </a></h3>
                                <div class="location-part"><a href="#"><img src="images/location.png">
                                    <%=propertyDetailData[0].ps_property_address%>,
                                      <%=propertyDetailData[0].ps_property_country_id%>
                                  </a></div>
                              </div>
                              <div class="img-fix3 float-right">
                                <a href="/mydreamhome-details-message?id=<%=propertyDetailData[0]._id%>"><img
                                    src="images/chat.png"></a>
                                <a href="#" data-toggle="modal" data-target="#ComplaintModal"><img
                                    src="images/help.png"></a>
                              </div>
                            </div>
                            <div class="recent-img">
                              <img src="images/recent-user-1.png"><img class="mr-10" src="images/recent-user-2.png"><img
                                class="mr-10" src="images/recent-user-3.png">
                              <a href="#" class="add-professionals">Add/Remove Professionals</a>
                            </div>
                            <div class="apartment-details-full">
                              <div class="row">
                                <div class="col-6 col-sm-6 col-lg-3">
                                  <div class="start-date">
                                    <p>Start date<br><b>5 Apr, 2019</b></p>
                                  </div>
                                </div>
                                <div class="col-6 col-sm-6 col-lg-3">
                                  <div class="start-date">
                                    <p>End date<br><b>1 Dec, 2021</b></p>
                                  </div>
                                </div>
                                <div class="col-6 col-sm-6 col-lg-3">
                                  <div class="start-date">
                                    <p>Area<br><b>
                                        <%=propertyDetailData[0].ps_property_area%> sq.ft.
                                      </b></p>
                                  </div>
                                </div>
                                <div class="col-6 col-sm-6 col-lg-3">
                                  <div class="start-date">
                                    <p>Duration<br><b>2 year</b></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="apartment-details-full">
                              <div class="row">
                                <div class="col-6 col-sm-6 col-lg-3">
                                  <div class="start-date">
                                    <p>Estimated Cost<br><b>$10000 </b></p>
                                  </div>
                                </div>
                                <div class="col-6 col-sm-6 col-lg-3">
                                  <div class="start-date">
                                    <p>Estimated Time<br><b>2 year</b></p>
                                  </div>
                                </div>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="linear-arrow-sec">
                <div class="row">
                  <div class="col-md-9">
                    <div class="progress-line">
                      <ul>
                        <li class="progress-1"><a
                            href="/mydreamhome-details-phase-a?id=<%=propertyDetailData[0]._id%>"><img
                              src="images/white-prgress=arrow.png"></a> <span>Phase A</span></li>
                        <li class="progress-2"><img src="images/white-prgress=arrow.png"> <span>Phase B</span></li>
                        <li class="progress-3"><img src="images/white-prgress=arrow.png"> <span>Phase C</span></li>
                        <li class="progress-4"><img src="images/white-prgress=arrow.png"> <span>Phase D</span></li>
                        <li class="progress-5"><img src="images/white-prgress=arrow.png"> <span>Phase E</span></li>
                        <li class="progress-6"><img src="images/white-prgress=arrow.png"> <span>Phase F</span></li>
                      </ul>
                    </div>
                    <div class="time-schedule2">
                      <ul>
                        <li>
                          <div>
                            <img src="images/track-active.png">
                            2 weeks
                          </div>
                        </li>
                        <li>
                          <div>
                            <img src="images/track-active.png">
                            2 weeks
                          </div>
                        </li>
                        <li>
                          <div>
                            <img src="images/track-active.png">
                            2 weeks
                          </div>
                        </li>
                        <li>
                          <div>
                            <img src="images/track-active.png">
                            2 weeks
                          </div>
                        </li>
                        <li>
                          <div>
                            <img src="images/track-active.png">
                            2 weeks
                          </div>
                        </li>
                        <li>
                          <div>
                            <img src="images/track-active.png">
                            2 weeks
                          </div>
                        </li>
                      </ul>
                      <ul>
                        <li>
                          <div>
                            <img src="images/track-active.png">
                            5,000 $
                          </div>
                        </li>
                        <li>
                          <div>
                            <img src="images/track-active.png">
                            5,000 $
                          </div>
                        </li>
                        <li>
                          <div>
                            <img src="images/track-active.png">
                            5,000 $
                          </div>
                        </li>
                        <li>
                          <div>
                            <img src="images/track-active.png">
                            5,000 $
                          </div>
                        </li>
                        <li>
                          <div>
                            <img src="images/track-active.png">
                            5,000 $
                          </div>
                        </li>
                        <li>
                          <div>
                            <img src="images/track-active.png">
                            5,000 $
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="col">
                      <div class="time-cost-sec common-box-shadow">
                        <h6>TOTAL TIME</h6>
                        <h6 style="color:#005377; font-weight: bold;"> 525 days</h6>
                      </div>
                      <div class="time-cost-sec common-box-shadow">
                        <h6>TOTAL COST</h6>
                        <h6 style="color: #005377; font-weight: bold;"> 10000 $</h6>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <div class="do-list-docs-message">
                <div class="row">
                  <div class="col-sm-6 col-lg-4">
                    <div class="do-list-sec">
                      <div class="do-list-header">
                        <a href="/mydreamhome-details-to-dos">
                          <h3 class="text-center">To-do list</h3>
                        </a>
                      </div>
                      <%if(phaseDetailObj.length==0){%>
                        <h6>Phases Not Found</h6>
                        <%}else{%>
                          <%phaseDetailObj.forEach(function(row,i){%>
                            <label class="check-todos">
                              <p>
                                <%=row.pps_phase_name%><a href="/mydreamhome-details-to-dos"><img
                                      src="images/recent-user-1.png"></a><em>
                                    <%=row.professionalName%>
                                  </em>
                              </p>
                              <input type="checkbox">
                              <span class="checkmark"></span>
                            </label>
                            <%});%>
                              <%}%>
                                <!-- <label class="check-todos">
                        <p>Instruct solicitor <a href="/mydreamhome-details-to-dos"><img
                              src="images/recent-user-1.png"></a><em>Michael Williams</em></p>
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                      <label class="check-todos">
                        <p>Instruct other professionals<a href="/mydreamhome-details-to-dos"><img
                              src="images/recent-user-1.png"></a><em>Michael Williams</em></p>
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                      <label class="check-todos">
                        <p>ID/Passport</p>
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                      <label class="check-todos">
                        <p>Proof of address</p>
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                      <label class="check-todos">
                        <p>Proof of fund (cash buyers)/agreement in principle (mortgage)</p>
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label> -->
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-4">
                    <div class="do-list-sec">

                      <div class="do-list-header">
                        <!-- /mydreamhome-details-docs?id=<%=propertyDetailData[0]._id%> -->
                        <a href="/mydreamhome-details-docs" value="<%=propertyDetailData[0]._id%>">
                          <h3 class="text-center">Docs & Files</h3>
                        </a>
                      </div>
                      <ul class="docs-list">
                        <%if(allDocumentUploadByCustmer.length>0){%>
                          <%allDocumentUploadByCustmer.forEach(function(row,i){%>
                            <%if(i<=2){%>
                              <li style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><a
                                  href="/mydreamhome-details-docs" value="<%=propertyDetailData[0]._id%>"><img
                                    src="/upload/<%=row.cuds_document_name%>" alt="" title=""><br><span>
                                    <%=row.cuds_document_name%>
                                  </span></a>
                              </li>
                              <%}%>
                                <%});%>
                                  <%}else{%>
                                    <h6>Docs&File Not Uploaded</h6>

                                    <%}%>
                      </ul>

                      <!-- <ul class="docs-list last-doc">
                      <li><a href="/mydreamhome-details-docs"><img src="images/pdf.png" alt=""
                            title=""><br><span>contract.pdf</span></a></li>
                    </ul> -->

                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-4">
                    <div class="do-list-sec">
                      <div class="do-list-header">
                        <a href="/mydreamhome-details-message">
                          <h3 class="text-center">Messages</h3>
                        </a>
                      </div>
                      <%hiredProfeshnoalList.forEach(function(row){%>
                        <div class="messages-list clearfix">
                          <div class="message-img float-left">

                            <a href="/mydreamhome-details-message?id=<%=propertyDetailData[0]._id%>&pid=<%=row._id%>"><img
                                src="images/recent-user-1.png" alt="" title=""></a>
                          </div>
                          <div class="message-drop float-left">
                            <h3>
                              <%=row.sps_fullname%>
                            </h3>
                            <p>
                              <%=row.sms_message%>
                            </p>

                          </div>
                        </div>
                        <%});%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
    <script>
      $(document).ready(function () {
        $(".sidenav ul li").click(function () {
          $(".sidenav ul li").removeClass("active");
          $(this).addClass("active");
        });
      });
      $(document).ready(function () {
        $(".right-navbar li").click(function () {
          $("right-navbar li").removeClass("active");
          $(this).addClass("active");
        });
      });
    </script>

    <script>
      $(document).ready(function () {
        $(".buyertab").click(function (e) {
          $.ajax({
            type: "GET",
            url: "/buyer",
            cache: false,
            success: function (html) {
            }
          });
          location.reload(true);
        });
        $(".sellertab").click(function (e) {
          $.ajax({
            type: "GET",
            url: "/seller",
            cache: false,
            success: function (html) {
            }
          });
          location.reload(true);
        });
        $(".renovatortab").click(function (e) {
          $.ajax({
            type: "GET",
            url: "/renovator",
            cache: false,
            success: function (html) {
            }
          });
          location.reload(true);
        });
      });
    </script>

    <script>
      $(document).ready(function () {

        $('form#complent_form').submit(function (e) {
          e.preventDefault();

          var formData = new FormData($('#complent_form')[0]);

          $.ajax({
            type: "POST",
            data: formData,
            url: "/raise-a-complaint",
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {

              console.log(data);

              location.reload(true);

            }
          });

          //location.reload(true);
        })

      });

    </script>
    <script>
      $(document).ready(function () {
        $('.custom-file-input input[type="file"]').change(function (e) {
          $(this).siblings('input[type="text"]').val(e.target.files[0].name);
        });
      });
    </script>
    <script>
  //   $(document).ready(function () {
  //   $("a[href$='mydreamhome-details-docs']").click(function(e){
  //     var propertyId = $(this).attr('value');

  //     $.ajax({
  //       type: "POST",
  //       data: 'propertyId=' + propertyId,
  //       url: "/api/getPropertyById",
  //       cache: false,
  //       success: function (data) {
  //         //$("#results").append(data);
  //         return;
  //         console.log(data);
  //       }
  //     });

  //   });
  // });
    </script>
    <script type="text/javascript">
      $('#complaintform').validate({
        onfocusout: function (element) {
          this.element(element);
        },
        errorClass: 'error_validate',
        errorElement: 'span',
        highlight: function (element, errorClass) {
          $(element).removeClass(errorClass);
        },
        submitHandler: function (form) {
          $('#submit').attr('disabled', true);
          form.submit();
        }
      });
    </script>
    <script type="text/javascript">
      $(document).ready(function () {
        var flash_msg = $('.flash_msg').html();
        if (flash_msg != "" && flash_msg != undefined) {
          setTimeout(function () { $('.flash_msg').html(''); }, 4000);
        }
      });

      $(document).ready(function () {
        var succ_flash_msg = $('.succ_flash_msg').html();
        if (succ_flash_msg != "" && succ_flash_msg != undefined) {
          setTimeout(function () { $('.succ_flash_msg').html(''); }, 4000);
        }
      });  
    </script>
    </body>


    </html>