<%- include('dashboard_header')-%>
  <%- include('edit-profile-model')-%>
    <!-- The Modal -->
    <div class="modal fade permission-modal" id="permissionModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h2 class="modal-title text-center">Change Permissions</h2>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <input type="hidden" name="cust_id" class="cust_id" value="<%=session.user_id%>">
            <% data.forEach(function(row){ %>
              <label class="check-permission"><img src="images/recent-user-1.png">
                <%= row.sps_fullname%>, <span>
                    <%= row.sps_role_name%>
                  </span>
                  <input type="checkbox" name="selected[]" class="chekbox" value="<%= row._id%>">
                  <span class="checkmark"></span>

              </label>
              <% });%>
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-cancel" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-cancel" id="change-permision-save-btn"
              data-dismiss="modal">Save</button>
          </div>

        </div>
      </div>
    </div>
    <div class="dashboard-wpr">
      <div class="container-fluid">
        <div class="row content">
          <div class="col-sm-2 sidenav hidden-xs-down">
            <div class="user-login text-center">

              <%- include('profile-image')-%>

                <div class="user-name">
                  <h2>
                    <%= session.name %>
                  </h2>
                  <a href="#">
                    <%= session.email %>
                      <%- include('edit-profile-icon')-%>
                  </a>
                </div>
            </div>
            <ul class="dashboard-nav">
              <li>
                <a href="/dashboard"><img class="act-img" src="images/dashboard-active.png"><img
                    src="images/dashboard.png"> Dashboard</a>
              </li>
              <li>
                <a href="/track-your-progress"><img class="act-img" src="images/track-active.png"><img
                    src="images/track.png"> Track your progress</a>
              </li>
              <li>
                <a href="/professionals"><img class="act-img" src="images/professionals-active.png"><img
                    src="images/professionals.png"> Professionals</a>
              </li>
              <li class="active">
                <a href="/mydreamhome"><img class="act-img" src="images/dreamhome-active.png"><img
                    src="images/dreamhome.png"> My dream home</a>
              </li>
              <li>
                <a href="/mydreamhome-details-to-dos"><img class="act-img" src="images/to-do-list-active.png"><img
                    src="images/to-do-list.png"> To do list</a>
              </li>
            </ul>
          </div>
          <div class="col-sm-12 col-lg-10">
            <div class="dashboard-inner">
              <div class="row">
                <div class="breadcumb">
                  <ul>
                    <li><a href="/mydreamhome-details?id=<%=session.property_id%>"><i class="fa fa-long-arrow-left"
                          aria-hidden="true"></i> Back
                        to <%=property.ps_property_name%></a></li>
                  </ul>
                </div>
              </div>
              <div class="docs-files-section">
                <div class="row">
                  <div class="col-sm-12 col-lg-12">
                    <div class="docs-files">
                      <div class="clearfix">
                        <div class="float-left">
                          <h2>Docs & Files</h2>
                        </div>
                        <form action="/upload-new-document" method="post" id="newDocumentform"
                          enctype="multipart/form-data">

                          <div class="float-right">
                            <!-- <a href="#" class="btn btn-add-property">Add New Document</a>-->
                            <a href="#" class="upload-any"><img src="images/upload.png"> <span>
                                <div class="custom-file-input">
                                  <input type="hidden" name="property_id" value='<%=property._id%>'
                                    id="hiddenPropertyId">
                                  <input type="file" id="image" name="new_Docs" value="" required>
                                  <input type="button">
                                </div>
                              </span></a>
                            <button class="btn btn-add-property">Add New Document</button>
                          </div>
                        </form>
                      </div>
                      <ul class="docs-list">
                        <% allDocument.forEach(function(row){%>
                          <%if(row.cuds_document_type=='image'){%>
                            <li style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><a href="#"><img
                                  src="/upload/<%= row.cuds_document_name%>" alt="" title=""><br><span>
                                  <%= row.cuds_document_name%>
                                </span></a>
                            </li>
                            <%}%>
                              <%});%>
                                <!-- <li><a href="#"><img src="images/pdf.png" alt="" title=""><br><span>contract.pdf</span></a></li>
                      <li><a href="#"><img src="images/pdf.png" alt="" title=""><br><span>contract.pdf</span></a></li>
                      <li><a href="#"><img src="images/pdf.png" alt="" title=""><br><span>contract.pdf</span></a></li>
                      <li><a href="#"><img src="images/pdf.png" alt="" title=""><br><span>contract.pdf</span></a></li>
                      <li><a href="#"><img src="images/idproof.png" alt="" title=""><br><span>idproof.jpg</span></a>
                      </li> -->
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="doc-table">
                <table class="table table-responsive">
                  <thead>
                    <tr>
                      <th>Document Name</th>
                      <th>Date</th>
                      <th>Permissions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% allDocument.forEach(function(row){ %>
                      <%if(row.cuds_document_type=='image'){%>
                        <tr>
                          <td>
                            <img class="pdf-file" src="/upload/<%= row.cuds_document_name%>">
                            <!-- <div class="image-fix overflow-hidden">
                            <a href="upload/<%= row.cuds_document_name%>" data-lightbox="example-set"
                              data-title=" <%= row.cuds_document_name%>">
                              <img src="/upload/<%= row.cuds_document_name%>" alt="" class="example-image " />
                            </a>
                          </div> -->
                            <p><span>
                                <%= row.cuds_document_name%>
                              </span>
                              <%= row.cuds_document_size%>
                            </p>
                          </td>
                          <td><span class="professionals-view">
                              <%=moment.unix( row.cuds_created_at/1000).format("D MMM YYYY") %>| Downloaded by<ul>
                                  <li class="dropdown"><a href="#" class="dropdown-toggle" type="button"
                                      id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                      aria-expanded="false">2 professionals</a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      <a class="dropdown-item" href="#"><img src="images/recent-user-3.png"> Alex
                                        Jackson</a>
                                      <a class="dropdown-item" href="#"><img src="images/recent-user-3.png"> Alex
                                        Jackson</a>
                                    </div>
                                  </li>
                                </ul>
                            </span></td>
                          <td>
                            <div class="recent-img">
                              <img src="images/recent-user-1.png"><img class="mr-10" src="images/recent-user-2.png"><img
                                class="mr-10" src="images/recent-user-3.png">
                              <a href="#" data-toggle="modal" data-target="#permissionModal" value="<%=row._id%>"
                                class="getDocId">Change permission</a>
                            </div>
                          </td>
                        </tr>
                        <%}else{%>
                          <tr>
                            <td>
                              <video width="200" height="100" controls>
                                <source src="/upload/<%= row.cuds_document_name%>" type="video/mp4">

                              </video>
                              <p><span>
                                  <%= row.cuds_document_name%>
                                </span>
                                <%= row.cuds_document_size%>
                              </p>
                            </td>
                            <td><span class="professionals-view">
                                <%=moment.unix( row.cuds_created_at/1000).format("D MMM YYYY") %>| Downloaded by<ul>
                                    <li class="dropdown"><a href="#" class="dropdown-toggle" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">2 professionals</a>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#"><img src="images/recent-user-3.png"> Alex
                                          Jackson</a>
                                        <a class="dropdown-item" href="#"><img src="images/recent-user-3.png"> Alex
                                          Jackson</a>
                                      </div>
                                    </li>
                                  </ul>
                              </span></td>
                            <td>
                              <div class="recent-img">
                                <img src="images/recent-user-1.png"><img class="mr-10"
                                  src="images/recent-user-2.png"><img class="mr-10" src="images/recent-user-3.png">
                                <a href="#" data-toggle="modal" data-target="#myModal" value="<%=row._id%>"
                                  class="getDocId">Change permission</a>
                              </div>
                            </td>
                          </tr>
                          <%}%>
                            <% });%>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <!-- Font Awesome https://fontawesome.com/  https://use.fontawesome.com/releases/v5.14.0/js/all.js -->
    <!-- <script src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script> -->
    <!-- Lightbox Image Gallery https://cdnjs.com/libraries/lightbox2  https://lokeshdhakar.com/projects/lightbox2/ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/js/lightbox.min.js"></script>
    <!-- Owl Carousel https://cdnjs.com/libraries/OwlCarousel2
		http://owlcarousel2.github.io/OwlCarousel2/ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <!-- jQuery CounterUp https://www.jsdelivr.com/package/npm/jquery.counterup
		https://github.com/bfintal/Counter-Up2 -->
    <script src="https://cdn.jsdelivr.net/npm/jquery.counterup@2.1.0/jquery.counterup.min.js"></script>
    <!-- Bootstrap Form Validator https://cdnjs.com/libraries/1000hz-bootstrap-validator -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>

    <script>$(document).ready(function () {
        lightbox.option({
          resizeDuration: 600,
          wrapAround: true,
          imageFadeDuration: 500,
        });
      });</script>

    <script>
      $(document).ready(function () {
        $(".sidenav ul li").click(function () {
          $(".sidenav ul li").removeClass("active");
          $(this).addClass("active");
        });
      });
      $(document).ready(function () {
        $(".right-navbar li").click(function () {
          $("right-navbar li").removeClass("active");
          $(this).addClass("active");
        });
      });
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
      $(document).ready(function () {
        $('.custom-file-input input[type="file"]').change(function (e) {
          $(this).siblings('input[type="text"]').val(e.target.files[0].name);
        });
      });
    </script>
    <script>
      var id_element = [];
      $(".getDocId").click(function (e) {

        id_element = $(this).attr('value');



      })
      $("#change-permision-save-btn").click(function (e) {
        //e.preventDefault();

        var user_id = $('.cust_id').val();
        console.log(user_id)
        var checked_elem = [];
        $('.chekbox:checkbox:checked').each(function (i) {
          checked_elem[i] = $(this).val();

        });
        //console.log(checked_elem)
        $.ajax({
          type: "POST",
          data: 'cust_id=' + user_id + '&checked_elem=' + checked_elem + '&id_element=' + id_element,
          url: "/api/change-permision",
          cache: false,
          success: function (html) {
            //$("#results").append(html);
          }
        });
        location.reload(true);
      });
    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
      $(document).ready(function () {
        $(".buyertab").click(function (e) {
          $.ajax({
            type: "GET",
            url: "/buyer",
            cache: false,
            success: function (html) {
            }
          });
          location.reload(true);
        });
        $(".sellertab").click(function (e) {
          $.ajax({
            type: "GET",
            url: "/seller",
            cache: false,
            success: function (html) {
            }
          });
          location.reload(true);
        });
        $(".renovatortab").click(function (e) {
          $.ajax({
            type: "GET",
            url: "/renovator",
            cache: false,
            success: function (html) {
            }
          });
          location.reload(true);
        });
      });
    </script>

    </body>

    </html>