<%- include('dashboard_header')-%>
  <%- include('edit-profile-model')-%>
    <div class="dashboard-wpr">
      <div class="container-fluid">
        <div class="row content">
          <div class="col-sm-2 sidenav hidden-xs-down">
            <div class="user-login text-center">

              <%- include('profile-image')-%>

                <div class="user-name">
                  <h2>
                    <%= session.name %>
                  </h2>
                  <a href="#">
                    <%= session.email %>
                      <%- include('edit-profile-icon')-%>
                  </a>
                </div>
            </div>
            <ul class="dashboard-nav">
              <li>
                <a href="/dashboard"><img class="act-img" src="images/dashboard-active.png"><img
                    src="images/dashboard.png"> Dashboard</a>
              </li>
              <li>
                <a href="/track-your-progress"><img class="act-img" src="images/track-active.png"><img
                    src="images/track.png"> Track your progress</a>
              </li>
              <li>
                <a href="/professionals"><img class="act-img" src="images/professionals-active.png"><img
                    src="images/professionals.png"> Professionals</a>
              </li>
              <li class="active">
                <a href="/mydreamhome"><img class="act-img" src="images/dreamhome-active.png"><img
                    src="images/dreamhome.png"> My dream home</a>
              </li>
              <li>
                <a href="/mydreamhome-details-to-dos"><img class="act-img" src="images/to-do-list-active.png"><img
                    src="images/to-do-list.png"> To do list</a>
              </li>
            </ul>
          </div>
          <div class="col-sm-12 col-lg-10">
            <div class="dashboard-inner">
              <div class="docs-files-section">
                <div class="row">
                  <div class="col-sm-12 col-lg-12">
                    <div class="docs-files">
                      <div class="clearfix">
                        <div class="heading-top float-left">
                          <h2 class="">My Dream Home</h2>


                        </div>
                        <div class="float-right">
                          <a href="/add-property" class="btn btn-add-property">Add Property</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">

                  <div class="col-sm-12 col-lg-12">
                    <% var i=0; propertyData.forEach(function(row){ %>
                      <div class="home-section">

                        <div class="my-dream-home-box" style="margin-right: 5%;">

                          <div class="dream-home-img">

                            <%if(propertyImage.length>0){%>

                              <img src="propimg/<%=propertyImage[i][0].pps_property_image_name%>">
                              <%}else{%>
                                <img src="images/nacary.png">
                                <%}%>
                                  <a href="/mydreamhome-details?id=<%=row._id%>" class="btn btn-new mydreamHomeDetail"
                                    value="<%=row._id%>">
                                    <%=row.ps_property_type%>
                                  </a>
                          </div>
                          <div class="dream-home-description">
                            <h3><a href="/mydreamhome-details?id=<%=row._id%>">
                                <%= row.ps_property_name%>
                              </a></h3>
                            <div class="location-part"><a href="#"><img src="images/location.png">
                                <%=row.ps_property_address%>,<%=row.ps_property_country_id%>
                              </a></div>
                            <div class="location-part"><a href="/mydreamhome-details?id=<%=row._id%>"><img
                                  src="images/sq.ft.png">
                                <%=row.ps_property_area%> sq.ft.
                              </a></div>
                          </div>
                        </div>
                      </div>
                      <% i++;});%>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
    <script>
      $(document).ready(function () {
        $(".sidenav ul li").click(function () {
          $(".sidenav ul li").removeClass("active");
          $(this).addClass("active");
        });
      });
      $(document).ready(function () {
        $(".right-navbar li").click(function () {
          $("right-navbar li").removeClass("active");
          $(this).addClass("active");
        });
      });
    </script>
    <script>

    // $(document).ready(function () {
    //   $(".mydreamHomeDetail").click(function (e) {
    //     var id = $(this).attr('value')
    //     $.ajax({
    //     type: "POST",
    //     data: 'property_id=' +id ,
    //     url: "/getProperty-detail",
    //     cache: false,
    //     success: function (html) {
    //       //$("#results").append(html);
    //     }
    //   });
    //   location.reload(true);
    //   });
    // });
    </script>
    <script>
      $(document).ready(function () {
        $(".buyertab").click(function (e) {
          $.ajax({
            type: "GET",
            url: "/buyer",
            cache: false,
            success: function (html) {
            }
          });
          location.reload(true);
        });
        $(".sellertab").click(function (e) {
          $.ajax({
            type: "GET",
            url: "/seller",
            cache: false,
            success: function (html) {
            }
          });
          location.reload(true);
        });
        $(".renovatortab").click(function (e) {
          $.ajax({
            type: "GET",
            url: "/renovator",
            cache: false,
            success: function (html) {
            }
          });
          location.reload(true);
        });
      });
    </script>
    </body>

    </html>