<%- include('dashboard_header')-%>
  <%- include('edit-profile-model')-%>
    <!-- The Modal -->
    <div class="modal permission-modal fade " id="addTask2Modal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header text-center">
            <h2 class="modal-title w-100">Add Task</h2>
          </div>
          <form name="addTaskForm_mydreamhome_detial" id="addTaskForm_mydreamhome_detial" action="" method="post">
            <!-- Modal body -->
            <div class="modal-body">
              <label class="">Describe this to-do</label>
              <div class="errmessage"></div>
              <select class="form-control selectBox2 " style="height:48px" id="task_for" name="service_provider_id"
                data-rule-required="true" data-msg-required="professional is required!">
                <option value="">Select professional</option>
                <%hiredProfeshnoalList.forEach(function(row,i){%>
                  <option value="<%=row._id%>">
                    <%=row.sps_fullname%>
                  </option>
                  <%});%>
              </select>

              <select onchange="phaseTaskList(this,'<%= session.active_user_login%>')"
                class="form-control selectBox2 phase_list" id="Phase" name="Phase" style="height: 48px;"
                data-rule-required="true" data-msg-required="phase  is required" required>
                <option value="">Select Phase</option>
                <%if(propertyDetailData.length>0){%>
                  <%if(!propertyDetailData[0].ps_phase_array){%>
                    <option value="">Null</option>
                    <%}else{%>
                      <%propertyDetailData[0].ps_phase_array.forEach(function(row,i){%>
                        <option data-phase="<%=i%>" value="<%=row.phase_name%>">
                          <%=row.phase_name%>
                        </option>
                        <%});%>
                          <%}%>
                            <input type="hidden" name="property_id_add_task" value="<%=propertyDetailData[0]._id%>">
                            <%}else{%>
                              <p>property data null</p>
                              <%}%>
              </select>

              <%- include('existing-task-select')-%>


                <input type="text" class="form-control form-control-fix2" id="taskName" placeholder="Task Name"
                  name="task_name" required>
                <input type="hidden" class="form-control form-control-fix2" id="ppts_phase_flag" name="ppts_phase_flag"
                  required>

                <input type="text" onfocus="(this.type='date')" class="form-control  form-control-fix2" id="duedate"
                  placeholder="Due on Date" name="duedate" required>
                <textarea class="form-control  form-control-fix2" rows="2" name="notes" id="notes"
                  placeholder="Add Notes(If any)"></textarea>

            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-cancel" id="cancel_addtask2_btn" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-cancel" id="addtask2_btn" data-dismiss="">Add Task</button>
            </div>

          </form>
        </div>
      </div>
    </div>
    <!-- The Modal -->
    <div class="modal fade permission-modal" id="removeProfessionalModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h2 class="modal-title text-center">Hired Professional</h2>
          </div>
          <div class="message"></div>

          <!-- Modal body -->
          <div class="modal-body">
            <div class="todo-list-table">
              <table class="table table-responsive">
                <thead>
                  <tr>
                    <th style="width:88%"></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <%if(hiredProfeshnoalList.length==0){%>
                    <tr>
                      <td>Professional Not Hired</td>
                    </tr>
                    <%}else{%>
                      <%hiredProfeshnoalList.forEach(function(row,i){%>
                        <tr class="propf_row_<%=row._id%>">
                          <td><label class="check-permission"><img src="images/recent-user-1.png">
                              <%=row.sps_fullname%>, <span>
                                  <%=row.sps_role_name%>
                                </span>
                            </label></td>
                          <td>
                            <a href="javascript:void(0)" class="deleteProfesshional" id="<%=row._id%>"><img
                                src="images/delete-icon.png"></a>
                          </td>
                        </tr>
                        <%});%>
                          <%}%>
                </tbody>
              </table>
            </div>
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-cancel" data-dismiss="modal">Cancel</button>
            <!-- <button type="button" class="btn btn-cancel" data-dismiss="modal">Refresh</button> -->
          </div>
        </div>
      </div>
    </div>
    <!-- The Modal -->
    <div class="modal permission-modal fade " id="ComplaintModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <form name="complaintform" id="complent_form" method="post" action="" enctype="multipart/form-data">

            <div class="modal-header text-center">
              <h2 class="modal-title w-100">Raise a Complaint</h2>
            </div>

            <div class="modal-body">
              <select class="form-control selectBox " style="height:55px" id="coms_complaint_for"
                name="coms_complaint_for" data-rule-required="true" data-msg-required="professional is required!">
                <option value="">Select professional</option>
                <%hiredProfeshnoalList.forEach(function(row){%>
                  <option value="<%=row._id%>">
                    <%=row.sps_fullname%>
                  </option>
                  <%});%>
              </select>
              <input type="hidden" name="cust_user_id" id="cust_user_id" value="<%= session.user_id %>">
              <input type="hidden" name="property_id" id="property_id" value="<%=propertyDetailData[0]._id%>">
              <input type="text" class="form-control  form-control-fix2" id="coms_complaint_subject"
                placeholder="Subject" name="coms_complaint_subject" data-rule-required="true"
                data-msg-required="Subject is required!">
              <textarea class="form-control  form-control-fix2" rows="3" name="coms_complaint_note"
                id="coms_complaint_note" placeholder="Add Notes"></textarea>
              <a href="#" class="upload-any float-right"><i class="fa fa-paperclip float-right"
                  style="color:black"><span class="clip-icon">Attach
                    files</span></i>
                <div class="custom-file-input">
                  <input type="file" id="image" name="complaint_file" value="" required>
                  <input type="button">
                </div>
                </span>
              </a>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-cancel" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-cancel complain_submit_btn" name="submit"
                data-dismiss="">Submit</button>
            </div>

          </form>
        </div>
      </div>

    </div>
    </div>

    <div class="dashboard-wpr">
      <div class="container-fluid">
        <div class="row content">
          <div class="col-sm-2 sidenav hidden-xs-down">
            <div class="user-login text-center">

              <%- include('profile-image')-%>

                <div class="user-name">
                  <h2>
                    <%= session.name %>
                  </h2>
                  <a href="#">
                    <%= session.email %>
                      <%- include('edit-profile-icon')-%>
                  </a>
                </div>
            </div>
            <%- include('sidebar')-%>
          </div>
          <div class="col-sm-12 col-lg-10">
            <div class="dashboard-inner">
              <div class="row back-to-home">
                <div class="breadcumb">
                  <ul>
                    <li><a href="/mydreamhome"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back to My
                        Dream Home </a></li>
                  </ul>
                </div>
              </div>
              <div class="docs-files-section">
                <div class="row">
                  <div class="col-sm-12 col-lg-12">
                    <div class="apartment-slider">
                      <div class="row">
                        <div class="col-sm-12 col-lg-5">
                          <div id="demo" class="carousel slide" data-ride="carousel">
                            <!-- The slideshow -->
                            <div class="carousel-inner">
                              <% var c=0; propertyImage.forEach(function(rows){%>
                                <%if(c==0){%>
                                  <div class="carousel-item-fix carousel-item active">
                                    <img src="propimg/<%=rows.pps_property_image_name%>" alt="">
                                  </div>
                                  <%}else{%>
                                    <div class="carousel-item-fix carousel-item ">
                                      <img src="propimg/<%=rows.pps_property_image_name%>" alt="">
                                    </div>
                                    <%}%>
                                      <% c++;});%>
                            </div>
                            <!-- Left and right controls -->
                            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                              <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </a>
                            <a class="carousel-control-next" href="#demo" data-slide="next">
                              <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </a>
                          </div>
                        </div>
                        <div class="col-sm-12 col-lg-7">
                          <div class="apartment-details">
                            <div class="clearfix">
                              <div class="float-left">
                                <h3 class="apartment-name"><a href="#">
                                    <%=propertyDetailData[0].ps_property_name%><span>(
                                        <%=propertyDetailData[0].ps_unique_code%> )
                                      </span>
                                  </a></h3>
                                <div class="location-part"><a href="#"><img src="images/location.png">
                                    <%=propertyDetailData[0].ps_property_address%>,
                                      <%=propertyDetailData[0].ps_property_country_id%>
                                  </a></div>
                              </div>
                              <div class="img-fix3 float-right">
                                <a href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
                                  title="Message"><img src="images/chat.png"></a>
                                <!-- #ComplaintModal -->
                                <!-- data-toggle="modal" data-target="#MyComplaintModal" -->
                                <a href="javascript:void(0)" data-property_id="<%=propertyDetailData[0]._id%>"
                                  class="propertyComplaintModal" data-toggle="tooltip" data-placement="top"
                                  title="Raise a complaint"><img src="images/help.png"></a>
                              </div>
                            </div>

                            <div class="col">
                              <div class="recent-img">
                                <img src="images/recent-user-1.png"><img class="mr-10"
                                  src="images/recent-user-2.png"><img class="mr-10" src="images/recent-user-3.png">
                                <!-- <a href="#" class="add-professionals">Add/Remove Professionals</a> -->
                                <div class="profile-dropdown">
                                  <a href="#" class="add-professionals">Add/Remove Professionals</a>
                                  <div class="professional-dropdown">
                                    <a href="/professionals">Add
                                      Professionals</a>
                                    <a href="javascript:void(0)" id="removeProfessional" data-toggle="modal"
                                      data-target="#removeProfessionalModal">Remove
                                      Professionals</a>
                                  </div>
                                </div>
                                <a href="#" class="add-professionals" data-toggle="modal"
                                  data-target="#addTask2Modal">Add
                                  Task</a>

                              </div>
                            </div>
                            <div class="apartment-details-full">


                              <% var i=0; var startDate='' ; var endDate='' ;
                                propertyDetailData[0].ps_phase_array.forEach(function(phaserow){%>
                                <%if(i==0){ %>
                                  <% startDate=phaserow.start_date; %>
                                    <%}%>
                                      <% if(propertyDetailData[0].ps_phase_array.length-1==i){ %>
                                        <% endDate=phaserow.end_date%>
                                          <%}%>
                                            <% i++; });%>

                                              <div class="row">
                                                <div class="col-6 col-sm-6 col-lg-3">
                                                  <div class="start-date">
                                                    <p>Start date<br><b>
                                                        <%if(!startDate){%>
                                                          N/A
                                                          <%}else{%>
                                                            <%=moment(startDate).format("Do MMM, YYYY"); %>
                                                              <%}%>
                                                      </b></p>
                                                  </div>
                                                </div>
                                                <div class="col-6 col-sm-6 col-lg-3">
                                                  <div class="start-date 1 Dec, 2021">
                                                    <p>End date<br><b>
                                                        <%if(!endDate){%>
                                                          N/A
                                                          <%}else{%>
                                                            <%=moment(endDate).format("Do MMM, YYYY"); %>
                                                              <%}%>
                                                      </b></p>
                                                  </div>
                                                </div>
                                                <div class="col-6 col-sm-6 col-lg-3">
                                                  <div class="start-date">
                                                    <p>Area<br><b>
                                                        <%=propertyDetailData[0].ps_property_area%> sq.ft.
                                                      </b></p>
                                                  </div>
                                                </div>
                                                <div class="col-6 col-sm-6 col-lg-3">
                                                  <div class="start-date">
                                                    <p>Duration<br><b>
                                                        <%=estimated_time%>
                                                      </b></p>
                                                  </div>
                                                </div>
                                              </div>
                            </div>
                            <div class="apartment-details-full">
                              <div class="row">
                                <div class="col-6 col-sm-6 col-lg-3">
                                  <div class="start-date">
                                    <p>Estimated Cost<br><b>$<%=totalcost%></b></p>





                                  </div>
                                </div>
                                <div class="col-6 col-sm-6 col-lg-3">
                                  <div class="start-date">
                                    <p>Estimated Time<br><b>
                                        <%=estimated_time%>
                                      </b></p>
                                  </div>
                                </div>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="linear-arrow-sec">
                <div class="row">
                  <div class="col-md-9">
                    <div class="progress-line">
                      <ul>
                        <% if(session.active_user_login=='renovator' ) {%>
                          <li class="progress-1"><a
                              href="/mydreamhome-details-phase-a?id=<%=propertyDetailData[0]._id%>&phase=Strategic definition&step=A"><img
                                src="images/white-prgress=arrow.png"></a> <span>Phase A</span></li>
                          <li class="progress-2"><a
                              href="/mydreamhome-details-phase-b?id=<%=propertyDetailData[0]._id%>&phase=Preparation and Briefing&step=B"><img
                                src="images/white-prgress=arrow.png"> </a><span>Phase B</span></li>
                          <li class="progress-3"><a
                              href="/mydreamhome-details-phase-c?id=<%=propertyDetailData[0]._id%>&phase=Spatial coordination&step=C"><img
                                src="images/white-prgress=arrow.png"></a> <span>Phase C</span></li>
                          <li class="progress-4"><a
                              href="/mydreamhome-details-phase-d?id=<%=propertyDetailData[0]._id%>&phase=Technical Design&step=D"><img
                                src="images/white-prgress=arrow.png"></a><span>Phase D</span></li>
                          <li class="progress-5"><a
                              href="/mydreamhome-details-phase-e?id=<%=propertyDetailData[0]._id%>&phase=Manifacturing and Construction&step=E"><img
                                src="images/white-prgress=arrow.png"></a> <span>Phase E</span></li>
                          <li class="progress-6"><a
                              href="/mydreamhome-details-phase-f?id=<%=propertyDetailData[0]._id%>&phase=Concept Design&step=F"><img
                                src="images/white-prgress=arrow.png"> </a><span>Phase F</span></li>
                          <li class="progress-7"><a
                              href="/mydreamhome-details-phase-g?id=<%=propertyDetailData[0]._id%>&phase=Handover&step=G"><img
                                src="images/white-prgress=arrow.png"></a> <span>Phase G</span></li>
                          <li class="progress-8"><a
                              href="/mydreamhome-details-phase-h?id=<%=propertyDetailData[0]._id%>&phase=Use&step=H"><img
                                src="images/white-prgress=arrow.png"> </a><span>Phase H</span></li>
                          <%}else{%>
                            <li class="progress-1"><a
                                href="/mydreamhome-details-phase-a?id=<%=propertyDetailData[0]._id%>&phase=Instruction&step=A"><img
                                  src="images/white-prgress=arrow.png"></a> <span>Phase A</span></li>
                            <li class="progress-2"><a
                                href="/mydreamhome-details-phase-b?id=<%=propertyDetailData[0]._id%>&phase=Pre-exchange Submitting the contract&step=B"><img
                                  src="images/white-prgress=arrow.png"> </a><span>Phase B</span></li>
                            <li class="progress-3"><a
                                href="/mydreamhome-details-phase-c?id=<%=propertyDetailData[0]._id%>&phase=Prior to exchange of contracts&step=C"><img
                                  src="images/white-prgress=arrow.png"></a> <span>Phase C</span></li>
                            <li class="progress-4"><a
                                href="/mydreamhome-details-phase-d?id=<%=propertyDetailData[0]._id%>&phase=Exchange of contracts&step=D"><img
                                  src="images/white-prgress=arrow.png"></a><span>Phase D</span></li>
                            <li class="progress-5"><a
                                href="/mydreamhome-details-phase-e?id=<%=propertyDetailData[0]._id%>&phase=Completion&step=E"><img
                                  src="images/white-prgress=arrow.png"></a> <span>Phase E</span></li>
                            <li class="progress-6"><a
                                href="/mydreamhome-details-phase-f?id=<%=propertyDetailData[0]._id%>&phase=Post-Completion&step=F"><img
                                  src="images/white-prgress=arrow.png"> </a><span>Phase F</span></li>
                            <%}%>
                      </ul>
                      <!-- <ul>
                        <li class="progress-1"><a
                            href="/mydreamhome-details-phase-a?id=<%=propertyDetailData[0]._id%>&phase=Instruction"><img
                              src="images/white-prgress=arrow.png"></a> <span>Phase A</span></li>
                        <li class="progress-2"><a
                            href="/mydreamhome-details-phase-b?id=<%=propertyDetailData[0]._id%>"><img
                              src="images/white-prgress=arrow.png"> </a><span>Phase B</span></li>
                        <li class="progress-3"><a
                            href="/mydreamhome-details-phase-c?id=<%=propertyDetailData[0]._id%>"><img
                              src="images/white-prgress=arrow.png"></a> <span>Phase C</span></li>
                        <li class="progress-4"><a
                            href="/mydreamhome-details-phase-d?id=<%=propertyDetailData[0]._id%>"><img
                              src="images/white-prgress=arrow.png"></a><span>Phase D</span></li>
                        <li class="progress-5"><a
                            href="/mydreamhome-details-phase-e?id=<%=propertyDetailData[0]._id%>"><img
                              src="images/white-prgress=arrow.png"></a> <span>Phase E</span></li>
                        <li class="progress-6"><a
                            href="/mydreamhome-details-phase-f?id=<%=propertyDetailData[0]._id%>"><img
                              src="images/white-prgress=arrow.png"> </a><span>Phase F</span></li>
                        <% if(session.active_user_login=='renovator' ) {%>
                          <li class="progress-7"><a
                              href="/mydreamhome-details-phase-g?id=<%=propertyDetailData[0]._id%>"><img
                                src="images/white-prgress=arrow.png"></a> <span>Phase G</span></li>
                          <li class="progress-8"><a
                              href="/mydreamhome-details-phase-h?id=<%=propertyDetailData[0]._id%>"><img
                                src="images/white-prgress=arrow.png"> </a><span>Phase H</span></li>
                          <%}%>
                      </ul> -->
                    </div>
                    <div class="time-schedule2">
                      <ul>
                        <li>
                          <div>
                            <img src="images/track-active.png">
                            2 weeks
                          </div>
                        </li>
                        <li>
                          <div>
                            <img src="images/track-active.png">
                            2 weeks
                          </div>
                        </li>
                        <li>
                          <div>
                            <img src="images/track-active.png">
                            2 weeks
                          </div>
                        </li>
                        <li>
                          <div>
                            <img src="images/track-active.png">
                            2 weeks
                          </div>
                        </li>
                        <li>
                          <div>
                            <img src="images/track-active.png">
                            2 weeks
                          </div>
                        </li>
                        <li>
                          <div>
                            <img src="images/track-active.png">
                            2 weeks
                          </div>
                        </li>
                      </ul>
                      <ul>
                        <li>
                          <div>
                            <img src="images/track-active.png">
                            5,000 $
                          </div>
                        </li>
                        <li>
                          <div>
                            <img src="images/track-active.png">
                            5,000 $
                          </div>
                        </li>
                        <li>
                          <div>
                            <img src="images/track-active.png">
                            5,000 $
                          </div>
                        </li>
                        <li>
                          <div>
                            <img src="images/track-active.png">
                            5,000 $
                          </div>
                        </li>
                        <li>
                          <div>
                            <img src="images/track-active.png">
                            5,000 $
                          </div>
                        </li>
                        <li>
                          <div>
                            <img src="images/track-active.png">
                            5,000 $
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="col">
                      <div class="time-cost-sec common-box-shadow">
                        <h6>TOTAL TIME</h6>
                        <h6 style="color:#005377; font-weight: bold;"> 525 days</h6>
                      </div>
                      <div class="time-cost-sec common-box-shadow">
                        <h6>TOTAL COST</h6>
                        <h6 style="color: #005377; font-weight: bold;"> 10000 $</h6>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <div class="do-list-docs-message">
                <div class="row">
                  <div class="col-sm-6 col-lg-4">
                    <div class="do-list-sec">
                      <div class="do-list-header">
                        <a href="/mydreamhome-details-to-dos">
                          <h3 class="text-center">To-do list</h3>
                        </a>
                      </div>
                      <%if(TaskDetailObj.length==0){%>
                        <h6>Task Not Found</h6>
                        <%}else{%>
                          <%TaskDetailObj.forEach(function(row,i){%>
                            <label class="check-todos">
                              <p>
                                <!-- mydreamhome-details-to-dos -->
                                <%=row.ppts_task_name%>
                                  <%if(row.ppts_phase_name=='other'){%>
                                    <a
                                      href="/<%=row.phase_page_name%>?id=<%=row.ppts_property_id%>&phase=<%=row.ppts_phase_name%>&step=O"><img
                                        src="images/recent-user-1.png"></a>
                                    <%}else{%>
                                      <a
                                        href="/<%=row.phase_page_name%>?id=<%=row.ppts_property_id%>&phase=<%=row.ppts_phase_name%>&step=<%=row.ppts_phase_flag%>"><img
                                          src="images/recent-user-1.png"></a>
                                      <%}%>
                                        <em>
                                          <%=row.professionalName%>
                                        </em>
                              </p>
                              <input type="checkbox">
                              <span class="checkmark"></span>
                            </label>
                            <%});%>
                              <%}%>
                                <!-- <label class="check-todos">
                        <p>Instruct solicitor <a href="/mydreamhome-details-to-dos"><img
                              src="images/recent-user-1.png"></a><em>Michael Williams</em></p>
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                      <label class="check-todos">
                        <p>Instruct other professionals<a href="/mydreamhome-details-to-dos"><img
                              src="images/recent-user-1.png"></a><em>Michael Williams</em></p>
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                      <label class="check-todos">
                        <p>ID/Passport</p>
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                      <label class="check-todos">
                        <p>Proof of address</p>
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                      <label class="check-todos">
                        <p>Proof of fund (cash buyers)/agreement in principle (mortgage)</p>
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label> -->
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-4">
                    <div class="do-list-sec">

                      <div class="do-list-header">
                        <!-- /mydreamhome-details-docs?id=<%=propertyDetailData[0]._id%> -->
                        <a href="/mydreamhome-details-docs" value="<%=propertyDetailData[0]._id%>">
                          <h3 class="text-center">Docs & Files</h3>
                        </a>
                      </div>
                      <ul class="docs-list">
                        <%if(allDocumentUploadByCustmer.length>0){%>
                          <%allDocumentUploadByCustmer.forEach(function(row,i){%>
                            <!-- <%if(i<=2){%> -->
                            <!-- <li>
                                <a href="/mydreamhome-details-docs" value="<%=propertyDetailData[0]._id%>">
                                <img
                                 src="/upload/<%=row.cuds_document_name%>" alt="" title=""><br>
                                 <span
                                    style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                    <%=row.cuds_document_name%>
                                  </span>
                                </a>
                              </li> -->

                            <%if(row.cuds_document_type=='image'){%>
                              <li><a href="#"><img src="/taskdocument/<%= row.cuds_document_name%>" alt=""
                                    title=""><br><span
                                    style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                    <%= row.cuds_document_name%>
                                  </span></a>
                              </li>
                              <%}else if(row.cuds_document_type=='pdf' ){%>
                                <li><a download href="/taskdocument/<%= row.cuds_document_name%>"><img
                                      src="images/pdficon.png" alt="" title=""><br><span
                                      style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                      <%= row.cuds_document_name%>
                                    </span></a>
                                </li>
                                <%}else if(row.cuds_document_type=='doc' ){%>
                                  <li><a download href="/taskdocument/<%= row.cuds_document_name%>"><img
                                        src="images/docicon.png" alt="" title=""><br><span
                                        style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                        <%= row.cuds_document_name%>
                                      </span></a>
                                  </li>
                                  <%}else if(row.cuds_document_type=='txt' ){%>
                                    <li><a download href="/taskdocument/<%= row.cuds_document_name%>"><img
                                          src="images/txticon.png" alt="" title=""><br><span
                                          style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                          <%= row.cuds_document_name%>
                                        </span></a>
                                    </li>
                                    <%}else if(row.cuds_document_type=='video' ){%>
                                      <li><a download href="/taskdocument/<%= row.cuds_document_name%>"><img
                                            src="images/videoicon.png" alt="" title=""><br><span
                                            style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                            <%= row.cuds_document_name%>
                                          </span></a>
                                      </li>
                                      <%}%>

                                        <!-- <%}%> -->
                                        <%});%>
                                          <%}else{%>
                                            <h6>Docs&File Not Uploaded</h6>
                                            <%}%>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-4">
                    <div class="do-list-sec">
                      <div class="do-list-header">
                        <a href="/mydreamhome-details-message">
                          <h3 class="text-center">Messages</h3>
                        </a>
                      </div>
                      <%hiredProfeshnoalList.forEach(function(row){%>
                        <div class="messages-list clearfix">
                          <div class="message-img float-left">

                            <a href="/mydreamhome-details-message?id=<%=propertyDetailData[0]._id%>&pid=<%=row._id%>"><img
                                src="images/recent-user-1.png" alt="" title=""></a>
                          </div>
                          <div class="message-drop float-left">
                            <h3>
                              <%=row.sps_fullname%>
                            </h3>
                            <p>
                              <%=row.sms_message%>
                            </p>

                          </div>
                        </div>
                        <%});%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
    <%- include('dashboard_footer')-%>