<%- include('dashboard_header')-%>
  <%- include('edit-profile-model')-%>
    <div class="dashboard-wpr">
      <div class="container-fluid">
        <div class="row content">
          <div class="col-sm-2 sidenav hidden-xs-down">
            <div class="user-login text-center">

              <%- include('profile-image')-%>

                <div class="user-name">
                  <h2>
                    <%= session.name %>
                  </h2>
                  <a href="#">
                    <%= session.email %>
                      <%- include('edit-profile-icon')-%>
                  </a>
                </div>
            </div>
            <%- include('sidebar')-%>
          </div>
          <div class="col-sm-12 col-lg-10">
            <div class="row complaints-sec">
              <div class="col-sm-12 col-lg-6">
                <div class="complaints">
                  <h2>To do list</h2>
                </div>
              </div>


            </div>
            <div class="todos-inner">

              <div class="todo-list-table">


                <table class="table table-responsive">
                  <thead>
                    <tr>
                      <th>To-dos</th>
                      <th>Status</th>
                      <th>Date</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <%if(TaskDetailObj.length==0){%>
                      <tr>
                        <td>Result Not Found </td>
                      </tr>
                      <%}else{%>
                        <%TaskDetailObj.forEach(function(row,i){%>
                        <tr>
                          <td> <label class="check-todos">
                              <p><%=row.ppts_task_name%></p>
                              <input type="checkbox">
                              <span class="checkmark"></span>
                            </label></td>
                          <td>
                            <%if(row.ppts_task_status=='pending'){%>
                            <a class="btn btn-pending">Pending</a>
                            <%}else{%>
                              <a class="btn btn-complete">Complete</a>
                              <%}%>
                          </td>
                          <td><span><%=row.ppts_due_date%></span></td>
                          <td><a class="take-action" href="/mydreamhome-details-phase-a">Take Action</a></td>
                        </tr>
                        <%});%>
                        <%}%>
                
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
    <script>
      $(document).ready(function () {
        $(".sidenav ul li").click(function () {
          $(".sidenav ul li").removeClass("active");
          $(this).addClass("active");
        });
      });
      $(document).ready(function () {
        $(".right-navbar li").click(function () {
          $("right-navbar li").removeClass("active");
          $(this).addClass("active");
        });
      });
    </script>
    <script>
      $(document).ready(function () {
        $(".buyertab").click(function (e) {
          $.ajax({
            type: "GET",
            url: "/buyer",
            cache: false,
            success: function (html) {
            }
          });
          location.reload(true);
        });
        $(".sellertab").click(function (e) {
          $.ajax({
            type: "GET",
            url: "/seller",
            cache: false,
            success: function (html) {
            }
          });
          location.reload(true);
        });
        $(".renovatortab").click(function (e) {
          $.ajax({
            type: "GET",
            url: "/renovator",
            cache: false,
            success: function (html) {
            }
          });
          location.reload(true);
        });
      });
    </script>

    </body>

    </html>