<%- include('dashboard_header')-%>
  <%- include('edit-profile-model')-%>
    <div class="dashboard-wpr">
      <div class="container-fluid">
        <div class="row content">
          <div class="col-sm-2 sidenav hidden-xs-down">
            <div class="user-login text-center">

              <%- include('profile-image')-%>

                <div class="user-name">
                  <h2>
                    <%= session.name %>
                  </h2>
                  <a href="#">
                    <%= session.email %>
                      <%- include('edit-profile-icon')-%>
                  </a>
                </div>
            </div>
            <%- include('sidebar')-%>
          </div>
          <div class="col-sm-12 col-lg-10">
            <div class="dashboard-inner">
              <div class="row">
                <div class="breadcumb">
                  <ul>
                    <li><a href="/mydreamhome-details?id=<%=session.property_id%>"><i class="fa fa-long-arrow-left"
                          aria-hidden="true"></i> Back
                        to <%=property.ps_property_name%></a></li>
                  </ul>
                </div>
              </div>
              <div class="docs-files-section1 msg-sec">
                <div class="row">
                  <div class="col-sm-12 col-lg-12">
                    <div class="docs-files">
                      <h2>Messages</h2>
                    </div>
                    <div class="messages-section">
                      <div id="message_board">
                        <% chatData.forEach(function(row){ %>
                          <div class="messages-box clearfix">
                            <div class="message-user-img">
                              <% if(row.sms_user_profile_img){ %>
                                <img src="upload/<%= row.sms_user_profile_img%>" alt="" title="">
                              <% }else{ %>
                                <img src="images/img_avatar.png" alt="" title="">
                              <%}%>
                            </div>
                            <div class="message-content">
                              <h3><%= row.senderName%></h3>
                              <p><%= row.sms_message%></p>
                              <p class="hours-ago text-right"><%= row.msgTime%></p>
                            </div>
                          </div>
                          <% }); %>
                      </div>
                      <div class="text-message-box clearfix">
                        <% var userid=''; if(session.active_user_login == property.ps_is_active_user_flag){ %> 
                            <%userid = property.ps_user_id%>
                        <% }else{%>  
                           <%userid = property.ps_tagged_user_id%>
                        <% } %> 
                        <form method="POST" id="chat_form">
                          <div class="text-box">
                            <input type="hidden" name="professional_id" data-val="<%=professional_id%>"
                              value="<%=professional_id%>" id="professional_id">
                            <input type="hidden" name="property_id" value="<%=property._id%>" id="property_id">
                            <input type="hidden" name="customer_id" value="<%=userid%>" id="customer_id">
                            <textarea name="chat_input" class="form-control"
                              style="min-width: 80%; margin-bottom: 10px; " rows="3" id="comment"></textarea>
                            <button id="chat_submit" type="button" class="btn btn-next"
                              style="width: 164px; float:right; border-radius: 5px;">
                              Send</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <%- include('dashboard_footer')-%>

<script>
      function getAllMessage(sms_receiver_id, sms_sender_id, sms_property_id) {
      $.ajax({
        type: "GET",
        data: {
          sms_receiver_id: sms_receiver_id,
          sms_sender_id: sms_sender_id,
          sms_property_id: sms_property_id
        },
        url: "/get-message-property",
        cache: false,
        success: function (datas) {
          if (datas.chatData.length > 0) {
            console.log('data:',datas)
            var htmlData = '';
            $.each(datas.chatData, function (i, data) {
              var imageData='';
              if(data.sms_user_profile_img){
                imageData = '<img src="upload/'+data.sms_user_profile_img+'" alt="" title="">';
              }else{
                imageData = '<img src="images/img_avatar.png" alt="" title="">';
              }
              htmlData += '<div class="messages-box clearfix"><div class="message-user-img">'+imageData+'</div><div class="message-content"><h3>' + data.senderName + '</h3><p>'+data.sms_message.trim()+'</p><p class="hours-ago text-right">' + data.msgTime + '</p></div></div>';
            });
            $('#message_board').html(htmlData);
          }
        }
      });
    }

    setInterval(function () {
      var professional_id = $("#chat_form #professional_id").val();
      var customer_id = $("#customer_id").val();
      var property_id = $("#chat_form  #property_id").val();
        getAllMessage(professional_id, customer_id, property_id);
    }, 1000);
  </script>