<%- include('dashboard_header')-%>
  <%- include('edit-profile-model')-%>
    <div class="dashboard-wpr">
      <div class="container-fluid">
        <div class="row content">
          <div class="col-sm-2 sidenav hidden-xs-down">
            <div class="user-login text-center">

              <%- include('profile-image')-%>

                <div class="user-name">
                  <h2>
                    <%= session.name %>
                  </h2>
                  <a href="#">
                    <%= session.email %>
                      <%- include('edit-profile-icon')-%>
                  </a>
                </div>
            </div>
            <%- include('sidebar')-%>
          </div>
          <div class="col-sm-12 col-lg-10">
            <div class="dashboard-inner">
              <div class="row">
                <div class="breadcumb">
                  <ul>
                    <li><a href="/mydreamhome-details?id=<%=session.property_id%>"><i class="fa fa-long-arrow-left"
                          aria-hidden="true"></i> Back
                        to <%=property.ps_property_name%></a></li>
                  </ul>
                </div>
              </div>
              <div class="docs-files-section1 msg-sec">
                <div class="row">
                  <div class="col-sm-12 col-lg-12">
                    <div class="docs-files">
                      <h2>Messages  <%= chatData.length%></h2>
                    </div>
                    <div class="messages-section">
                      
                      <div id="message_board">
                        <div class="loding-sec"><img id="loadermsg" src='http://opengraphicdesign.com/wp-content/uploads/2009/01/loader64.gif'></div>
                        <span class="latest_msg"></span>
                        <div class="old_message_section">

                        <% chatData.forEach(function(row){ %>
                          <div class="messages-box clearfix">
                            <div class="message-user-img">
                              <% if(row.sms_user_profile_img){ %>
                                <img src="upload/<%= row.sms_user_profile_img%>" alt="" title="">
                              <% }else{ %>
                                <img src="images/img_avatar.png" alt="" title="">
                              <%}%>
                            </div>
                            <div class="message-content">
                              <h3><%= row.senderName%></h3>
                              <p><%= row.sms_message%></p>
                              <p class="hours-ago text-right"><%= row.msgTime%></p>
                            </div>
                          </div>
                          <% }); %>
                        </div>  
                         
                      </div>
                      <div class="text-message-box clearfix">
                        <% var userid=''; if(session.active_user_login == property.ps_is_active_user_flag){ %> 
                            <%userid = property.ps_user_id%>
                        <% }else{%>  
                           <%userid = property.ps_tagged_user_id%>
                        <% } %> 
                        <form method="POST" id="chat_form">
                          <div class="text-box">
                            <input type="hidden" name="msgcount" value="<%=msgcount %>" id="msgcount">
                            <input type="hidden" name="page" value="<%=currentPage %>" id="page">
                            <input type="hidden" name="Totalpage" value="<%=totalPages %>" id="Totalpage">
                            <input type="hidden" name="professional_id" data-val="<%=professional_id%>"
                              value="<%=professional_id%>" id="professional_id">
                            <input type="hidden" name="property_id" value="<%=property._id%>" id="property_id">
                            <input type="hidden" name="customer_id" value="<%=userid%>" id="customer_id">
                            <textarea name="chat_input" class="form-control"
                              style="min-width: 80%; margin-bottom: 10px; " rows="3" id="comment"></textarea>
                            <button id="chat_submit" type="button" class="btn btn-next"
                              style="width: 164px; float:right; border-radius: 5px;">
                              Send</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <%- include('dashboard_footer')-%>

<script>
  $("#message_board").stop().animate({ scrollTop: $("#message_board")[0].scrollHeight}, 1000);
 //$("#message_board").scrollTop($("#message_board")[0].scrollHeight);

 $('#message_board').scroll(function(){
   console.log('ghghg:',$('#message_board').scrollTop());
    if ($('#message_board').scrollTop() == 0){
        
           var professional_id = $("#chat_form #professional_id").val();
           var customer_id = $("#customer_id").val();
           var property_id = $("#chat_form  #property_id").val();
           var Totalpage = parseInt($("#chat_form  #Totalpage").val());
           var page = parseInt($("#chat_form  #page").val())+parseInt(1);
console.log('pagges:',page)
console.log('Totalpage:',Totalpage)
if(Totalpage >= page){
  $('#loadermsg').show();
      $.ajax({
            url:'get-message-property',
            type: "GET",
            data: {
              sms_receiver_id: professional_id,
              sms_sender_id: customer_id,
              sms_property_id: property_id,
              page:page
            },
            cache: false,
            success:function(datas){
              console.log('ttttDat:',datas);
                if (datas.chatData.length > 0) {
                  console.log('datascroll:',datas)
                  var htmlData = '';
                  $("#chat_form  #page").val(datas.currentPage);
                  $.each(datas.chatData, function (i, data) {
                    var imageData='';
                    if(data.sms_user_profile_img){
                      imageData = '<img src="upload/'+data.sms_user_profile_img+'" alt="" title="">';
                    }else{
                      imageData = '<img src="images/img_avatar.png" alt="" title="">';
                    }
                    $('.old_message_section').prepend('<div class="messages-box clearfix"><div class="message-user-img">'+imageData+'</div><div class="message-content"><h3>' + data.senderName + '</h3><p>'+data.sms_message.trim()+'</p><p class="hours-ago text-right">' + data.msgTime + '</p></div></div>');
                  });
                }
                $('#loadermsg').hide();
                $('#message_board').scrollTop(30);
            }
        });
      }
        // setTimeout(function(){
        // for(var i=0;i<4;i++){
        // $('.old_message_section').prepend('<div class="messages-box clearfix">Newly Loaded messages<br/><span class="date">'+Date()+'</span> </div>');
        //     }
        //     $('#loader').hide();
        //     $('#message_board').scrollTop(30);
        // },780); 
    }
});


      function getAllMessage(sms_receiver_id, sms_sender_id, sms_property_id, msgCount) {
        console.log('cuss');
        //var msgCount = parseInt($("#chat_form #msgcount").val());
          
           var msgCount = parseInt($("#chat_form  #msgcount").val());

      $.ajax({
        type: "GET",
        data: {
          sms_receiver_id: sms_receiver_id,
          sms_sender_id: sms_sender_id,
          sms_property_id: sms_property_id
        },
        url: "/get-message-property",
        cache: false,
        success: function (datas) {
          if (datas.chatData.length > 0) {
            console.log('data:',datas)
            var htmlData = '';
            $.each(datas.chatData.reverse(), function (i, data) {
              var imageData='';
              if(data.sms_user_profile_img){
                imageData = '<img src="upload/'+data.sms_user_profile_img+'" alt="" title="">';
              }else{
                imageData = '<img src="images/img_avatar.png" alt="" title="">';
              }
              htmlData += '<div class="messages-box clearfix"><div class="message-user-img">'+imageData+'</div><div class="message-content"><h3>' + data.senderName + '</h3><p>'+data.sms_message.trim()+'</p><p class="hours-ago text-right">' + data.msgTime + '</p></div></div>';
            });
            console.log('length:',datas.msgcount)
            $("#chat_form  #Totalpage").val(datas.totalPages)
            console.log('msgCount:',msgCount)
            if(parseInt(datas.msgcount) > parseInt(msgCount)){
              console.log('success')
              $('.old_message_section').html(htmlData);
            $("#chat_form #msgcount").val(datas.msgcount);
            }else{
              console.log('intervaltotl:',datas.msgcount)
            }
            //$("#message_board").stop().animate({ scrollTop: $("#message_board")[0].scrollHeight}, 1000);

          }
          var pathname = window.location.pathname;
          console.log('pathname:',pathname)
          if( pathname == '/mydreamhome-details-message'){
              var professional_id = $("#chat_form #professional_id").val();
              var customer_id = $("#customer_id").val();
              var property_id = $("#chat_form  #property_id").val();
              getAllMessage(professional_id, customer_id, property_id, msgCount);
          }
        }
      });
    }
    $(document).ready(function() {

      console.log('tttttt')
    //setInterval(function () {
      var professional_id = $("#chat_form #professional_id").val();
      var customer_id = $("#customer_id").val();
      var property_id = $("#chat_form  #property_id").val();
      var msgCount = $("#chat_form  #msgcount").val();
      console.log('totalmS:',msgCount)
        getAllMessage(professional_id, customer_id, property_id, msgCount);
   // }, 2000);
  });  
  </script>