<%- include('dashboard_header')-%>
  <div class="dashboard-wpr">
    <div class="container-fluid">
      <div class="row content">
        <div class="col-sm-2 sidenav hidden-xs-down">
          <div class="user-login text-center">
            <div class="user-profile">
              <img src="images/profile.png" alt="" title="">
            </div>
            <div class="user-name">
              <h2>
                <%= session.name %>
              </h2>
              <a href="#">
                <%= session.email %>
              </a>
            </div>
          </div>
          <ul class="dashboard-nav">
            <li>
              <a href="/dashboard"><img class="act-img" src="images/dashboard-active.png"><img
                  src="images/dashboard.png"> Dashboard</a>
            </li>
            <li>
              <a href="/track-your-progress"><img class="act-img" src="images/track-active.png"><img
                  src="images/track.png"> Track your progress</a>
            </li>
            <li class="active">
              <a href="/professionals"><img class="act-img" src="images/professionals-active.png"><img
                  src="images/professionals.png"> Professionals</a>
            </li>
            <li>
              <a href="/mydreamhome-details-docs"><img class="act-img" src="images/dreamhome-active.png"><img
                  src="images/dreamhome.png"> My dream home</a>
            </li>
            <li>
              <a href="/mydreamhome-details-to-dos"><img class="act-img" src="images/to-do-list-active.png"><img
                  src="images/to-do-list.png"> To do list</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-12 col-lg-10">
          <div class="dashboard-inner">
            <div class="row">
              <div class="col-sm-12 col-lg-12">
                <div class=" user-fix">
                  <div class="user-profile-fix2 float-left">
                    <img src="images/user-4.png" alt="" title="">
                  </div>
                  <div class="user-name-fix float-left">
                    <h2>
                      <%=service_provider_detail.sps_fullname%>
                    </h2>
                    <p>
                      <%=service_provider_detail.sps_role_name%>
                    </p>
                  </div>

                  <div class="float-left icon-fix">
                    <img class=" card-image-fix" src="images/experience.png" alt="">&nbsp;<span>
                      <%=service_provider_detail.sps_experience%>
                        years
                    </span>
                  </div>
                  <div class="float-left icon-fix2">
                    <img class=" card-image-fix" src="images/rating.png" alt="">&nbsp;<span>4.0
                      Rating</span>
                  </div>
                  <div class="float-left btn-hire-now-small">
                    <a href="/professionals-hirenow?spp_id=<%=service_provider_detail._id%>"
                      class="btn btn-add-property">Hire Now</a>
                  </div>
                  <div class="float-left btn-hire">
                    <a href="/professionals-detail-message?spp_id=<%=service_provider_detail._id%>&cus_id=<%=session.user_id%>"
                      class="btn btn-message">Drop a message</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="float-left icon-fix2">
                <a href="#" class="btn btn-add-property">Hire Now</a>
              </div>
              <div class="float-right btn-hire">
                <a href="#" class="btn btn-add-property">Drop a message</a>
              </div> -->



            <div class="row">
              <div class="col-sm-12 col-lg-12">
                <div class="professioal-inner2">
                  <div class="professional-files-section1">
                    <div class="row">
                      <div class="float-left image-fix">
                        <img class="" src="images/phone.png" alt="Card image cap">&nbsp;<span>+
                          <%=service_provider_detail.sps_phone_number%>
                        </span>
                      </div>
                      <div class="float-left image-fix">
                        <img class="" src="images/mail.png" alt="Card image cap">&nbsp;<span>
                          <%=service_provider_detail.sps_email_id%>
                        </span>
                      </div>
                    </div>
                    <hr />
                    <div class="about-section">
                      <h6> <b>About me</b></h6>
                      <p>I perform all phases of architectural work including planning, I perform all phases of
                        architectural work including planning, I perform all phases of architectural work including
                        planning, I perform all phases of architectural work including planning, I perform all phases of
                        architectural work including planning, I perform all phases of architectural work including
                        planning, I perform all phases of architectural work including planning, I perform all phases of
                        architectural work including planning, I perform all phases of architectural work including
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-lg-12">
                <div class="professional-inner">
                  <div class="professional-files-section">
                    <div class="float-left">
                      <h6><b>Portfolio</b></h6>
                    </div>
                    <div class="float-right">
                      <p>5 Videos &bull; 10 Photos</p>
                    </div>
                    <div id="demo" class="carousel slide " data-ride="carousel">
                      <!-- The slideshow -->
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img class="image-size-fix" src="images/img1.png" alt="">
                          <img class="image-size-fix" src="images/img1.png" alt="">
                          <img class="image-size-fix" src="images/img1.png" alt="">
                          <img class="image-size-fix" src="images/img1.png" alt="">
                          <img class="image-size-fix" src="images/img1.png" alt="">
                          <img class="image-size-fix" src="images/img1.png" alt="">
                        </div>
                        <div class="carousel-item ">
                          <img class="image-size-fix" src="images/img1.png" alt="">
                          <img class="image-size-fix" src="images/img1.png" alt="">
                          <img class="image-size-fix" src="images/img1.png" alt="">
                          <img class="image-size-fix" src="images/img1.png" alt="">
                          <img class="image-size-fix" src="images/img1.png" alt="">
                          <img class="image-size-fix" src="images/img1.png" alt="">
                        </div>
                      </div>
                      <!-- Left and right controls -->
                      <a class="carousel-control-prev" href="#demo" data-slide="prev">

                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                      </a>
                      <a class="carousel-control-next" href="#demo" data-slide="next">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                      </a>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-lg-12">
                <div class="professional-inner">
                  <div class="professional-files-section">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="float-left image-fix">
                          <h6><b>Feedback</b></h6>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="float-right image-fix">
                          <img class="" style="width:13%" src="images/write-feedback.png"
                            alt="Card image cap">&nbsp;<span class="feedback-text">
                            Write a feedback
                          </span>
                        </div>
                      </div>
                    </div>

                    <div class="about-section">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="float-left ">
                            <h1 class="pointer-fix" style="color: #005377;">4.0</h1>
                            <p style="margin-left: 20px;">out of 5</p>
                          </div>
                          <div>
                            <img class="feedback-img" src="images/feedback-2.png" alt="">
                          </div>

                        </div>
                        <div class="col col-lg-6">
                          <img class="feedback-img2" src="images/feedback-1.png" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script>
    $(document).ready(function () {
      $(".sidenav ul li").click(function () {
        $(".sidenav ul li").removeClass("active");
        $(this).addClass("active");
      });
    });
    $(document).ready(function () {
      $(".right-navbar li").click(function () {
        $("right-navbar li").removeClass("active");
        $(this).addClass("active");
      });
    });
  </script>
  </body>

  </html>