<%- include('dashboard_header')-%>
  <%- include('edit-profile-model')-%>
    <!-- The Modal -->
    <div class="modal permission-modal fade " data-backdrop="static" data-keyboard="false" id="addTaskModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header text-center">
            <h2 class="modal-title w-100">Add Task</h2>
          </div>
          <form name="addTaskForm" id="addTaskForm" action="" method="post">
            <!-- Modal body -->
            <div class="modal-body">
              <label class="">Describe this to-do</label>
              <div class="errmessage"></div>
              <!-- <div class="alert alert-info" id="taskmsg"></div> -->
              <!-- <input type="text" class="form-control form-control-fix2" id="subject" placeholder="Instruction"
                name="todotask" required> -->
              <select class="form-control selectBox2 phase_list" id="Phase" name="Phase" style="height: 48px;"
                data-rule-required="true" data-msg-required="phase  is required" required>
                <option value="">Select Phase</option>
                <option value=""></option>
              </select>
              <input type="text" class="form-control form-control-fix2" id="taskName" placeholder="Task Name"
                name="task_name" required>
              <input type="text" class="form-control form-control-fix2" id="professional"
                placeholder="<%=serviceProvider.sps_fullname%>" name="professionalName"
                value="<%=serviceProvider.sps_fullname%>" readonly>
              <input type="hidden" name="professionalId" value="<%=serviceProvider._id%>">
              <input type="hidden" name="currentUserId" value="<%=session.user_id%>">
              <input type="hidden" name="property_id" class="property_id" value="">
              <!-- <input type="hidden" name="phase_id" id="phase_id" value=""> -->
              <input type="date" class="form-control  form-control-fix2" id="duedate" placeholder="Due on"
                name="duedate" required>
              <textarea class="form-control  form-control-fix2" rows="2" name="notes" id="notes"
                placeholder="Add Notes(If any)"></textarea>

            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-cancel" id="cancel_addtask_btn" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-cancel" id="addtask_btn" data-dismiss="">Add Task</button>
            </div>

          </form>
        </div>
      </div>
    </div>
    <div class="dashboard-wpr">
      <div class="container-fluid">
        <div class="row content">
          <div class="col-sm-2 sidenav hidden-xs-down">
            <div class="user-login text-center">

              <%- include('profile-image')-%>

                <div class="user-name">
                  <h2>
                    <%= session.name %>
                  </h2>
                  <a href="#">
                    <%= session.email %>
                      <%- include('edit-profile-icon')-%>
                  </a>
                </div>
            </div>
            <%- include('sidebar')-%>
          </div>

          <div class="col-sm-12 col-lg-10">
            <div class="dashboard-inner">
              <div class="row">
                <div class="col-sm-12 col-lg-12">
                  <div class=" user-fix">
                    <div class="row">
                      <div class="col-sm-12 col-lg-5">
                        <div class="user-profile-fix2 float-left">
                          <img src="images/user-4.png" alt="" title="">
                        </div>
                        <div class="user-name-fix float-left">
                          <h2>
                            <%=serviceProvider.sps_fullname%>
                          </h2>
                          <p>
                            <%=serviceProvider.sps_role_name%>
                          </p>
                        </div>
                      </div>

                      <div class="float-left icon-fix">
                        <img class=" card-image-fix" src="images/experience.png" alt="Card image cap">&nbsp;<span>
                          <%=serviceProvider.sps_experience%>
                            years
                        </span>
                      </div>
                      <div class="float-left icon-fix2">
                        <img class=" card-image-fix" src="images/rating.png" alt="Card image cap">&nbsp;<span>4.0
                          Rating</span>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-lg-12">
                  <div class="hirenow-inner">
                    <div class="docs-files-section">

                      <form class="form" id="hirenowform" action="#" method="POST">
                        <input type="hidden" name="user_id" value="<%=session.user_id%>">
                        <input type="hidden" name="serviceProviderId" value="<%=serviceProvider._id%>">
                        <div class="row">
                          <div class="col-sm-12 col-lg-12">
                            <div class="docs-files">

                              <div class="heading-top hirenow-fix float-left">

                                <h6 class="">Select the property you want to hire professional for</h6>
                              </div>


                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12 col-lg-12">
                            <div class="home-section">
                              <div class="row">

                                <div class="col-sm-12 col-lg-4">

                                  <div class="professional-text-fix">
                                    <label>Select Property</label>
                                    <select class="form-control selectBox6 propertySelectBox property_list"
                                      name="propertyId" required data-rule-required="true"
                                      data-msg-required="Property is required!" style="height: 48px;">
                                      <option value="">Select property</option>
                                      <% property.forEach(function(row){ %>
                                        <option class="option" value="<%=row._id%>">
                                          <%=row.ps_property_name%>
                                        </option>
                                        <% }); %>
                                    </select>

                                  </div>
                                </div>
                                <div class="col-sm-12 col-lg-4">

                                  <div class="professional-text-fix">
                                    <label>Address</label>


                                    <input type="text" class="form-control address  selectBox6  " id="address"
                                      placeholder="Address" name="address" value="" data-rule-required="true"
                                      data-msg-required="Address is required!" required>
                                  </div>



                                </div>
                                <div class="col-sm-12 col-lg-4">

                                  <div class="professional-text-fix">
                                    <label>City</label>
                                    <input type="text" class="form-control city selectBox6  " id="city"
                                      placeholder="City" name="city" value="" data-rule-required="true"
                                      data-msg-required="City is required!" required>
                                  </div>

                                </div>
                              </div>
                              <div class="row">
                                <div class="col-sm-12 col-lg-4">

                                  <div class="professional-text-fix">
                                    <label>County</label>
                                    <input type="text" class="form-control state selectBox6  " id="state"
                                      placeholder="County" data-rule-required="true"
                                      data-msg-required="County is required!" required name="state" value="">
                                  </div>

                                </div>
                                <div class="col-sm-12 col-lg-4">

                                  <div class="professional-text-fix">
                                    <label>Country</label>
                                    <input type="text" class="form-control country selectBox6  " id="country"
                                      placeholder="Country" name="country" value="" data-rule-required="true"
                                      data-msg-required="Country is required!" required>
                                  </div>

                                </div>
                                <div class="col-sm-12 col-lg-4">

                                  <div class="professional-text-fix">
                                    <label>Zip code</label>
                                    <input type="text" class="form-control  selectBox6  " id="zipcode"
                                      placeholder="Zip code" name="zipcode" value="" data-rule-required="true"
                                      data-msg-required="Zipcode is required!" required>
                                  </div>

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-sm-12 col-lg-4">


                            <div class="heading-top hirenow-fix float-left">


                              <h6 class="">Tell us your approximate budget</h6>
                              <br />
                              <input class="range_slider" id="ex8" data-slider-id='ex1Slider' type="text"
                                name="pps_pofessional_budget" data-slider-min="0" data-slider-max="10000"
                                data-slider-step="10" data-slider-value="0" />
                              <br />

                            </div>
                          </div>
                          <div class="col-sm-12 col-lg-4">
                            <div class="heading-top hirenow-fix float-left">
                              <h6 class="">Tell us expected delivery date</h6>
                            </div>
                            <div class="col-sm-12 col-lg-12">
                              <input type="date" style="margin-top:5px;width:90%" class="form-control selectBox6"
                                id="deliveryDate" placeholder="1 Dec 2011" name="pps_exptected_delivery_date"
                                data-rule-required="true" data-msg-required="DeliveryDate is required!" required>
                            </div>
                          </div>
                          <div class="col">

                            <div class="heading-top hirenow-fix">
                              <h6 class="">Add Task for professional</h6>
                            </div>

                            <div class="add-task-btn">
                              <a href="#" class="btn btn-add-task-fix" data-toggle="modal"
                                data-target="#addTaskModal">Add
                                Task</a>


                            </div>
                          </div>
                        </div>

                        <!-- <div class="row">
                          <div class="col-sm-12 col-lg-12">
                            <div class="docs-files">


                              <div class="heading-top hirenow-fix float-left">
                                <label class="">STEP 4</label>
                                <h6 class="">Add phases</h6>
                                <div class="message"></div>

                              </div>

                            </div>
                          </div>
                        </div> -->
                        <div class="row">
                          <!--<div class="col-sm-12 col-lg-12">
                            <div class="home-section">
                              <div class="row">
                                <div class="professional-input-box">
                                  <div class="professional-text-fix">
                                    <label>Phase1</label>
                                    <select class="form-control" id="instruction" placeholder="Instruction"
                                      name="instruction" required>
                                      <option value="">Select Phases</option>
                                      <%if(session.active_user_login=='renovator'){ %>
                                        <option value="Strategic definition">Strategic definition</option>
                                        <option value="Preparation and Briefing">Preparation and Briefing</option>
                                        <option value="Spatial coordination">Spatial coordination</option>
                                        <option value="Technical Design">Technical Design</option>
                                        <option value="Manifacturing and Construction">Manifacturing and Construction
                                        </option>
                                        <option value="Concept Design">Concept Design</option>
                                        <option value="Handover">Handover</option>
                                        <option value="Use">Use</option>
                                        <%}else{%>
                                          <option value="Instruction">Instruction</option>
                                          <option value="Pre-exchange Submitting the contract">Pre-exchange Submitting
                                            the contract</option>
                                          <option value="Prior to exchange of contracts">Prior to exchange of contracts
                                          </option>
                                          <option value="Exchange of contracts">Exchange of contracts</option>
                                          <option value="Completion">Completion</option>
                                          <option value="Post-Completion">Post-Completion</option>
                                          <%}%>
                                    </select>
                                  </div>
                                </div>
                                <div class="professional-input-box">
                                  <div class="professional-text-fix">
                                    <label>Start Date</label>
                                    <input type="date" class="form-control  selectBox6  " id="startDate1"
                                      placeholder="Full Name" name="startDate" required>
                                  </div>
                                </div>
                                <div class="professional-input-box">
                                  <div class="professional-text-fix">
                                    <label>End Date</label>
                                    <input type="date" class="form-control  selectBox6  " id="endDate1"
                                      placeholder="Full Name" name="endDate" required>

                                  </div>
                                </div>
                                <div class="">
                                  <div class="">

                                    <a href="javascript:void(0)" name="addMorePhase" class="btn btn-add-task-fix">Add
                                      Phase</a>
                                  </div>
                                </div>
                              </div>
                              <div class="row divv"></div> -->
                          <!-- <div class="row">
                              <div class="professional-input-box">
                                <div class="professional-text-fix">
                                  <label>Phase2</label>
                                  <input type="text" class="form-control  selectBox6  " id="phase2"
                                    placeholder="Pre-exchange Submitting the contract" name="phase2">
                                </div>

                              </div>
                              <div class="professional-input-box">
                                <div class="professional-text-fix">
                                  <label>Start Date</label>
                                  <input type="date" class="form-control  selectBox6  " id="startDate2"
                                    placeholder="FullName" name="startDate2">
                                </div>
                              </div>
                              <div class="professional-input-box">
                                <div class="professional-text-fix">
                                  <label>End Date</label>
                                  <input type="date" class="form-control  selectBox6  " id="endDate2"
                                    placeholder="End Date" name="endDate2">
                                </div>
                              </div>
                              <div class="">
                                <a href="#" class="btn btn-add-task-fix">Add
                                  Task</a>
                              </div>
                              <div class="">
                                <a href="#" class="btn btn-add-plus-fix"><i class="fa fa-plus"></i></a>
                              </div>

                            </div> -->
                          <!-- </div>
                          </div> -->
                        </div>
                        <div>
                          <button type="submit" class="btn btn-next" style="width: 164px; border-radius: 5px;">Hire
                            Now</button>
                        </div>
                        <div class="message"></div>
                      </form>
                      <!-- <div class="alert alert-info" id="msg"></div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/css/bootstrap-slider.css"
      integrity="sha512-SZgE3m1he0aEF3tIxxnz/3mXu/u/wlMNxQSnE0Cni9j/O8Gs+TjM9tm1NX34nRQ7GiLwUEzwuE3Wv2FLz2667w=="
      crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.js"
      integrity="sha512-tCkLWlSXiiMsUaDl5+8bqwpGXXh0zZsgzX6pB9IQCZH+8iwXRYfcCpdxl/owoM6U4ap7QZDW4kw7djQUiQ4G2A=="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"
      integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg=="
      crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>
  

    <script>
      $(document).ready(function () {

    var dtToday = new Date();
    var month = dtToday.getMonth() + 1;
    var day = dtToday.getDate();
    var year = dtToday.getFullYear();
    if(month < 10)
        month = '0' + month.toString();
    if(day < 10)
        day = '0' + day.toString();

    var maxDate = year + '-' + month + '-' + day;
    $('#deliveryDate').attr('min', maxDate);


        $(".sidenav ul li").click(function () {
          $(".sidenav ul li").removeClass("active");
          $(this).addClass("active");
        });
      });
      $(document).ready(function () {
        $(".right-navbar li").click(function () {
          $("right-navbar li").removeClass("active");
          $(this).addClass("active");
        });
      });

      // With JQuery
      $("#ex8").slider({
        tooltip: 'always',
        tooltip_position: 'bottom',
        formatter: function (value) {
          return 'USD: ' + value;
        },
      });

// // Without JQuery
// var slider = new Slider("#ex8", {
//   tooltip: 'always',
//   tooltip_position:'bottom'
// });

    </script>


    <script>

      $(document).ready(function () {

        // $('#msg').hide();
        // $('#taskmsg').hide();
        // $('#cancel_addtask_btn').click(function (e) {
        //   $("#addTaskForm input").val("");
        //   $("#addTaskForm textarea").val("");
        //   $('#myModal').modal('toggle');
        // })
        $('.propertySelectBox').change(function (e) {
          // e.preventDefault();
          var propertyId = $('.propertySelectBox :selected').val();
          if (propertyId) {
            $.ajax({
              type: "POST",
              data: 'propertyId=' + propertyId,
              url: "/api/filterPropertyAdress",
              cache: false,
              success: function (data) {
                console.log(data)
                //alert(data.data)

                // alert($('#address').val(data.data.ps_property_address))
                $('.address').val(data.data.ps_property_address)
                $('.city').val(data.data.ps_property_city_id)

                $('.state').val(data.data.ps_property_state_id)
                $('.country').val(data.data.ps_property_country_id)
                $('#zipcode').val(data.data.ps_property_zipcode)
                $('.property_id').val(data.data._id)
                var htmlData = '';

                htmlData += '<option value="">Select Phase</option>';
                if (data.data.ps_phase_array.length > 0) {
                  $.each(data.data.ps_phase_array, function (i, data) {
                    console.log('val:', data)
                    htmlData += '<option value="' + data.phase_name + '">' + data.phase_name + '</option>';
                  });
                }
                $('.phase_list').html(htmlData);

              }
            });
          } else {
            alert('something wrong')
          }
        });
        $('#hirenowform').on('submit', function (e) {
          e.preventDefault();
          var formdata = $(this).serialize();
          console.log('formdata:', formdata);
          $.ajax({
            type: "POST",
            data: formdata,
            url: "/api/hire-now",
            cache: false,
            success: function (data) {
              console.log(data)
              if (data.status == false) {
                //$('#message').show();
                //$('.message').html('<span class="error_validate flash_msg" style="color: red; margin-bottom: 10px;">' + data.err_msg + '</span>');
                //setTimeout(function () { $('.message').html(''); }, 5000);

                //$('#msg').html(data.message).delay(5000).fadeOut('success');

                Swal.fire({
                  // position: 'top-end',
                  icon: 'error',
                  title: data.err_msg,
                  showConfirmButton: true,
                  //timer: 1500
                  confirmButtonColor: '#005377'
                })

              } else {
                // $('.message').html('<span class="error_validate flash_msg" style="color: green; margin-bottom: 10px;">' + data.success_msg + '</span>');
                //setTimeout(function () { $('.message').html(''); }, 5000);
                //console.log('message:', data.success_msg)
                //window.location.href = data.redirect;

                //  Swal.fire({
                //     position: 'top-end',
                //     icon: 'success',
                //     title: data.success_msg,
                //     showConfirmButton: false,
                //     timer: 3000
                //   })

                Swal.fire({
                  icon: 'success',
                  title: data.success_msg,
                  showDenyButton: true,
                  showCancelButton: false,
                  confirmButtonColor: '#005377',
                  denyButtonColor: '#005377',
                  cancelButtonColor: '#d33',
                  confirmButtonText: `Professional List`,
                  denyButtonText: `Hire Now`,
                }).then((result) => {
                  /* Read more about isConfirmed, isDenied below */
                  if (result.isConfirmed) {
                    //Swal.fire('Saved!', '', 'success')
                    window.location.href = '/professionals';
                  } else if (result.isDenied) {
                    //Swal.fire('Changes are not saved', '', 'info')
                    location.reload();
                  }
                })
              }

              //$('#ppts_property_id').val(data.data.pps_property_id);
              //$('#phase_id').val(data.data._id);
              //$("#hirenowform input").val("");
              //$("#hirenowform textarea").val("");
              //$('.propertySelectBox').prop('selectedIndex', 0);
            }
          });
        })
      });
    </script>
    <script>
      $(document).ready(function () {
        $(".buyertab").click(function (e) {
          $.ajax({
            type: "GET",
            url: "/buyer",
            cache: false,
            success: function (html) {
            }
          });
          location.reload(true);
        });
        $(".sellertab").click(function (e) {
          $.ajax({
            type: "GET",
            url: "/seller",
            cache: false,
            success: function (html) {
            }
          });
          location.reload(true);
        });
        $(".renovatortab").click(function (e) {
          $.ajax({
            type: "GET",
            url: "/renovator",
            cache: false,
            success: function (html) {
            }
          });
          location.reload(true);
        });

      });
    </script>
    <script>
      $(document).ready(function () {
        var count = 2;
        $("a[name='addMorePhase']").click(function () {
          var domElement = $('<div class="row"><div class="professional-input-box"><div class="professional-text-fix"><label>Phase' + count++ + '</label><select class="form-control" id="instruction" placeholder="Instruction" name="instruction" required><option value="">Select Phases</option> <%if(session.active_user_login=="renovator"){ %><option value="Strategic definition">Strategic definition</option><option value="Preparation and Briefing">Preparation and Briefing</option><option value="Spatial coordination">Spatial coordination</option><option value="Technical Design">Technical Design</option><option value="Manifacturing and Construction">Manifacturing and Construction</option><option value="Concept Design">Concept Design</option><option value="Handover">Handover</option><option value="Use">Use</option> <%}else{%><option value="Instruction">Instruction</option><option value="Pre-exchange Submitting the contract">Pre-exchange Submitting the contract</option><option value="Prior to exchange of contracts">Prior to exchange of contracts</option><option value="Exchange of contracts">Exchange of contracts</option><option value="Completion">Completion</option><option value="Post-Completion">Post-Completion</option> <%}%> </select></div></div><div class="professional-input-box"><div class="professional-text-fix"><label>Start Date</label><input type="date" class="form-control  selectBox6  "placeholder="FullName" name="startDate"></div></div><div class="professional-input-box"><div class="professional-text-fix"><label>End Date</label><input type="date" class="form-control  selectBox6  "placeholder="End Date" name="endDate"></div></div></div>');
          $(".divv").before(domElement);
        });
      });
    </script>
    <script>
      $(document).ready(function () {
        $("#cancel_addtask_btn").click(function (e) {
          e.preventDefault()
          $('#taskName').val('');
          $('#duedate').val('');
          $('#notes').val('')
          $('#Phase').val('');
        })



        $("#msgg").hide();
        $("#error").hide();
        $("#addTaskForm").on('submit', function (e) {
          e.preventDefault();
          var formData = $(this).serialize();
          if (formData) {
            $.ajax({
              type: "POST",
              data: formData,
              url: "/api/addTask",
              cache: false,
              success: function (data) {
                if (data.status == false) {
                  //$('#addTaskModal').modal('hide');
                  //$('#message').show();
                  // $('.errmessage').html('<span class="error_validate flash_msg" style="color: red; margin-bottom: 10px;">' + data.err_msg + '</span>');
                  //setTimeout(function () { $('.errmessage').html(''); }, 3000);
                  //$('#msg').html(data.message).delay(5000).fadeOut('success');

                  Swal.fire({
                    // position: 'top-end',
                    icon: 'error',
                    title: data.err_msg,
                    showConfirmButton: true,
                    confirmButtonColor: '#005377'
                    //timer: 1500
                  })


                } else {
                  //$('#addTaskModal').modal('hide');
                  //$('.errmessage').html('<span class="error_validate flash_msg" style="color: green; margin-bottom: 10px;">' + data.success_msg + '</span>');
                  //setTimeout(function () { $('.errmessage').html(''); $('#taskName').val(''); $('#duedate').val(''); $('#notes').val('') }, 3000);
                  console.log('meserrmessagesage:', data.success_msg)
                  //window.location.href = data.redirect;
                  //swal(data.success_msg, "", "success");

                  Swal.fire({
                    // position: 'top-end',
                    icon: 'success',
                    title: data.success_msg,
                    showConfirmButton: false,
                    confirmButtonColor: '#005377',
                    timer: 3000
                  })

                  $('#taskName,#notes,#duedate').val('');
                  //$('#notes').val('');

                }

              }
            });
            // location.reload(true);
          } else {
            alert('some thing wrong')
          }
        })
      });
    </script>