<%- include('dashboard_header')-%>
  <%- include('edit-profile-model')-%>
    <div class="dashboard-wpr">
      <div class="container-fluid">
        <div class="row content">
          <div class="col-sm-2 sidenav hidden-xs-down">
            <div class="user-login text-center">

              <%- include('profile-image')-%>

                <div class="user-name">
                  <h2>
                    <%= session.name %>
                  </h2>
                  <a href="#">
                    <%= session.email %>
                      <%- include('edit-profile-icon')-%>
                  </a>
                </div>
            </div>
            <%- include('sidebar')-%>
          </div>
          <div class="col-sm-12 col-lg-10">

            <!-- <div class="row">
                <div class="breadcumb">
                  <ul>
                    <li><a href="dashboard"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back to Nacary
                        Apartment</a></li>
                  </ul>
                </div>
              </div> -->
            <div>
              <div class="professional-header">
                <div class="row">
                  <div class="col-sm-12 col-lg-12">
                    <div class="docs-files">
                      <div class="clearfix">
                        <div class="float-left">
                          <div class="dropdown">
                            <button type="button" class="btn btn-professional dropdown-toggle" data-toggle="dropdown">
                              All Professionals
                              <span><img src="images/drop-down2.png" alt=""></span> </button>
                            <div class="dropdown-menu ">
                              <a class="dropdown-item item1" href="/professionals"><span><img src="images/tick.png"
                                    alt=""></span>&nbsp;All Professionals</a>
                              <hr class="divider" />
                              <a class="dropdown-item item2" href="/myprofessionals"><span><img src="images/tick.png"
                                    alt=""></span> My professionals</a>
                            </div>
                          </div>
                        </div>
                        <div class="float-right">
                          <div class="professional-right-sec professional-search-form-sec">
                            <form id="professional-search-form" action="#" method="POST">
                              <div id="custom-search-input-fix" style="background-color: #f0f0f0 ;">
                                  <div class="input-group professional-search-input col-lg-12">
                                    <span class="input-group-btn">
                                      <button class="btn btn-info" type="button">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                      </button>
                                    </span>
                                    <input type="text" required class="form-control professional-search"
                                      style="background-color: #f0f0f0;"
                                      placeholder="Search professionals by name, surname, qualification " />
                                  </div>
                              </div>
                              <button type="submit"  id="professional-search-btn"
                                class="btn professional-search-btn">Search</button>
                            </form>
                            <div class="dropdown keep-inside-clicks-open">
                              <button class="btn professional-search-btn dropdown-toggle" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Show Filters
                              </button>
                              <div class="dropdown-menu  dropdown-show-filter" aria-labelledby="dropdownMenuButton">
                              <form id="multifilterForm" action="#" method="POST">
                                <div class="row">
                                  <div class="col-md-5">


                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                      <li class="nav-item">
                                        <a class="nav-link" id="profile-tab5" data-toggle="tab" href="#Category"
                                          role="tab" aria-controls="Category" aria-selected="false">Category</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" id="profile-tab2" data-toggle="tab" href="#Experience"
                                          role="tab" aria-controls="Experience" aria-selected="false">Experience</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" id="profile-tab3" data-toggle="tab" href="#Location"
                                          role="tab" aria-controls="Location" aria-selected="false">Location</a>
                                      </li>                                     
                                      <li class="nav-item">
                                        <a class="nav-link" id="profile-tab4" data-toggle="tab" href="#Language"
                                          role="tab" aria-controls="Language" aria-selected="false">Language</a>
                                      </li>
                                   
                                    </ul>
                                  </div>
                                  <div class="col-md-7">

                                    <div class="tab-content" id="myTabContent">

                                      <div class="tab-pane fade" id="Experience" role="tabpanel"
                                      aria-labelledby="profile-tab2">
                                      <div class="inner-box-qualification">
                                        <div class="input-group search-input-new">
                                          <i class="fa fa-search"></i>
                                          <input id="search-input" type="search" id="form1" class="form-control" />
                                        </div>
                                        <div class="form-group for-select-existing-doc">
                                          <div class="input-group">
                                            <div>
                                              <% uniqueExperience.forEach(function(exprow){ %>
                                              <div class="for-doc-select">
                                                <div class="checkbox">
                                                  <label>
                                                    <input  onclick="return multifilter()" type="checkbox" name="experience" value="<%=exprow %>">
                                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                                   <%= exprow %>
                                                  </label>
                                                </div>
                                              </div>
                                              <% }) %>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>


                                    <div class="tab-pane fade" id="Location" role="tabpanel"
                                    aria-labelledby="profile-tab3">
                                    <div class="inner-box-qualification">
                                      <div class="input-group search-input-new">
                                        <i class="fa fa-search"></i>
                                        <input id="search-input" type="search" id="form1" class="form-control" />
                                      </div>
                                      <div class="form-group for-select-existing-doc">
                                        <div class="input-group">
                                          <div>
                                            <% uniqueCity.forEach(function(cityrow){ %>
                                            <div class="for-doc-select">
                                              <div class="checkbox">
                                                <label>
                                                  <input onclick="return multifilter()" type="checkbox" name="location_city" value="<%= cityrow %>">
                                                  <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                                  <%= cityrow %>
                                                </label>
                                              </div>
                                            </div>
                                            <% }) %>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                    
                                  <div class="tab-pane fade" id="Language" role="tabpanel"
                                  aria-labelledby="profile-tab4">
                                  <div class="inner-box-qualification">
                                    <div class="input-group search-input-new">
                                      <i class="fa fa-search"></i>
                                      <input id="search-input" type="search" id="form1" class="form-control" />
                                    </div>
                                    <div class="form-group for-select-existing-doc">
                                      <div class="input-group">
                                        <div>
                                          <% uniqueLanguage.forEach(function(langrow){ %>
                                            <div class="for-doc-select">
                                              <div class="checkbox">
                                                <label>
                                                  <input onclick="return multifilter()" type="checkbox" name="language" value="<%= langrow %>">
                                                  <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                                 <%= langrow %>
                                                </label>
                                              </div>
                                            </div>
                                            <% }) %>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>


                                <div class="tab-pane fade" id="Category" role="tabpanel"
                                aria-labelledby="profile-tab5">
                                <div class="inner-box-qualification">
                                  <div class="input-group search-input-new">
                                    <i class="fa fa-search"></i>
                                    <input id="search-input" type="search" id="form1" class="form-control" />
                                  </div>
                                  <div class="form-group for-select-existing-doc">
                                    <div class="input-group">
                                      <div>
                                        <% uniqueCategory.forEach(function(catrow){ %>
                                        <div class="for-doc-select">
                                          <div class="checkbox">
                                            <label>
                                              <input onclick="return multifilter()"  type="checkbox" name="category" value="<%=catrow %>">
                                              <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                              <%= catrow %>
                                            </label>
                                          </div>
                                        </div>
                                        <% }) %>
                                       
                                      </div>

                                    </div>
                                  </div>
                                </div>
                              </div>


                                    </div>
                                  </div>
                                </div>
                              </form>
                              </div>
                            </div>



                          </div>
                        </div>
                      </div>



                      <div class="col-sm-12 col-lg-12">
                        <ul id="professional-role-list" class="icon-list">
                          <li><a data-role="Accountant" href="javascript:void(0)"><img src="images/accountant.png"
                                alt="" title=""><br><span>Accountants
                              </span></a>
                          </li>
                          <li><a data-role="Architect" href="javascript:void(0)"><img src="images/architect.png" alt=""
                                title=""><br><span>Architects</span></a>
                          </li>
                          <li><a data-role="Developer" href="javascript:void(0)"><img src="images/developers.png" alt=""
                                title=""><br><span>Developers
                              </span></a></li>
                          <li><a data-role="Engineer" href="javascript:void(0)"><img src="images/engineer.png" alt=""
                                title=""><br><span>Engineers </span></a>
                          </li>
                          <li><a data-role="Financial Advisor" href="javascript:void(0)"><img
                                src="images/financial-advisors.png" alt="" title=""><br><span>Financial
                                Advisors
                              </span></a></li>
                          <li><a data-role="Interior Designer" href="javascript:void(0)"><img
                                src="images/interior-designers.png" alt="" title=""><br><span>Interior
                                Designers
                              </span></a>
                          </li>
                          <li><a data-role="Lawyer/Conveyancer" href="javascript:void(0)"><img src="images/lawyers.png"
                                alt="" title=""><br><span>Lawyers/
                                Conveyancers</span></a>
                          </li>
                          <li><a data-role="Mortgage Broker" href="javascript:void(0)"><img
                                src="images/mortgage-broker.png" alt="" title=""><br><span>Mortgage
                                Brokers</span></a>
                          </li>
                          <li><a data-role="Surveyor" href="javascript:void(0)"><img src="images/surveyors.png" alt=""
                                title=""><br><span>Surveyors
                              </span></a>
                          </li>
                          <li style="margin-right:0px"><a data-role="Valuer" href="javascript:void(0)"><img
                                src="images/valuers.png" alt="" title=""><br><span>Valuers</span></a>
                          </li>
                        </ul>
                      </div>



                    </div>
                  </div>
                </div>
              </div>
            </div>






            <div class="dashboard-inner professional-find-list">
              <div id="filter_data" class="row">
                <% data.forEach(function(row){ %>
                  <div class="col-lg-3">
                    <div class="card card-fix2">
                      <div class="row">
                        <div class="float-left card-header-fix">
                          <a href="/professionals-detail?id=<%=row._id%>"> <img class="card-img-top"
                              src="images/recent-user-2.png" alt="Card image cap"> </a>
                        </div>
                        <div class="float-right card-content-fix">
                          <h5>
                            <a href="/professionals-detail?id=<%=row._id%>"><%= row.sps_fullname%></a> 
                          </h5>
                          <p>
                            <%= row.sps_role_name%>
                          </p>
                        </div>
                      </div>
                      <hr class="divider" />
                      <div class="row">
                        <div class="float-left card-icon-fix">
                          <img class=" card-image-fix" src="images/experience.png" alt="Card image cap">&nbsp;<span>
                            <%= row.sps_experience%>
                              years
                          </span>
                        </div>
                        <div class="float-right card-icon-fix2">
                          <img class=" card-image-fix" src="images/rating.png" alt="Card image cap">&nbsp;<span><%= row.avgRating %>
                            Rating</span>

                        </div>
                      </div>
                      <div class="card-body">
                        <p class="card-text">
                          <%= row.professionalBody %>
                        </p>
                      </div>
                    </div>
                  </div>
                  <% }); %>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <%- include('dashboard_footer')-%>
