<%- include('dashboard_header')-%>
  <%- include('edit-profile-model')-%>
    <!-- The Modal -->
    <div class="modal permission-modal fade " data-backdrop="static" data-keyboard="false" id="addTaskModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header text-center">
            <h2 class="modal-title w-100">Add Task</h2>
          </div>
          <form name="addTaskForm" id="addTaskForm" action="" method="post">
            <!-- Modal body -->
            <div class="modal-body">
              <label class="">Describe this to-do</label>
              <div class="errmessage"></div>
              <!-- <div class="alert alert-info" id="taskmsg"></div> -->
              <!-- <input type="text" class="form-control form-control-fix2" id="subject" placeholder="Instruction"
                name="todotask" required> -->
              <select onchange="phaseTaskList(this,'<%= session.active_user_login%>')" class="form-control selectBox2 phase_list" id="Phase" name="Phase" style="height: 48px;"
                data-rule-required="true" data-msg-required="phase  is required" required>
                <option value="">Select Phase</option>
                <option value=""></option>
              </select>
              <%- include('existing-task-select')-%>

              <!-- <% if(session.active_user_login == "buyer"){ %>
                <div class="buyer_phase_task_list">
                                  <select multiple onchange="SelectedTaskList(this)" class="form-control selectBox2 phase_task_list" id="phase_task_list_buyer" name="phase_task_list" style="height: 48px;">
                                   
                                      <option class="phase_task_list_0 task_option" value="Instruct Solicitor">Instruct Solicitor</option>
                                      <option class="phase_task_list_0 task_option" value="Instruct other professionals">Instruct other professionals</option>
                                      <option class="phase_task_list_0 task_option" value="ID/Passport">ID/Passport</option>
                                      <option class="phase_task_list_0 task_option" value="Proof of address">Proof of address</option>
                                      <option class="phase_task_list_0 task_option" value="Proof of fund(cash buyers)/agreement in principle(mortgage)">Proof of fund(cash buyers)/agreement in principle(mortgage)</option>
                                      <option class="phase_task_list_0 task_option" value="Checks. Title/property/chains et al">Checks. Title/property/chains et al</option>
                                      <option class="phase_task_list_0 task_option" value="Memorandum of sales(received)">Memorandum of sales(received)</option>
                                  
                                      <option class="phase_task_list_1 task_option" value="Draft Contract(received)">Draft Contract(received)</option>
                                      <option class="phase_task_list_1 task_option" value="Raise enquires on the property/chains">Raise enquires on the property/chains</option>
                                      <option class="phase_task_list_1 task_option" value="Mortgage instruction">Mortgage instruction</option>
                                      <option class="phase_task_list_1 task_option" value="Apply for searches">Apply for searches</option>
                                      <option class="phase_task_list_1 task_option" value="Report on title and contract">Report on title and contract</option>
                                      <option class="phase_task_list_1 task_option" value="SDLT/LTT form">SDLT/LTT form</option>
                                      <option class="phase_task_list_1 task_option" value="Confirm Satisfactiry response on searches and enquiries">Confirm Satisfactiry response on searches and enquiries</option>  
                                    
                
                                      <option class="phase_task_list_2 task_option" value="Agree a completion date">Agree a completion date</option>
                                      <option class="phase_task_list_2 task_option" value="Check availability of balance of completion monies">check availability of balance of completion monies</option>
                                      <option class="phase_task_list_2 task_option" value="Fund available">Fund available</option>
                                      <option class="phase_task_list_2 task_option" value="Contract signed">Contract signed</option>
                
                                      <option class="phase_task_list_3 task_option" value="Exchnage of contracts">Exchnage of contracts</option>
                                      <option class="phase_task_list_3 task_option" value="Money transfer. Buyer to pay agreed deposit">Money transfer. Buyer to pay agreed deposit</option>
                                      <option class="phase_task_list_3 task_option" value="copy of the transferLaise with bank to draw down funds for completion">copy of the transferLaise with bank to draw down funds for completion</option>
                                 
                                      <option class="phase_task_list_4 task_option" value="Completion procedure. Legal and practical completion">Completion procedure. Legal and practical completion</option>
                                      <option class="phase_task_list_4 task_option" value="completion by post. completion by Post without variation unless there has been prior agreement to very">completion by post. completion by Post without variation unless there has been prior agreement to very</option>
                                      <option class="phase_task_list_4 task_option" value="Completion monies and method of completion. Inform of the commitment of funds to the bancking system.">Completion monies and method of completion. Inform of the commitment of funds to the bancking system.</option>
                                  
                                      <option class="phase_task_list_5 task_option" value="Application to HM Land registry">Application to HM Land registry</option>
                                      <option class="phase_task_list_5 task_option" value="Registration">Registration</option>
                                      <option class="phase_task_list_5 task_option" value="File Clouser">File Clouser</option>
                                  
                                  </select>
                </div>
                <% }else if(session.active_user_login == "seller"){ %>
                <div class="seller_phase_task_list">
                              <select multiple onchange="SelectedTaskList(this)" class="form-control selectBox2 phase_task_list" id="phase_task_list_seller" name="phase_task_list" style="height: 48px;">
                               <option class="phase_task_list_0 task_option" value="Instruct Solicitor">Instruct Solicitor</option>
                                <option class="phase_task_list_0 task_option" value="Instruct other professionals">Instruct other professionals</option>
                                <option class="phase_task_list_0 task_option" value="Bank details for reservation">Bank details for reservation</option>
                                <option class="phase_task_list_0 task_option" value="Reservation form">Reservation form</option>
                                <option class="phase_task_list_0 task_option" value="Reservation fees Payment">Reservation fees Payment</option>
                                <option class="phase_task_list_0 task_option" value="Checks. Title/property/chains et al">Checks. Title/property/chains et al</option>
                                <option class="phase_task_list_0 task_option" value="Memorandum of sales(sent0)">Memorandum of sales(sent0)</option>
                
                                <option class="phase_task_list_1 task_option" value="Draft contract(sent)">Draft contract(sent)</option>
                                <option class="phase_task_list_1 task_option" value="Answer to enquires">Answer to enquires</option>
                                <option class="phase_task_list_1 task_option" value="Additional enquires(optional)">Additional enquires(optional)</option>
                
                                <option class="phase_task_list_2 task_option" value="Agrees a completion date">Agrees a completion date</option>
                                <option class="phase_task_list_2 task_option" value="Request the contract signed by the user">Request the contract signed by the user</option>
                                <option class="phase_task_list_2 task_option" value="Contract signed">Contract signed</option>
                
                                <option class="phase_task_list_3 task_option" value="Exchnage of contracts">Exchnage of contracts</option>
                                <option class="phase_task_list_3 task_option" value="Check the copy of the transferexecuted by the buyer">Check the copy of the transferexecuted by the buyer</option>
                                <option class="phase_task_list_3 task_option" value="Redemption of the transfer up-to-date redemption figures">Redemption of the transfer up-to-date redemption figures</option>
                
                                <option class="phase_task_list_4 task_option" value="Completion procedure.Legal and practical completion">Completion procedure.Legal and practical completion</option>
                                <option class="phase_task_list_4 task_option" value="Completion by post. completion by Post without variation unless there has been prior agreement to vary">Completion by post. completion by Post without variation unless there has been prior agreement to vary</option>
                                <option class="phase_task_list_4 task_option" value="completion monies and method of completion. Complete the transaction in accordance with the law Society code for completion by post">completion monies and method of completion. Complete the transaction in accordance with the law Society code for completion by post</option>
                                <option class="phase_task_list_4 task_option" value="payment of estate agent fees">payment of estate agent fees</option>
                                <option class="phase_task_list_4 task_option" value="outstanding balance of sale proceeds">outstanding balance of sale proceeds</option>
                              
                                <option class="phase_task_list_5 task_option" value="Discharge of undertaking">Discharge of undertaking</option>
                                <option class="phase_task_list_5 task_option" value="file Clousre">file Clousre</option>
                
                              </select>  
                </div>
                <% }else if(session.active_user_login == "renovator"){%> 
                  <div class="renovator_phase_task_list">
                    <select multiple onchange="SelectedTaskList(this)" class="form-control selectBox2  phase_task_list" id="phase_task_list_renovator" name="phase_task_list" style="height: 48px;">
                     <option class="phase_task_list_0 task_option" value="Instruct professionals and/or developers">Instruct professionals and/or developers</option>
                      <option class="phase_task_list_0 task_option" value="ID/Passport">ID/Passport</option>
                      <option class="phase_task_list_0 task_option" value="Checks. Title/property">Checks. Title/property</option>
                      <option class="phase_task_list_0 task_option" value="Stage 0 design programme - Estimated time and cost - approved">Stage 0 design programme - Estimated time and cost - approved</option>
                      <option class="phase_task_list_0 task_option" value="Project description, requirements, budget and time">Project description, requirements, budget and time</option>
                      <option class="phase_task_list_0 task_option" value="Confirmation of client requirements and project stages">Confirmation of client requirements and project stages</option>
                    
                      <option class="phase_task_list_1 task_option" value="Stage 1 design programme - Estimated time and cost - approved">Stage 1 design programme - Estimated time and cost - approved</option>
                      <option class="phase_task_list_1 task_option" value="Project budget and programme (time) - approved">Project budget and programme (time) - approved</option>
                      <option class="phase_task_list_1 task_option" value="Project brief - approved">Project brief - approved</option>
                
                      <option class="phase_task_list_2 task_option" value="Stage 2 design programme - Estimated time and cost - approved">Stage 2 design programme - Estimated time and cost - approved</option>
                      <option class="phase_task_list_2 task_option" value="Design review - approved">Design review - approved</option>
                      <option class="phase_task_list_2 task_option" value="Architectural concept- approved">Architectural concept- approved</option>
                
                      <option class="phase_task_list_3 task_option" value="Stage 3 design programme - Estimated time and cost for Stage 3 - approved">Stage 3 design programme - Estimated time and cost for Stage 3 - approved</option>
                      <option class="phase_task_list_3 task_option" value="Planning application information package - Approved">Planning application information package - Approved</option>
                
                      <option class="phase_task_list_4 task_option" value="Stage 4 design programme - Estimated time and cost - approved">Stage 4 design programme - Estimated time and cost - approved</option>
                      <option class="phase_task_list_4 task_option" value="Technical design information package - Approved">Technical design information package - Approved</option>
                
                      <option class="phase_task_list_5 task_option" value="Stage 5 design programme - Estimated time and cost - approved">Stage 5 design programme - Estimated time and cost - approved</option>
                      <option class="phase_task_list_5 task_option" value="Construction information package - Approved">Construction information package - Approved</option>
                
                      <option class="phase_task_list_6 task_option" value="Stage 6 programme - Estimated time and cost - approved">Stage 6 programme - Estimated time and cost - approved</option>
                      <option class="phase_task_list_6 task_option" value="Handover information package - Approved">Handover information package - Approved</option>
                
                      <option class="phase_task_list_7 task_option" value="Stage 7 programme - Estimated time and cost - approved">Stage 7 programme - Estimated time and cost - approved</option>
                      <option class="phase_task_list_7 task_option" value="Handover information package - Approved">Handover information package - Approved</option>
                
                    </select>
                
                  </div>  
                <% } %> -->

              <input type="hidden" class="form-control form-control-fix2" id="ppts_phase_flag" name="ppts_phase_flag" required>
              <input type="text" class="form-control form-control-fix2" id="taskName" placeholder="Task Name"
                name="task_name" required>
              <input type="text" class="form-control form-control-fix2" id="professional"
                placeholder="<%=serviceProvider.sps_fullname%>" name="professionalName"
                value="<%=serviceProvider.sps_fullname%>" readonly>
              <input type="hidden" name="professionalId" value="<%=serviceProvider._id%>">
              <input type="hidden" name="currentUserId" value="<%=session.user_id%>">
              <input type="hidden" name="property_id" class="property_id" value="">
              <!-- <input type="hidden" name="phase_id" id="phase_id" value=""> -->
              <input type="text" onfocus="(this.type='date')" class="form-control  form-control-fix2" id="duedate" placeholder="Due on"
                name="duedate" placeholder="Due On Date" required>
              <textarea class="form-control  form-control-fix2" rows="2" name="notes" id="notes"
                placeholder="Add Notes(If any)"></textarea>

            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-cancel" id="cancel_addtask_btn" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-cancel" id="addtask_btn" data-dismiss="">Add Task</button>
            </div>

          </form>
        </div>
      </div>
    </div>
    <div class="dashboard-wpr">
      <div class="container-fluid">
        <div class="row content">
          <div class="col-sm-2 sidenav hidden-xs-down">
            <div class="user-login text-center">

              <%- include('profile-image')-%>

                <div class="user-name">
                  <h2>
                    <%= session.name %>
                  </h2>
                  <a href="#">
                    <%= session.email %>
                      <%- include('edit-profile-icon')-%>
                  </a>
                </div>
            </div>
            <%- include('sidebar')-%>
          </div>

          <div class="col-sm-12 col-lg-10">
            <div class="dashboard-inner">
              <div class="row">
                <div class="col-sm-12 col-lg-12">
                  <div class=" user-fix">
                    <div class="row">
                      <div class="col-sm-12 col-lg-5">
                        <div class="user-profile-fix2 float-left">
                          <img src="images/user-4.png" alt="" title="">
                        </div>
                        <div class="user-name-fix float-left">
                          <h2>
                            <%=serviceProvider.sps_fullname%>
                          </h2>
                          <p>
                            <%=serviceProvider.sps_role_name%>
                          </p>
                        </div>
                      </div>

                      <div class="float-left icon-fix">
                        <img class=" card-image-fix" src="images/experience.png" alt="Card image cap">&nbsp;<span>
                          <%=serviceProvider.sps_experience%>
                            years
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-lg-12">
                  <div class="hirenow-inner">
                    <div class="docs-files-section">

                      <form class="form" id="hirenowform" action="#" method="POST">
                        <input type="hidden" name="user_id" value="<%=session.user_id%>">
                        <input type="hidden" name="serviceProviderId" value="<%=serviceProvider._id%>">
                        <div class="row">
                          <div class="col-sm-12 col-lg-12">
                            <div class="docs-files">

                              <div class="heading-top hirenow-fix float-left">

                                <h6 class="">Select the property you want to hire professional for</h6>
                              </div>


                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12 col-lg-12">
                            <div class="home-section">
                              <div class="row">

                                <div class="col-sm-12 col-lg-4">

                                  <div class="professional-text-fix">
                                    <label>Select Property</label>
                                    <select class="form-control selectBox6 propertySelectBox property_list"
                                      name="propertyId" required data-rule-required="true"
                                      data-msg-required="Property is required!" style="height: 48px;">
                                      <option value="">Select property</option>
                                      <% property.forEach(function(row){ %>
                                        <option class="option" value="<%=row._id%>">
                                          <%=row.ps_property_name%>
                                        </option>
                                        <% }); %>
                                    </select>

                                  </div>
                                </div>
                                <div class="col-sm-12 col-lg-4">

                                  <div class="professional-text-fix">
                                    <label>Address</label>


                                    <input type="text" class="form-control address  selectBox6  " id="address"
                                      placeholder="Address" name="address" value="" data-rule-required="true"
                                      data-msg-required="Address is required!" required>
                                  </div>



                                </div>
                                <div class="col-sm-12 col-lg-4">

                                  <div class="professional-text-fix">
                                    <label>City</label>
                                    <input type="text" class="form-control city selectBox6  " id="city"
                                      placeholder="City" name="city" value="" data-rule-required="true"
                                      data-msg-required="City is required!" required>
                                  </div>

                                </div>
                              </div>
                              <div class="row">
                                <div class="col-sm-12 col-lg-4">

                                  <div class="professional-text-fix">
                                    <label>County</label>
                                    <input type="text" class="form-control state selectBox6  " id="state"
                                      placeholder="County" data-rule-required="true"
                                      data-msg-required="County is required!" required name="state" value="">
                                  </div>

                                </div>
                                <div class="col-sm-12 col-lg-4">

                                  <div class="professional-text-fix">
                                    <label>Country</label>
                                    <input type="text" class="form-control country selectBox6  " id="country"
                                      placeholder="Country" name="country" value="" data-rule-required="true"
                                      data-msg-required="Country is required!" required>
                                  </div>

                                </div>
                                <div class="col-sm-12 col-lg-4">

                                  <div class="professional-text-fix">
                                    <label>Zip code</label>
                                    <input type="text" class="form-control  selectBox6  " id="zipcode"
                                      placeholder="Zip code" name="zipcode" value="" data-rule-required="true"
                                      data-msg-required="Zipcode is required!" required>
                                  </div>

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-sm-12 col-lg-4">
                            <div class="heading-top hirenow-fix float-left">
                              <h6 class="">Tell us your approximate budget</h6>
                              <br />
                              <input class="range_slider" id="ex8" data-slider-id='ex1Slider' type="text"
                                name="pps_pofessional_budget" data-slider-min="0" data-slider-max="10000"
                                data-slider-step="10" data-slider-value="0" />
                              <br />
                            </div>
                          </div>
                          <div class="col-sm-12 col-lg-4">
                            <div class="heading-top hirenow-fix float-left">
                              <h6 class="">Tell us expected delivery date</h6>
                            </div>
                            <div class="col-sm-12 col-lg-12">
                              <input type="date" style="margin-top:5px;width:90%" class="form-control selectBox6"
                                id="deliveryDate" placeholder="1 Dec 2011" name="pps_exptected_delivery_date"
                                data-rule-required="true" data-msg-required="DeliveryDate is required!" required>
                            </div>
                          </div>
                           <div class="col-sm-12 col-lg-4">

                            <div class="heading-top hirenow-fix">
                              <h6 class="">Already Hired Property</h6>
                            </div>
                            <div>
                              <%if(!propertyObj.length){%>
                                  <ul><li style="list-style: none;">N/A</li></li></ul>
                                <%}else{%>
                                  <ul>
                                    <%propertyObj.forEach(function(row,i){%>
                                    <li  style="list-style: none;"><%=row.ps_property_name%></li>
                                    <%});%>
                                  </ul>
                                  <%}%>
                            </div>
                          </div>
                        <div class="hire_now_btn_section col-sm-12">
                          <button type="submit" class="btn btn-next" style="width: 164px; border-radius: 5px;">Hire
                            Now</button>
                        </div>
                        <div class="message"></div>
                      </form>
                      <!-- <div class="alert alert-info" id="msg"></div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>

    <%- include('dashboard_footer')-%>
  
