<%- include('dashboard_header')-%>
  <%- include('edit-profile-model')-%>

    <!-- The Modal -->
    <div class="modal permission-modal fade " data-backdrop="static" data-keyboard="false" id="addTaskModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header text-center">
            <h2 class="modal-title w-100">Add Task</h2>
          </div>
          <form name="addTaskForm" id="addTaskForm" action="" method="post">
            <!-- Modal body -->
            <div class="modal-body">
              <label class="">Describe this to-do</label>
              <div class="errmessage"></div>
              <!-- <div class="alert alert-info" id="taskmsg"></div> -->
              <!-- <input type="text" class="form-control form-control-fix2" id="subject" placeholder="Instruction"
                name="todotask" required> -->
              <%if(!propertyObj){%>
                <%}else{%>
                  <select class="form-control selectBox2 " id="property_id" name="property_id" style="height: 48px;"
                    data-rule-required="true" data-msg-required="property  is required" required>
                    <option value="">Select Property</option>
                    <%propertyObj.forEach(function(row,i){%>

                      <option value="<%=row._id%>">
                        <%=row.ps_property_name%>
                      </option>


                      <%});%>
                  </select>
                  <%}%>
                    <select class="form-control selectBox2 phase_list" id="Phase" name="Phase" style="height: 48px;"
                      data-rule-required="true" data-msg-required="phase  is required" required>
                      <option value="">Select Phase</option>
                      <option value=""></option>
                    </select>
                    <input type="text" class="form-control form-control-fix2" id="taskName" placeholder="Task Name"
                      name="task_name" required>

                    <input type="text" class="form-control form-control-fix2" id="professional" placeholder=""
                      name="professionalName" value="" readonly>
                    <input type="hidden" id="professionalId" name="professionalId" value="">
                    <input type="hidden" name="currentUserId" value="<%=session.user_id%>">

                    <!-- <input type="hidden" name="property_id" class="property_id" value=""> -->
                    <!-- <input type="hidden" name="phase_id" id="phase_id" value=""> -->
                    <input type="text" onfocus="(this.type='date')" class="form-control  form-control-fix2" id="duedate"
                      placeholder="Due on Date" name="duedate"  required>
                    <textarea class="form-control  form-control-fix2" rows="2" name="notes" id="notes"
                      placeholder="Add Notes(If any)"></textarea>

            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-cancel" id="cancel_addtask_btn" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-cancel" id="addtask_btn" data-dismiss="">Add Task</button>
            </div>

          </form>
        </div>
      </div>
    </div>


    <div class="dashboard-wpr">
      <div class="container-fluid">
        <div class="row content">
          <div class="col-sm-2 sidenav hidden-xs-down">
            <div class="user-login text-center">

              <%- include('profile-image')-%>

                <div class="user-name">
                  <h2>
                    <%= session.name %>
                  </h2>
                  <a href="#">
                    <%= session.email %>
                      <%- include('edit-profile-icon')-%>
                  </a>
                </div>
            </div>
            <%- include('sidebar')-%>
          </div>
          <div class="col-sm-12 col-lg-10">
            <div class="dashboard-inner professtional_section">
              <div class="row">
                <div class="col-sm-12 col-lg-12">
                  <div class=" user-fix">
                    <div class="user-profile-fix2 float-left">
                      <img src="images/user-4.png" alt="" title="">
                    </div>
                    <div class="user-name-fix float-left">
                      <h2>
                        <%=service_provider_detail.sps_fullname%>
                      </h2>
                      <p>
                        <%=service_provider_detail.sps_role_name%>
                      </p>
                    </div>
                    <input type="hidden" value="<%=service_provider_detail.sps_fullname%>" id="sps_fullname">
                    <input type="hidden" value="<%=service_provider_detail._id%>" id="sps_id">
                    <div class="float-left icon-fix">
                      <img class=" card-image-fix" src="images/experience.png" alt="">&nbsp;<span>
                        <%=service_provider_detail.sps_experience%>
                          years
                      </span>
                    </div>
                    <div class="float-left icon-fix2">
                      <img class=" card-image-fix" src="images/rating.png" alt="">&nbsp;<span>
                        <%= avgRating%>
                          Rating
                      </span>
                    </div>


                    <% if(hiredProfeshnoal){ %>
                      <div class="float-left icon-fix2">
                        <a href="/professionals-detail-message?spp_id=<%=service_provider_detail._id%>&cus_id=<%=session.user_id%>"
                          class=""><img src="images/chat.png"></a>
                      </div>
                      <div class="float-left btn-hire-now-small">
                        <a href="javascript:void(0)" id="addTask-btn" class="btn btn-add-property">Add Task</a>
                      </div>

                      <div class="float-left btn-hire-now-small">
                        <a href="/professionals-hirenow" class="btn btn-add-property">Hire Now</a>
                      </div>

                      <% } else { %>
                        <div class="float-left btn-hire-now-small">
                          <a href="/professionals-hirenow" class="btn btn-add-property">Hire Now</a>
                        </div>
                        <div class="float-left btn-hire-now-small">
                          <a href="/professionals-detail-message?spp_id=<%=service_provider_detail._id%>&cus_id=<%=session.user_id%>"
                            class="btn btn-message">Drop a message</a>
                        </div>
                        <%}%>

                  </div>
                </div>
              </div>
              <!-- <div class="float-left icon-fix2">
                <a href="#" class="btn btn-add-property">Hire Now</a>
              </div>
              <div class="float-right btn-hire">
                <a href="#" class="btn btn-add-property">Drop a message</a>
              </div> -->



              <div class="row">
                <div class="col-sm-12 col-lg-12">
                  <div class="professioal-inner2">
                    <div class="professional-files-section1">
                      <div class="row">
                        <div class="float-left image-fix">
                          <img class="" src="images/phone.png" alt="Card image cap">&nbsp;<span>+
                            <%=service_provider_detail.sps_phone_number%>
                          </span>
                        </div>
                        <div class="float-left image-fix">
                          <img class="" src="images/mail.png" alt="Card image cap">&nbsp;<span>
                            <%=service_provider_detail.sps_email_id%>
                          </span>
                        </div>
                      </div>
                      <hr />
                      <div class="about-section">
                        <h6> <b>About me</b></h6>
                        <%if(serviceProOtherDetail==''||serviceProOtherDetail==undefined){%>
                          <p> </p>
                          <%}else{%>
                            <p>
                              <%=serviceProOtherDetail.spods_professional_body%>
                            </p>
                            <input type="hidden" id="spr_id"
                              value="<%=serviceProOtherDetail.spods_service_provider_id%>" name="spr_id">
                            <%}%>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-lg-12">
                  <div class="professional-inner">
                    <div class="professional-files-section">
                      <div class="float-left">
                        <h6><b>Portfolio</b></h6>
                      </div>
                      <div class="float-right">
                        <p>0 Videos &bull; <%=portpolioImage.length%> Photos</p>
                      </div>
                      <div id="demo" class="carousel slide " data-ride="carousel">
                        <%if(portpolioImage.length>0){%>
                          <!-- The slideshow -->
                          <div class="carousel-inner">
                            <div class="carousel-item active">
                              <% var c=1 ; portpolioImage.forEach(function(row){ %>
                                <img class="image-size-fix"
                                  style="min-height:150px;max-height:150px; border-radius: 10px;"
                                  src="upload/<%=row.spps_filename%>" alt="">
                                <%if(c%6==0){%>
                            </div>
                            <div class="carousel-item">
                              <%}%>

                                <% c++; });%>
                              </div>
                            </div>
                            <!-- Left and right controls -->
                            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                              <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </a>
                            <a class="carousel-control-next" href="#demo" data-slide="next">
                              <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </a>
                            <%}else{%>
                              <br />
                              <h6>Portfolio Image Not Uploaded</h6>
                              <%}%>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-lg-12">
                    <div class="professional-inner">
                      <div class="professional-files-section">
                        <div class="row">
                          <div class="col-lg-6">
                            <div class="">
                              <h6><b>Feedback</b></h6>
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="text-right">
                              <a href="JavaScript:void(0);" type="button" data-toggle="modal"
                                data-target="#feedbackModal">
                                <div class="float-right image-fix">
                                  <img class="" style="width:13%" src="images/write-feedback.png"
                                    alt="Card image cap">&nbsp;<span class="feedback-text">
                                    Write a feedback
                                  </span>
                                </div>
                              </a>
                            </div>

                          </div>
                        </div>

                        <div class="about-section">
                          <div class="row">
                            <div style="order: 2;" class="col col-lg-6">
                              <% var plantRateSum=0; %>
                                <% var c=1 ; var total=professionalRating.length;
                                  professionalRating.forEach(function(prat){ %>
                                  <% plantRateSum +=parseInt(prat.sprs_rating) %>
                                    <div class="side-feedback-sec">
                                      <div class="img-rating-box">
                                        <div class="img-side-part">
                                          <img src="upload/<%= prat.sprs_submitted_profile_img %>" alt="">
                                          <b>
                                            <%= prat.sprs_submitted_by_name %>
                                          </b>
                                        </div>
                                        <div class="rating-star">
                                          <p>
                                            <% for (var i=1; i <=5; i++ ) { %>
                                              <% if(i <=prat.sprs_rating){ %>
                                                <i class="fa fa-star"></i>
                                                <% }else{ %> <i class="fa fa-star-o"></i>
                                                  <% } } %>
                                                    <!-- <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i> -->
                                          </p>
                                          <p>
                                            <%=moment(prat.sprs_created_at).format("Do MMM, YYYY"); %>
                                          </p>
                                        </div>
                                      </div>
                                      <div class="comment-text">
                                        <p>
                                          <%= prat.sprs_review %>
                                        </p>
                                      </div>
                                    </div>
                                    <% c++; }); var avgRating=Math.round(plantRateSum/total); %>
                                      <!-- <%= total %>
                              <%= plantRateSum %> -->

                            </div>
                            <!-- <div style="order: 1;" class="col-lg-6">
                              <div class="float-left ">
                                <h1 class="pointer-fix" style="color: #005377;"><% if(!isNaN(avgRating)){ %><%= avgRating.toFixed(1) %> <% }else{%>0.0<% } %></h1>
                                <p style="margin-left: 20px;">out of 5</p>
                              </div>
                              <div>
                                <img class="feedback-img" src="images/feedback-2.png" alt="">
                              </div>
                            </div> -->
                            <div class="col-lg-6">
                              <div class="row align-item-center mt-3">
                                <div class="col-lg-2">
                                  <div class="float-left ">
                                    <h1 class="pointer-fix" style="color: #005377;">
                                      <% if(!isNaN(avgRating)){ %>
                                        <%= avgRating.toFixed(1) %>
                                          <% }else{%>0.0<% } %>
                                    </h1>
                                    <p style="margin-left: 20px;">out of 5</p>
                                  </div>
                                </div>
                                <div class="col-lg-10 mt-5">
                                  <div class="ratting-overall-box">
                                    <div class="star-rating-piramid">
                                      <ul>
                                        <li>
                                          <i class="fa fa-star"></i>
                                        </li>
                                        <li>
                                          <i class="fa fa-star"></i>
                                        </li>
                                        <li>
                                          <i class="fa fa-star"></i>
                                        </li>
                                        <li>
                                          <i class="fa fa-star"></i>
                                        </li>
                                        <li>
                                          <i class="fa fa-star"></i>
                                        </li>
                                      </ul>
                                      <ul>
                                        <li>
                                          <i class="fa fa-star"></i>
                                        </li>
                                        <li>
                                          <i class="fa fa-star"></i>
                                        </li>
                                        <li>
                                          <i class="fa fa-star"></i>
                                        </li>
                                        <li>
                                          <i class="fa fa-star"></i>
                                        </li>
                                      </ul>
                                      <ul>
                                        <li>
                                          <i class="fa fa-star"></i>
                                        </li>
                                        <li>
                                          <i class="fa fa-star"></i>
                                        </li>
                                        <li>
                                          <i class="fa fa-star"></i>
                                        </li>
                                      </ul>
                                      <ul>
                                        <li>
                                          <i class="fa fa-star"></i>
                                        </li>
                                        <li>
                                          <i class="fa fa-star"></i>
                                        </li>
                                      </ul>
                                      <ul>
                                        <li>
                                          <i class="fa fa-star"></i>
                                        </li>
                                      </ul>
                                    </div>
                                    <div class="progress-rating">
                                      <ul>
                                        <li>
                                          <div class="progress">
                                            <div class="progress-bar progress-bar-success" role="progressbar"
                                              aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                                              style="width:90%; background-color:#ffc107">
                                            </div>
                                          </div>
                                        </li>
                                      </ul>
                                      <ul>
                                        <li>
                                          <div class="progress">
                                            <div class="progress-bar progress-bar-success" role="progressbar"
                                              aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                                              style="width:70%; background-color:#ffc107">
                                            </div>
                                          </div>
                                        </li>
                                      </ul>
                                      <ul>
                                        <li>
                                          <div class="progress">
                                            <div class="progress-bar progress-bar-success" role="progressbar"
                                              aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                                              style="width:50%; background-color:#ffc107">
                                            </div>
                                          </div>
                                        </li>
                                      </ul>
                                      <ul>
                                        <li>
                                          <div class="progress">
                                            <div class="progress-bar progress-bar-success" role="progressbar"
                                              aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                                              style="width:40%;background-color:#ffc107">
                                            </div>
                                          </div>
                                        </li>
                                      </ul>
                                      <ul>
                                        <li>
                                          <div class="progress">
                                            <div class="progress-bar progress-bar-success" role="progressbar"
                                              aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                                              style="width:20%;background-color:#ffc107">
                                            </div>
                                          </div>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>



                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
    <%- include('dashboard_footer')-%>
