<%- include('head')-%>
  <div class="wrapper dashboard">
    <nav class="navbar navbar-expand-lg d-block d-xs-none d-lg-none">
      <a class="navbar-brand" href="/index"><img src="images/logo-2.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
      <div class="user-right">
        <ul class="login-menu">
          <li class="dropdown"><a href="#" class="dropdown-toggle" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="images/recent-user-1.png"
                width="40" height="40" class="rounded-circle"> John <i class="fa fa-angle-down"
                aria-hidden="true"></i></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Setting</a>
              <a class="dropdown-item" href="#">Account</a>
              <a class="dropdown-item" href="#">Log Out</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item ">
            <a class="nav-link" href="/signup-professionals-profile"><img class="act-img" src="images/1-active.png"><img
                src="images/1.png">PERSONAL DETAILS </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup-professionals-profile-2"><img class="act-img"
                src="images/2-active.png"><img src="images/2.png"> OTHER DETAILS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup-professionals-profile-3"><img class="act-img"
                src="images/3-active.png"><img src="images/3.png"> EDUCATION</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup-professionals-profile-4"><img class="act-img"
                src="images/4-active.png"><img src="images/4.png"> EMPLOYMENT HISTORY</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/signup-professionals-profile-5"><img class="act-img"
                src="images/5-active.png"><img src="images/5.png"> REFERENCES</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/signup-professionals-profile-6"><img class="act-img"
                src="images/6-active.png"><img src="images/6.png"> PROFESSIONAL INDEMNITY
              INSURANCE</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/signup-professionals-profile-7"><img class="act-img"
                src="images/7-active.png"><img src="images/7.png"> LANGUAGE</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="dashboard-wpr">
      <div class="container-fluid">
        <div class="row content">
          <div class="col-sm-3 sidenav2 hidden-xs-down">
            <div class=" text-center">
              <div class="">
                <a href="/index"><img src="images/logo-2.png"></a>
              </div>

            </div>
            <ul class="dashboard-nav">
              <li class="completed">
                <a href="javascript:void(0)" class="personal_detail_nev">
                  <img class="complete-img" src="images/checked.png">
                  <img class="act-img" src="images/1-active.png">
                  <img src="images/1.png">
                  PERSONAL DETAILS
                </a>
              </li>
              <li class="completed">
                <a href="javascript:void(0)" data-href="/signup-professionals-profile-2" class="other_detail_nev"> <img
                    class="complete-img" src="images/checked.png"><img class="act-img" src="images/2-active.png"><img
                    src="images/2.png"> OTHER DETAILS</a>
              </li>
              <li class="completed">
                <a href="javascript:void(0)" data-href="/signup-professionals-profile-3" class="education_detail_nev">
                  <img class="complete-img" src="images/checked.png"><img class="act-img" src="images/3-active.png"><img
                    src="images/3.png"> EDUCATION</a>
              </li>
              <li class="completed">
                <a href="javascript:void(0)" data-href="/signup-professionals-profile-4" class="employment_detail_nev">
                  <img class="complete-img" src="images/checked.png"><img src="images/4.png"> EMPLOYMENT HISTORY</a>
              </li>

              <li class="completed">
                <a href="javascript:void(0)" data-href="/signup-professionals-profile-5" class="refrence_detail_nev">
                  <img class="complete-img" src="images/checked.png"><img class="act-img" src="images/5-active.png"><img
                    src="images/5.png"> REFERENCES</a>
              </li>
              <li class="completed">
                <a href="javascript:void(0)" data-href="/signup-professionals-profile-6" class="indemnity_detail_nev">
                  <img class="complete-img" src="images/checked.png"><img class="act-img" src="images/6-active.png"><img
                    src="images/6.png"> PROFESSIONAL INDEMNITY
                  INSURANCE</a>
              </li>
              <li class="active">
                <a href="/signup-professionals-profile-7" data-href="/signup-professionals-profile-7"
                  class="language_detail_nev"><img class="act-img" src="images/7-active.png"><img src="images/7.png">
                  LANGUAGE</a>
              </li>
            </ul>
          </div>

          <div class="col-sm-12 col-lg-9">
            <div class=" dashboard-inner">
              <div class="row">
                <div class="col-sm-12 col-lg-9">
                  <div class="signup-header">
                    <!-- <p>START FOR FREE</p> -->

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-lg-9">
                  <div class="signup-head">
                    <h3>Languages Details</h3>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-3">
                  <div class="page-count">
                    <p> 7 of 7</p>
                  </div>
                </div>
              </div>
              <form class="form form-section" id="form7">

                <% if(typeof err_msg!='undefined' ){ %>
                  <span class="error_validate flash_msg" style="color: red; padding-bottom: 20px;">
                    <%= err_msg %>
                  </span>
                  <% }%>
                    <% if(typeof success_msg!='undefined' ){ %>
                      <span class="succ_flash_msg" style="color: green;">
                        <%= success_msg %>
                      </span>
                      <% }%>
                        <div class="row lang_div">
                          <div class="col-sm-12 col-lg-5">
                            <div class="form-group input-box-size-fix3">
                              <select class="form-control " class="text-field-size mt-0" id="selectBox"
                                name="spls_language" required>
                                <option value="">Select Language</option>
                                <option value="english">English</option>
                                <option value="german">German</option>
                                <option value="italian">Italian</option>
                                <option value="french">French</option>
                                <option value="spanish">Spanish</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-sm-12 col-lg-5">
                            <div class="form-group input-box-size-fix3">
                              <select class="form-control " class="text-field-size mt-0" id="selectBox"
                                name="spls_language_proficiency_level" required>
                                <option value="">Select Language Proficiency Level</option>
                                <option value="level1">Level 1 - Elementary Proficiency</option>
                                <option value="level2">Level 2 - Limited Working Proficiency
                                </option>
                                <option value="level3">Level 3 - Professional Working Proficiency
                                </option>
                                <option value="level4">Level 4 - Full Professional Proficiency
                                </option>
                                <option value="level5">Level 5 - Native / Bilingual Proficiency
                                </option>
                              </select>

                            </div>
                          </div>
                          <div class="col-sm-12 col-lg-1">
                            <div class="add-btn">
                              <button class="btn signup-professional7-add-btn" name="addPlusbtn"><i
                                  class="fa fa-plus"></i></button>
                            </div>
                          </div>
                        </div>

                        <div class="divv"></div>
                        <div class="row">
                          <div class="col-6 col-sm-6 col-lg-6">
                            <div class="prev-btn-fix2 float-left">
                              <a href="/signup-professionals-profile-6" class="btn previous-btn" style="width: 164px; ">
                                PREVIOUS</a>
                            </div>
                          </div>


                          <div class="col-6 col-sm-6 col-lg-6">
                            <div class="prev-btn-fix2 float-right">
                              <!-- <a href="portfolio" class="btn btn-next" style="width: 164px;">
                        NEXT</a> -->
                              <button type="submit" name="submit" class="btn btn-next" style="width: 164px;">
                                NEXT</button>
                            </div>
                          </div>

                        </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="../js/countrystatecity.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"
    integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg=="
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript">
    $('#form7').validate({
      onfocusout: function (element) {
        this.element(element);
      },
      errorClass: 'error_validate',
      errorElement: 'span',
      highlight: function (element, errorClass) {
        $(element).removeClass(errorClass);
      },
      submitHandler: function (form) {


      }
    });
  </script>
  <script type="text/javascript">
    $(document).ready(function () {
      var flash_msg = $('.flash_msg').html();
      if (flash_msg != "" && flash_msg != undefined) {
        setTimeout(function () { $('.flash_msg').html(''); }, 4000);
      }
    });

    $(document).ready(function () {
      var succ_flash_msg = $('.succ_flash_msg').html();
      if (succ_flash_msg != "" && succ_flash_msg != undefined) {
        setTimeout(function () { $('.succ_flash_msg').html(''); }, 4000);
      }
    });
  </script>
  <script>
    var c = 2;
    function test() {
      var domElement = $('<div class="row"> <div class="col-sm-12 col-lg-5"> <div class="input-box-size-fix3"><select class="form-control " class="text-field-size" id="selectBox" name="spls_language" required><option value="">Select Language</option>           <option value="english">English</option> <option value="german">German</option><option value="italian">Italian</option>           <option value="french">French</option> <option value="spanish">Spanish</option> </select>  </div> </div> <div class="col-sm-12 col-lg-5"> <div class="input-box-size-fix3">     <select class="form-control " class="text-field-size" id="selectBox"              name="spls_language_proficiency_level" required> <option value="">Select Language Proficiency Level</option><option value="level1">Level 1 - Elementary Proficiency</option>           <option value="level2">Level 2 - Limited Working Proficiency</option><option value="level3">Level 3 - Professional Working Proficiency</option> <option value="level4">Level 4 - Full Professional Proficiency </option> <option value="level5">Level 5 - Native / Bilingual Proficiency </option>  </select> </div> </div><div class="col-sm-12 col-lg-1"><div class="add-btn"' + c + '><a class="btn signup-professional7-add-btn remove_field" name="remove_field"><i class="fa fa-minus"></i></a></div></div></div> ' + c++);

      // if (c == 6) {

      //   $(this).attr('disabled', true);
      // }
      $(".divv").append(domElement);
    }
    $(document).ready(function () {
      var c = 2;
      $("button[name='addPlusbtn']").click(function (e) {
        e.preventDefault();

        var domElement = $('<div class="row"> <div class="col-sm-12 col-lg-5"> <div class="input-box-size-fix3"><select class="form-control " class="text-field-size" id="selectBox" name="spls_language" required><option value="">Select Language</option>           <option value="english">English</option> <option value="german">German</option><option value="italian">Italian</option>           <option value="french">French</option> <option value="spanish">Spanish</option> </select>  </div> </div> <div class="col-sm-12 col-lg-5"> <div class="input-box-size-fix3">     <select class="form-control " class="text-field-size" id="selectBox"              name="spls_language_proficiency_level" required> <option value="">Select Language Proficiency Level</option><option value="level1">Level 1 - Elementary Proficiency</option>           <option value="level2">Level 2 - Limited Working Proficiency</option><option value="level3">Level 3 - Professional Working Proficiency</option> <option value="level4">Level 4 - Full Professional Proficiency </option> <option value="level5">Level 5 - Native / Bilingual Proficiency </option>  </select> </div> </div><div class="col-sm-12 col-lg-1"><div class="add-btn"' + c + '><a class="btn signup-professional7-add-btn remove_field" name="remove_field"><i class="fa fa-minus"></i></a></div></div></div> ' + c++);

        if (c == 6) {

          $("button[name='addPlusbtn']").attr('disabled', true);
        }
        $(".divv").append(domElement);

      });
      $('.divv').on("click", ".remove_field", function (e) { //user click on remove text
        e.preventDefault(); $(this).parent('div').parent('div').parent('div').remove(); c--;

        $("button[name='addPlusbtn']").attr('disabled', false);


      })

    });
  </script>
  <script>
    $(document).ready(function () {

    });
  </script>
  <script>
    $(document).ready(function () {
      // var newHref1 = $('.other_detail_nev').attr('data-href');
      //   $('.other_detail_nev').attr('href',newHref1);
      //   var newHref2 = $('.education_detail_nev').attr('data-href');
      //   $('.education_detail_nev').attr('href',newHref2);
      //   var newHref3 = $('.employment_detail_nev').attr('data-href');
      //   $('.employment_detail_nev').attr('href',newHref3);

      //   var newHref4 = $('.refrence_detail_nev').attr('data-href');
      //   $('.refrence_detail_nev').attr('href',newHref4);
      //   var newHref5 = $('.refrence_detail_nev').attr('data-href');
      //   $('.refrence_detail_nev').attr('href',newHref5);
      //   var newHref6 = $('.indemnity_detail_nev').attr('data-href');
      //   $('.indemnity_detail_nev').attr('href',newHref6);
      //   var newHref7 = $('.indemnity_detail_nev').attr('data-href');
      //   $('.indemnity_detail_nev').attr('href',newHref7);
      var data = {
        user_id: '<%= session.user_id%>'
      }
      // alert("<%= session.user_id%>")
      $.ajax({
        type: "GET",
        data: data,
        url: "/api/service_provider_language",
        cache: false,
        success: function (resp) {
          console.log(resp);
          if (resp.status == true) {

            // var newHref8 = $('.indemnity_detail_nev').attr('data-href');
            // $('.indemnity_detail_nev').attr('href',newHref8);
            var htmlData = '';
            //htmlData += '<option value="">Select Professional</option>';
            if (resp.data.length > 0) {
              var element = '';
              $.each(resp.data, function (i, data) {
                console.log('val:', resp.data[0])
                if (data.spls_language_proficiency_level == 'level1') {
                  element = 'Level 1 - Elementary Proficiency'

                } else if (data.spls_language_proficiency_level == 'level2') {
                  element = 'Level 2 - Limited Working Proficiency'
                } else if (data.spls_language_proficiency_level == 'level3') {
                  element = 'Level 3 - Professional Working Proficiency'
                } else if (data.spls_language_proficiency_level == 'level4') {
                  element = 'Level 4 - Full Professional Proficiency'
                } else if (data.spls_language_proficiency_level == 'level5') {
                  element = 'Level 5 - Native / Bilingual Proficiency'
                }
                if (data.spls_language == 'english') {

                }

                htmlData += ' <div class="col-sm-12 col-lg-5"> <div class="input-box-size-fix3"><select class="form-control selectlangBox" class="text-field-size" id="selectBox" name="spls_language"><option value="' + data.spls_language.replace(/\w/, c => c.toUpperCase()) + '">' + data.spls_language.replace(/\w/, c => c.toUpperCase()) + '</option>           <option value="english">English</option> <option value="german">German</option> <option value="italian">Italian</option>          <option value="french">French</option> <option value="spanish">Spanish</option> </select>  </div> </div> <div class="col-sm-12 col-lg-5"> <div class="input-box-size-fix3">     <select class="form-control " class="text-field-size" id="selectBox"              name="spls_language_proficiency_level"> <option value="' + data.spls_language_proficiency_level + '">' + element + '</option><option value="level1">Level 1 - Elementary Proficiency</option>           <option value="level2">Level 2 - Limited Working Proficiency</option><option value="level3">Level 3 - Professional Working Proficiency</option> <option value="level4">Level 4 - Full Professional Proficiency </option> <option value="level5">Level 5 - Native / Bilingual Proficiency </option>  </select> </div> </div><input type="hidden" name="lang_id" value="' + data._id + '"> ';

              });


              //  htmlData +='<div class="add-btn"><a href="javascript:void(0)" onclick="test(this)"class="btn signup-professional7-add-btn_addmore" name="addPlusbtn1"><i class="fa fa-plus"></i></a></div>'
              if (resp.data.length < 4) {

                //$("button[name='addPlusbtn1']").attr('disabled', true);
                // htmlData += '<div class="col-sm-12 col-lg-5"> <div class="input-box-size-fix3"><select class="form-control " class="text-field-size" id="selectBox" name="spls_language"><option value="">Select Language</option>           <option value="english">English</option> <option value="german">German</option>           <option value="french">French</option> <option value="spanish">Spanish</option> </select>  </div> </div> <div class="col-sm-12 col-lg-5"> <div class="input-box-size-fix3">     <select class="form-control " class="text-field-size" id="selectBox"              name="spls_language_proficiency_level"> <option value="">Select Language Proficiency Level</option><option value="level1">Level 1 - Elementary Proficiency</option>           <option value="level2">Level 2 - Limited Working Proficiency</option><option value="level3">Level 3 - Professional Working Proficiency</option> <option value="level4">Level 4 - Full Professional Proficiency </option> <option value="level5">Level 5 - Native / Bilingual Proficiency </option>  </select> </div>';

              }
              $('.lang_div').html(htmlData);

            }


          }
        }
      })

      //Add language ajax============
      $('#form7').submit(function (e) {
        // alert(1);
        // return fasle;
        e.preventDefault()
        $('.loader-box').attr('style', 'display:flex !important');
        var formData = $('#form7').serialize();

        console.log('formData:', formData)
        $.ajax({
          type: "POST",
          data: formData,
          url: "/api/service_provider_language",
          cache: false,
          success: function (data) {
            console.log(data);
            if (data.status == false) {

              $('.loader-box').attr('style', 'display:none !important');

              Swal.fire({
                icon: 'error',
                title: data.message,
                showConfirmButton: false,
                confirmButtonColor: '#005377',
                timer: 4000
              })
              if (data.redirectpage == true) {
                setTimeout(function () {
                  //location.reload(true);
                  window.location.href = data.redirect;
                }, 4000);
              }

            } else {

              $('.loader-box').attr('style', 'display:none !important');

              Swal.fire({
                icon: 'success',
                title: data.message,
                showConfirmButton: false,
                confirmButtonColor: '#005377',
                timer: 4000
              })

              setTimeout(function () {
                //location.reload(true);
                window.location.href = "/portfolio";
              }, 4000);

            }
          }
        });
      })
    });
//     var ca=1
//     function test(input,c){

//       var domElement = $('<div class="row"> <div class="col-sm-12 col-lg-5"> <div class="input-box-size-fix3"><select class="form-control " class="text-field-size" id="selectBox" name="spls_language"><option value="">Select Language</option>           <option value="english">English</option> <option value="german">German</option>           <option value="french">French</option> <option value="spanish">Spanish</option> </select>  </div> </div> <div class="col-sm-12 col-lg-5"> <div class="input-box-size-fix3">     <select class="form-control " class="text-field-size" id="selectBox"              name="spls_language_proficiency_level"> <option value="">Select Language Proficiency Level</option><option value="level1">Level 1 - Elementary Proficiency</option>           <option value="level2">Level 2 - Limited Working Proficiency</option><option value="level3">Level 3 - Professional Working Proficiency</option> <option value="level4">Level 4 - Full Professional Proficiency </option> <option value="level5">Level 5 - Native / Bilingual Proficiency </option>  </select> </div> </div></div>' + c++);
//    alert(c)
// if (c == 5) {

//   $("button[name='addPlusbtn1']").attr('disabled', true);
// }
// $(".divv").append(domElement);
//     }
  </script>
  <script>
    function deleteLanguage(id) {
      // var langId = id;
      // Swal.fire({
      //   title: 'Are you sure want to remove?',
      //   showCancelButton: true,
      //   confirmButtonText: `Yes`,
      //   confirmButtonColor: '#005377',
      // }).then((result) => {
      //   if (result.isConfirmed) {
      //     $('.loader-box').attr('style', 'display:flex !important');
      //     $.ajax({
      //       type: "POST",
      //       data: {
      //         langId: langId,
      //         action: 'language-delete'
      //       },
      //       url: "/api/delete_service_provider_language",
      //       cache: false,
      //       success: function (data) {
      //         $('.loader-box').attr('style', 'display:none !important');
      //         console.log(data);
      //         if (data.status == true) {
      //           //location.reload(true);
      //           Swal.fire({
      //             icon: 'success',
      //             title: 'Language '+data.message,
      //             showConfirmButton: false,
      //             confirmButtonColor: '#005377',
      //             timer: 3000
      //           })
      //           setTimeout(function () {
      //             location.reload(true);
      //           }, 3000);
      //         } else {
      //           Swal.fire({
      //             icon: 'error',
      //             title: data.message,
      //             showConfirmButton: false,
      //             confirmButtonColor: '#005377',
      //             timer: 3000
      //           })
      //           setTimeout(function () {
      //             location.reload(true);
      //           }, 3000);
      //         }
      //       }
      //     });
      //   }
      // })
    }

  </script>
  </body>

  </html>