<%- include('head')-%>
  <section style="overflow: hidden;">
    <div class="container-fluid p-0">
      <div class="row">
        <div class="col-lg-6  p-0">
          <div class="signup">
            <div class="clearfix header-login">
              <div class="logo-signup float-left">
                <a class="navbar-brand" href="/index"><img src="images/logo-2.png" class="d-inline-block align-top"></a>
              </div>
              <div class="float-right">
                <a href="/intro" class="signin text-right">
                  <button type="submit" class="btn btn-sign">SIGN UP</button>
                </a>
              </div>
            </div>
            <p>CUSTOMER SIGN IN</p>
            <h1>Welcome back!</h1>
            <form id="loginform" class="form" method="post" action="/api/cust_signin">

              <!-- <% if(typeof err_msg!='undefined' ){ %>
                <span class="error_validate flash_msg" style="color: red;">
                  <%= err_msg %>
                </span>
                <% }%> -->

              <!-- <div class="isa_success">
                  <i class="fa fa-check"></i>YOU HAVE REGISTER SUCCESSFULLY !!
                </div> -->
              <!-- <% if(typeof success_msg!='undefined' ){ %>
                     <span class="succ_flash_msg" style="color: green;">
                      <%= success_msg %>
                    </span> -->
              <!-- <span class="succ_flash_msg">
                      <div class="isa_success">
                        <i class="fa fa-check"></i> &nbsp;&nbsp; <%= success_msg %>
                      </div>
                    </span>
                    <% }%> -->


              <% if(typeof success_msg!='undefined' ){ %>

                <span class="succ_flash_msg">
                  <div class="isa_success">
                    <i class="fa fa-check"></i> &nbsp;&nbsp; <%= success_msg %>
                  </div>
                </span>
                <% }%>


                  <div class="form-group ">
                    <input type="hidden" class="form-control " id="token" name="token">
                    <input type="email" class="form-control signin-form-control" id="email" placeholder="Email ID"
                      name="cus_email_id" data-rule-required="true" data-rule-email="true"
                      data-msg-required="Please Enter Email Id!" data-msg-email="Please Enter Valid Email-ID!">
                    <input type="password" class="form-control signin-form-control" id="password" placeholder="Password"
                      name="cus_password" data-rule-required="true" data-rule-maxlength="30"
                      data-msg-required="Please Enter Password!">
                  </div>
                  <div class="forgot-pass">
                    <p><a href="/forget-password" style="color: #005377;">
                        Forgot Password? </a> </p>
                  </div>
                  <br />
                  <div class="signin-submit">
                    <!-- <a href="/otp" class="btn signin-submit-btn">SUBMIT</a> -->
                    <button type="submit" name="submit" class="btn signin-submit-btn">SUBMIT</button>
                  </div>
                  <br />
                  <div class="signin-footer">
                    <p class="text-center" style="color: #3f3e3e;">Don’t have an account? <a href="/signup"
                        style="color: #005377;">
                        Sign up</a> </p>
                  </div>

            </form>
          </div>
        </div>

        <div class="col-md-6">
          <div class="login-slider">
            <div class="item">
              <img src="images/becom1.png" alt="">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="find-slider">Find the best service providers for your home</h5>
              </div>
            </div>
            <div class="item">
              <img src="images/becom2.png" alt="">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="find-slider">Browse service providers by portfolio</h5>
              </div>
            </div>
            <div class="item">
              <img src="images/becom3.png" alt="">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="find-slider">Enjoy RelAi's services for your home</h5>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script> -->



  <script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="../js/slick.js"></script>
  <script type="text/javascript" src="../js/slick.min.js"></script>

  <script type="text/javascript">
    $(".login-slider").slick({
      dots: true,
      autoplay: true,
      autoplaySpeed: 3000,
      infinite: true,
      arrows: true,
      slidesToShow: 1,
      slidesToScroll: 1,
      responsive: [
        {
          breakpoint: 768,
          settings: {
            arrows: false,
            centerMode: false,
            centerPadding: '40px',
            slidesToShow: 1,
            slidesToScroll: 1
          }
        },
        {
          breakpoint: 480,
          settings: {
            arrows: false,
            centerMode: false,
            centerPadding: '40px',
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    });

  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"
    integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg=="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>
  <script>
    $(document).ready(function () {
      $(".sidenav ul li").click(function () {
        $(".sidenav ul li").removeClass("active");
        $(this).addClass("active");
      });
    });
    $(document).ready(function () {
      $(".right-navbar li").click(function () {
        $("right-navbar li").removeClass("active");
        $(this).addClass("active");
      });
    });


    // $(document).ready(function () {
    //      var errorAlert = '<% if(typeof err_msg!="undefined"){%><%=err_msg%><% }else{%>empty<%}%>';
    //     // alert(successAlert);
    //     console.log('successAlert:',errorAlert);
    //      if(errorAlert !== 'empty'){
    //            Swal.fire({
    //                // position: 'top-end',
    //                 icon: 'error',
    //                 title: errorAlert,
    //                 showConfirmButton: true,
    //                 confirmButtonColor: '#005377',
    //                 timer: 3000
    //               })
    //      }
    //   });

  </script>

  <script type="text/javascript">
    $('#loginform').validate({
      onfocusout: function (element) {
        this.element(element);
      },
      errorClass: 'error_validate',
      errorElement: 'span',
      errorColor: 'red',
      highlight: function (element, errorClass) {
        $(element).removeClass(errorClass);
      },
      submitHandler: function (form) {
        //$('#submit').attr('disabled', true);
        // form.submit();
        //$('.loader-box').show()
        $('.loader-box').attr('style', 'display:flex !important');
        var formData = $('#loginform').serialize();
        console.log('formData:', formData)
        $.ajax({
          type: "POST",
          data: formData,
          url: "/api/cust_signin",
          cache: false,
          success: function (data) {
            console.log(data);
            if (data.status == false) {
              $('.loader-box').attr('style', 'display:none !important');
              //$('#changePasswordModal').modal('hide');
              // $('.complaint_msg').html('<div class="isa_success"><i class="fa fa-check"></i> 0000'+data.message+'</div>')
              Swal.fire({
                icon: 'error',
                title: data.message,
                showConfirmButton: false,
                confirmButtonColor: '#005377',
                timer: 4000
              })

              if(data.redirectpage == true){
                setTimeout(function () {
                //location.reload(true);
                window.location.href =  data.redirect;
              }, 4000);
              }
             


            } else {
              $('.loader-box').attr('style', 'display:none !important');
              Swal.fire({
                icon: 'success',
                title: data.message,
                showConfirmButton: false,
                confirmButtonColor: '#005377',
                timer: 4000
              })

              setTimeout(function () {
                //location.reload(true);
                window.location.href = "/dashboard";
              }, 4000);

            }
          }
        });


      }
    });
  </script>
  <script type="text/javascript">
    $(document).ready(function () {
      var flash_msg = $('.flash_msg').html();
      if (flash_msg != "" && flash_msg != undefined) {
        setTimeout(function () { $('.flash_msg').html(''); }, 4000);
      }
    });

    $(document).ready(function () {
      var succ_flash_msg = $('.succ_flash_msg').html();
      if (succ_flash_msg != "" && succ_flash_msg != undefined) {
        setTimeout(function () { $('.succ_flash_msg').html(''); }, 4000);
      }
    });

  </script>

  <script>function getParameterByName(name, url = window.location.href) {
      name = name.replace(/[\[\]]/g, '\\$&');
      var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
        results = regex.exec(url);
      if (!results) return null;
      if (!results[2]) return '';
      return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }
    var email = getParameterByName('email'); // "lorem"
    var token = getParameterByName('token');

    if (token) {
      $('#token').val(token);
    }
    if (email) {
      $('#email').val(email);
      $('#email').attr('readonly', 'readonly');
    }
    else {
      $('#email').val('');
      $('#email').attrRemove('readonly');
    }
  </script>

  </body>

  </html>