<%- include('head')-%>
  <!-- The Modal -->
  <div class="modal permission-modal fade " id="myModal1">
    <div class="modal-dialog">
      <div class="modal-content">
        <form class="form" method="post" id="employment_form">
          <!-- Modal Header -->
          <div class="modal-header text-center">
            <h2 class="modal-title w-100">Add Employment</h2>
          </div>

          <!-- Modal body -->
          <div class="modal-body">


            <input type="text" class="form-control form-control-fix2" id="spehs_name_of_employer"
              placeholder=" Name of Employer" name="spehs_name_of_employer" data-rule-required="true"
              data-msg-required="Employer name is required!" required>

            <input type="text" class="form-control form-control-fix2" id="spehs_job_title" placeholder=" Job Title"
              name="spehs_job_title" data-rule-required="true" data-msg-required="Job Title is required" required>

            <input type="text" class="form-control form-control-fix2" id="spehs_job_description"
              placeholder="Job Description" name="spehs_job_description" data-rule-required="true"
              data-msg-required="Job Description is required!" required>

            <input type="text" class="form-control form-control-fix2" id="spehs_reason_for_leaving"
              placeholder=" Reason for Leaving" name="spehs_reason_for_leaving" required>

            <div class="row">
              <div class="col-sm-12 col-lg-6">
                <input type="text" onfocus="(this.type='date')" class="form-control  form-control-fix2"
                  id="spehs_from_date" placeholder="from Date" name="spehs_from_date" data-rule-required="true"
                  data-msg-required="From Date is required!" required>
              </div>
              <div class="col-sm-12 col-lg-6">
                <input type="text" onfocus="(this.type='date')" class="form-control  form-control-fix2"
                  id="spehs_to_date" placeholder="toDate" name="spehs_to_date" data-rule-required="true"
                  data-msg-required="To Date is required!" required>
              </div>
            </div>
            <input type="hidden" name="employment_id" value="" class="edit_employment_id">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-cancel" data-dismiss="modal">Cancel</button>
            <button name="submit" type="submit" id="Employment_form_btn"
              class="btn btn-cancel Employment_form_btn">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>



  <div class="wrapper dashboard">
    <nav class="navbar navbar-expand-lg d-block d-xs-none d-lg-none">
      <a class="navbar-brand" href="/index"><img src="images/logo-2.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
      <div class="user-right">
        <ul class="login-menu">
          <li class="dropdown"><a href="#" class="dropdown-toggle" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="images/recent-user-1.png"
                width="40" height="40" class="rounded-circle"> John <i class="fa fa-angle-down"
                aria-hidden="true"></i></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Setting</a>
              <a class="dropdown-item" href="#">Account</a>
              <a class="dropdown-item" href="#">Log Out</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item ">
            <a class="nav-link" href="/signup-professionals-profile"><img class="act-img" src="images/1-active.png"><img
                src="images/1.png">PERSONAL DETAILS </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup-professionals-profile-2"><img class="act-img"
                src="images/2-active.png"><img src="images/2.png"> OTHER DETAILS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup-professionals-profile-3"><img class="act-img"
                src="images/3-active.png"><img src="images/3.png"> EDUCATION</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/signup-professionals-profile-4"><img class="act-img"
                src="images/4-active.png"><img src="images/4.png"> EMPLOYMENT HISTORY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup-professionals-profile-5"><img class="act-img"
                src="images/5-active.png"><img src="images/5.png"> REFERENCES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup-professionals-profile-6"><img class="act-img"
                src="images/6-active.png"><img src="images/6.png"> PROFESSIONAL INDEMNITY
              INSURANCE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup-professionals-profile-7"><img class="act-img"
                src="images/7-active.png"><img src="images/7.png"> LANGUAGE</a>
          </li>
        </ul>
      </div>
    </nav>





    <div class="dashboard-wpr">
      <div class="container-fluid">
        <div class="row content">
          <div class="col-sm-3 sidenav2 hidden-xs-down">
            <div class=" text-center">
              <div class="">
                <a href="/index"><img src="images/logo-2.png"></a>
              </div>

            </div>
            <ul class="dashboard-nav">
              <li class="completed">
                <a href="/signup-professionals-profile">
                  <img class="complete-img" src="images/checked.png">
                  <img class="act-img" src="images/1-active.png">
                  <img src="images/1.png">
                  PERSONAL DETAILS
                </a>
              </li>
              <li class="completed">
                <a href="/signup-professionals-profile-2">
                  <img class="complete-img" src="images/checked.png">
                  <img class="act-img" src="images/2-active.png">
                  <img src="images/2.png"> OTHER DETAILS</a>
              </li>
              <li class="completed">
                <a href="/signup-professionals-profile-3">
                  <img class="complete-img" src="images/checked.png">
                  <img class="act-img" src="images/3-active.png">
                  <img src="images/3.png"> EDUCATION</a>
              </li>
              <li class="active">
                <a href="/signup-professionals-profile-4"><img class="act-img" src="images/4-active.png"><img
                    src="images/4.png"> EMPLOYMENT HISTORY</a>
              </li>

              <li>
                <a href="/signup-professionals-profile-5"><img class="act-img" src="images/5-active.png"><img
                    src="images/5.png"> REFERENCES</a>
              </li>
              <li>
                <a href="/signup-professionals-profile-6"><img class="act-img" src="images/6-active.png"><img
                    src="images/6.png"> PROFESSIONAL INDEMNITY
                  INSURANCE</a>
              </li>
              <li>
                <a href="/signup-professionals-profile-7"><img class="act-img" src="images/7-active.png"><img
                    src="images/7.png"> LANGUAGE</a>
              </li>
            </ul>
          </div>

          <div class="col-sm-12 col-lg-9">
            <div class=" dashboard-inner">
              <div class="row">
                <div class="col-sm-12 col-lg-9">
                  <div class="signup-header">
                    <!-- <p>START FOR FREE</p> -->

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-lg-9">
                  <div class="signup-head">
                    <h3>Employment History</h3>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-3">
                  <div class="page-count">
                    <p> 4 of 7</p>
                  </div>
                </div>
              </div>
              <form action="#" class="form form-section">
                <% if(typeof err_msg!='undefined' ){ %>
                  <span class="error_validate flash_msg" style="color: red; padding-bottom: 20px;">
                    <%= err_msg %>
                  </span>
                  <% }%>
                    <% if(typeof success_msg!='undefined' ){ %>
                      <span class="succ_flash_msg" style="color: green;">
                        <%= success_msg %>
                      </span>
                      <% }%>
                        <div class="eductaion-sec">

                          <div class="employment-sec">
                            <p>Add your past work experience</p>
                            <h5>Build your credibility by showcasing the projects or jobs you h</h5>
                            <div class="employment_list">
                              <%if(all_employe_history.length>0){%>
                                <%all_employe_history.forEach(function(row,i){%>
                                  <div class="row">
                                    <div class="col-sm-12 col-lg-9">
                                      <div class="">
                                        <p><b>
                                            <%=row.spehs_name_of_employer%> . <%=row.spehs_job_title%>
                                          </b></p>
                                        <h6>
                                          <%=row.spehs_job_description%>
                                        </h6>
                                        <h6>
                                          <%=moment(row.spehs_from_date).format("YYYY")%>-
                                            <%=moment(row.spehs_to_date).format("YYYY")%>
                                        </h6>
                                      </div>
                                    </div>
                                    <div class="col-sm-12 col-lg-3">
                                      <div class="">
                                        <img onclick="editEmployment('<%= row._id %>')" style="width:19%"
                                          src="images/write-icon.png" alt="">&nbsp;&nbsp;&nbsp;&nbsp;
                                        <img onclick="deleteEmployment('<%= row._id %>')" style="width:19%"
                                          src="images/delete-icon.png" alt="">
                                      </div>
                                    </div>
                                  </div>
                                  <%})%>
                                    <%}else{%>
                                      <%}%>
                            </div>
                            <div class="emp-btn float-left">
                              <a href="#" class="btn add-edu-btn Employment-btn" data-toggle="modal"
                                data-target="#myModal1"><i class="fa fa-plus">&nbsp;&nbsp;&nbsp;</i>
                                Add Employment</a>
                            </div>

                          </div>
                        </div>


                        <div class="row">
                          <div class="col-6 col-sm-6 col-lg-6">
                            <div class="prev-btn float-left">
                              <a href="/signup-professionals-profile-3" class="btn previous-btn" style="width: 164px;">
                                PREVIOUS</a>
                            </div>
                          </div>

                          <div class="col-6 col-sm-6 col-lg-6">
                            <div class="prev-btn float-right">
                              <a href="/signup-professionals-profile-5" id="next_btn_4" class="btn btn-next"
                                style="width: 164px;">
                                NEXT</a>
                            </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script>
    $(document).ready(function () {
      $(".sidenav ul li").click(function () {
        $(".sidenav ul li").removeClass("active");
        $(this).addClass("active");
      });
    });
    $(document).ready(function () {
      $(".right-navbar li").click(function () {
        $("right-navbar li").removeClass("active");
        $(this).addClass("active");
      });
    });
  </script>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"
    integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg=="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>
  <script type="text/javascript">
    $(".Employment-btn").click(function (e) {
      $('#employment_form')[0].reset();
      $('#myModal1').modal('show');
      $('.Employment_form_btn').text('Save');
      $('#employment_form .edit_employment_id').val();
      $('#employment_form h2.modal-title.w-100').text('Add Employment');
    });
    $('#employment_form').validate({
      onfocusout: function (element) {
        this.element(element);
      },
      errorClass: 'error_validate',
      errorElement: 'span',
      highlight: function (element, errorClass) {
        $(element).removeClass(errorClass);
      },
      submitHandler: function (form) {
        $('#submit').attr('disabled', true);
        //form.submit();

      }
    });
  </script>

  <script type="text/javascript">
    $(document).ready(function () {
      var flash_msg = $('.flash_msg').html();
      if (flash_msg != "" && flash_msg != undefined) {
        setTimeout(function () { $('.flash_msg').html(''); }, 4000);
      }
    });

    $(document).ready(function () {
      var succ_flash_msg = $('.succ_flash_msg').html();
      if (succ_flash_msg != "" && succ_flash_msg != undefined) {
        setTimeout(function () { $('.succ_flash_msg').html(''); }, 4000);
      }
    });
  </script>
  <script>
    $(document).ready(function () {
      //$('#next_btn_4').attr('disabled', true);
      $("#Employment_form_btn").click(function (e) {
        e.preventDefault();
        //alert(e.target)
        var formdata = $("#employment_form").serialize();
        console.log('formdata:', formdata);
        $.ajax({
          type: "POST",
          data: formdata,
          url: "/api/service_provider_employment_history",
          cache: false,
          //dataType:'json',
          success: function (data) {
            console.log(data)
            if (data.status == true) {
              $('#employment_form')[0].reset();
              if (data.action == 'add') {
                var fromDateYear = new Date(data.employmentDetail.spehs_from_date).getFullYear();
                var toDateYear = new Date(data.employmentDetail.spehs_to_date).getFullYear();
                $('#myModal1').modal('hide');
                $('.employment_list').append('<div class="row"><div class="col-sm-12 col-lg-9"><div class=""><p><b>' + data.employmentDetail.spehs_name_of_employer + ' . ' + data.employmentDetail.spehs_job_title + '</p></b><h6>' + data.employmentDetail.spehs_job_description + '</h6><h6>' + fromDateYear + '-' + toDateYear + '</h6></div></div><div class="col-sm-12 col-lg-3"><div class=""> <img style="width:19%"onclick="editEmployment(' + "'" + data.employmentDetail._id + "'" + ')" src="images/write-icon.png" alt="">&nbsp;&nbsp;&nbsp;&nbsp;<img style="width:19%" onclick="deleteEmployment(' + "'" + data.employmentDetail._id + "'" + ')"src="images/delete-icon.png" alt=""></div></div></div>')
              } else {
                Swal.fire({
                  icon: 'success',
                  title: data.success_msg,
                  showConfirmButton: false,
                  confirmButtonColor: '#005377',
                  timer: 3000
                })
                setTimeout(function () {
                  location.reload(true);
                }, 3000);
              }
            } else {
              Swal.fire({
                icon: 'error',
                title: data.err_msg,
                showConfirmButton: false,
                confirmButtonColor: '#005377',
                timer: 3000
              })
              setTimeout(function () {
                location.reload(true);
              }, 3000);

            }
          }
        })
      })
    });
  </script>
  <script>
    function editEmployment(id) {
      var emp_historyId = id;
      $.ajax({
        type: "POST",
        data: {
          emp_historyId: emp_historyId,
          action: 'employment-edit'
        },
        url: "/api/edit-service_provider_employment_history",
        cache: false,
        success: function (data) {
          console.log(data);
          $('#myModal1').modal('show');
          if (data.status == true) {
            $('.edit_employment_id').val(data.data._id)
            $('#spehs_name_of_employer').val(data.data.spehs_name_of_employer);
            $('#spehs_job_title').val(data.data.spehs_job_title);
            $('#spehs_job_description').val(data.data.spehs_job_description);
            $('#spehs_reason_for_leaving').val(data.data.spehs_reason_for_leaving);
            $('#spehs_from_date').val(data.data.spehs_from_date);
            $('#spehs_to_date').val(data.data.spehs_to_date);
            $('.Employment_form_btn').text('Update');
            $('#employment_form h2.modal-title.w-100').text('Update Education');

          } else {
            Swal.fire({
              icon: 'error',
              title: data.message,
              showConfirmButton: false,
              confirmButtonColor: '#005377',
              timer: 3000
            })
            setTimeout(function () {
              location.reload(true);
            }, 3000);
          }
        }
      });
    }


    function deleteEmployment(id) {
      var emp_historyId = id;
      Swal.fire({
        title: 'Are you sure want to remove?',
        showCancelButton: true,
        confirmButtonText: `Yes`,
        confirmButtonColor: '#005377',
      }).then((result) => {
        if (result.isConfirmed) {
          $.ajax({
            type: "POST",
            data: {
              emp_historyId: emp_historyId,
              action: 'employment-delete'
            },
            url: "/api/delete-service_provider_employment_history",
            cache: false,
            success: function (data) {
              console.log(data);
              if (data.status == true) {
                //location.reload(true);
                Swal.fire({
                  icon: 'success',
                  title: data.message,
                  showConfirmButton: false,
                  confirmButtonColor: '#005377',
                  timer: 3000
                })
                setTimeout(function () {
                  location.reload(true);
                }, 3000);
              } else {
                Swal.fire({
                  icon: 'error',
                  title: data.message,
                  showConfirmButton: false,
                  confirmButtonColor: '#005377',
                  timer: 3000
                })
                setTimeout(function () {
                  location.reload(true);
                }, 3000);
              }
            }
          });
        }
      })
    }
  </script>






  </body>

  </html>